openapi: 3.2.0
info:
  title: JobBOSS² Public Company Calendar API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Company Calendar
paths:
  /api/v1/company-calendars:
    get:
      tags:
      - Company Calendar
      summary: Gets a list of Company Calendars
      description: 'By default a company calendar response will include only the fields: calendarType, capacityFactor, code, date, hoursAvailable, hoursAvailableShift1, hoursAvailableShift2, hoursAvailableShift3, lastModDate, lastModUser, scheduleBegin, scheduleEnd, searchDate, shift1Begin, shift1DefaultEmployeeCode, shift1End, shift2Begin, shift2CapacityFactor, shift2DefaultEmployeeCode, shift2End, shift3Begin, shift3CapacityFactor, shift3DefaultEmployeeCode, shift3End, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by SearchDate:
            value:
              searchDate: '3'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCalendarListSuccessResponse'
              example:
                Data:
                - calendarType: string
                  capacityFactor: 0
                  code: string
                  date: '2026-09-06T17:13:12.0000000+00:00'
                  hoursAvailable: 0
                  hoursAvailableShift1: 0
                  hoursAvailableShift2: 0
                  hoursAvailableShift3: 0
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  scheduleBegin: string
                  scheduleEnd: string
                  searchDate: 0
                  shift1Begin: string
                  shift1DefaultEmployeeCode: string
                  shift1End: string
                  shift2Begin: string
                  shift2CapacityFactor: 0
                  shift2DefaultEmployeeCode: string
                  shift2End: string
                  shift3Begin: string
                  shift3CapacityFactor: 0
                  shift3DefaultEmployeeCode: string
                  shift3End: string
                  uniqueID: 0
      operationId: getApiV1CompanyCalendars
      x-operation-id-source: derived
components:
  schemas:
    CompanyCalendar:
      type: object
      properties:
        calendarType:
          type:
          - string
          - 'null'
          readOnly: true
        capacityFactor:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        code:
          type:
          - string
          - 'null'
          readOnly: true
        date:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        hoursAvailable:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        hoursAvailableShift1:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        hoursAvailableShift2:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        hoursAvailableShift3:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        scheduleBegin:
          type:
          - string
          - 'null'
          readOnly: true
        scheduleEnd:
          type:
          - string
          - 'null'
          readOnly: true
        searchDate:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        shift1Begin:
          type:
          - string
          - 'null'
          readOnly: true
        shift1DefaultEmployeeCode:
          type:
          - string
          - 'null'
          readOnly: true
        shift1End:
          type:
          - string
          - 'null'
          readOnly: true
        shift2Begin:
          type:
          - string
          - 'null'
          readOnly: true
        shift2CapacityFactor:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        shift2DefaultEmployeeCode:
          type:
          - string
          - 'null'
          readOnly: true
        shift2End:
          type:
          - string
          - 'null'
          readOnly: true
        shift3Begin:
          type:
          - string
          - 'null'
          readOnly: true
        shift3CapacityFactor:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        shift3DefaultEmployeeCode:
          type:
          - string
          - 'null'
          readOnly: true
        shift3End:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CompanyCalendarListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanyCalendar'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
