openapi: 3.2.0
info:
  title: ERP API v2.1 Part Revision API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: PartRevision
paths:
  /api/v2.1/part-revisions:
    post:
      tags:
      - PartRevision
      summary: Create a new PartRevision in the ERP system
      description: '## Supported ERPs

        - JobBOSS²'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartRevisionCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/PartRevisionCreateModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PartRevisionCreateModel'
      responses:
        '201':
          description: Created
      operationId: postApiV21PartRevisions
      x-operation-id-source: derived
    get:
      tags:
      - PartRevision
      summary: Get a list of PartRevisions from the ERP system that match the given filters
      description: 'Gets a list of PartRevision.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        partID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        partRevisionID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        shortDesc|Yes|Yes|M1, JobBOSS², Macola, Deacom

        longDescText|Yes|Yes|M1, JobBOSS², Macola, Deacom

        longDescFormatted|Yes|Yes|M1, JobBOSS², Macola, Deacom

        uniqueID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        rowVersion|Yes|Yes|M1, JobBOSS², Macola, Deacom

        partCost|No|Yes|M1, JobBOSS², Macola, Deacom

        effectiveStartDate|No|Yes|JobBOSS²

        expirationEndDate|No|Yes|JobBOSS²

        supplierOrganizationID|No|Yes|JobBOSS²

        leadTime|No|Yes|JobBOSS²

        quantityOnHand|No|Yes|JobBOSS²

        pricingUnitOfMeasure|No|Yes|JobBOSS²'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              partID[eq]: abc123
              partRevisionID[eq]: abc123
              shortDesc[eq]: abc123
              longDescText[eq]: abc123
              longDescFormatted[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PartRevisionListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PartRevisionListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PartRevisionListResponse'
      operationId: getApiV21PartRevisions
      x-operation-id-source: derived
  /api/v2.1/part-revisions/{id}:
    get:
      tags:
      - PartRevision
      summary: Get a PartRevisions from the ERP system that match the given filters
      description: 'Gets a PartRevision by unique ID.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        - Deacom

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        partID||M1, JobBOSS², Macola, Deacom

        partRevisionID||M1, JobBOSS², Macola, Deacom

        shortDesc||M1, JobBOSS², Macola, Deacom

        longDescText||M1, JobBOSS², Macola, Deacom

        longDescFormatted||M1, JobBOSS², Macola, Deacom

        uniqueID||M1, JobBOSS², Macola, Deacom

        rowVersion||M1, JobBOSS², Macola, Deacom

        partCost||M1, JobBOSS², Macola, Deacom

        effectiveStartDate||JobBOSS²

        expirationEndDate||JobBOSS²

        supplierOrganizationID||JobBOSS²

        leadTime||JobBOSS²

        quantityOnHand||JobBOSS²

        pricingUnitOfMeasure||JobBOSS²'
      parameters:
      - name: id
        in: path
        description: The ID of the PartRevision
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PartRevision'
            application/json:
              schema:
                $ref: '#/components/schemas/PartRevision'
            text/json:
              schema:
                $ref: '#/components/schemas/PartRevision'
      operationId: getApiV21PartRevisionsById
      x-operation-id-source: derived
components:
  schemas:
    PartRevisionCreateModel:
      required:
      - partID
      - partRevisionID
      - shortDesc
      type: object
      properties:
        partID:
          minLength: 1
          type: string
          description: The ID or code identifying the part.
        partRevisionID:
          type: string
          description: The ID or code identifying the part revision.
        shortDesc:
          minLength: 1
          type: string
          description: The short description for the part revision.
        supplierOrganizationID:
          type:
          - string
          - 'null'
          description: The ID of the primary supplier of the part revision.
        leadTime:
          type:
          - integer
          - 'null'
          description: The expected lead time in days for the part revision.
          format: int32
        pricingUnitOfMeasure:
          type:
          - string
          - 'null'
          description: The unit of measure used when pricing the part revision.
      additionalProperties: false
      description: A model used to create new part revisions.
    PartRevision:
      title: PartRevision
      type: object
      properties:
        partID:
          type: string
        partRevisionID:
          type: string
        shortDesc:
          type: string
        longDescText:
          type: string
        longDescFormatted:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        partCost:
          type: number
          format: double
        effectiveStartDate:
          type: string
          format: date
        expirationEndDate:
          type: string
          format: date
        supplierOrganizationID:
          type: string
        leadTime:
          type: integer
          format: int32
        quantityOnHand:
          type: number
          format: double
        pricingUnitOfMeasure:
          type: string
    PartRevisionListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PartRevision'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
