openapi: 3.2.0
info:
  title: MFG Integration Management Nexus API
  description: Provides APIs for managing ECI MFG Integration Engine Configurations.
  contact:
    name: ECI Manufacturing Integration Team
    url: https://www.ecisolutions.com/support/
  version: 2.22.273+b02c1dfd00
servers:
- url: https://api-user.integrations.ecimanufacturing.com:443
  description: Production
security:
- oidc:
  - openid
- Basic: []
tags:
- name: Nexus
paths:
  /api/Nexus/companies:
    get:
      tags:
      - Nexus
      summary: Get the list of Nexus Companies
      description: 'Accessible By: Global Admin, Product Admin, Product Support User.\

        Accessed From: User Mgmt UI.\

        Description: Get the list of Nexus Companies.'
      operationId: ListNexusCompany
      parameters:
      - name: q
        in: query
        description: q
        schema:
          type: string
      - name: field
        in: query
        description: field
        schema:
          type: string
          default: company-name
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NexusCompaniesResponseModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/NexusCompaniesResponseModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NexusCompaniesResponseModelListAPIResponse'
    post:
      tags:
      - Nexus
      summary: Create a Nexus Company
      description: 'Accessible By: Global Admin, Product Admin.\

        Accessed From: User Mgmt UI.\

        Description: Create a Nexus Company.

        Global Admin can add a Company assigned to any Product.

        Product Admin may only add a Company assigned to one of the Products which they can administrate.

        Company Id and Customer Id must be unique.'
      operationId: AddNexusCompany
      requestBody:
        description: An object which contains all the required and optional fields to create a company.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/NexusCompanyRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/NexusCompanyRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/NexusCompanyRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddNexusCompanyResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddNexusCompanyResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AddNexusCompanyResponseModelAPIResponse'
  /api/Nexus/companies/{id}:
    get:
      tags:
      - Nexus
      summary: Get the details of a Nexus Company by Nexus Id
      description: 'Accessible By: Global Admin, Product Admin, Product Support User.\

        Accessed From: User Mgmt UI.\

        Description: Get the details of a Nexus Company by Nexus Id.'
      operationId: FindNexusCompany
      parameters:
      - name: id
        in: path
        description: The Company Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NexusCompanyResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/NexusCompanyResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NexusCompanyResponseModelAPIResponse'
  /api/Nexus/company-alias-match:
    get:
      tags:
      - Nexus
      summary: Get the list of Nexus Companies matching a given alias value
      description: 'Accessible By: Global Admin, Product Admin, Product Support User.\

        Accessed From: User Mgmt UI.\

        Description: Get the list of Nexus Companies matching a given alias value.'
      operationId: ListNexusAliasCompany
      parameters:
      - name: alias
        in: query
        description: alias
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NexusAliasCompaniesResponseModelIReadOnlyListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/NexusAliasCompaniesResponseModelIReadOnlyListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NexusAliasCompaniesResponseModelIReadOnlyListAPIResponse'
components:
  schemas:
    NexusCompaniesResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiError:
      type: object
      properties:
        isError:
          type: boolean
        exceptionMessage:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        referenceErrorCode:
          type:
          - string
          - 'null'
        referenceDocumentLink:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
      additionalProperties: false
    NexusAliasCompaniesResponseModel:
      type: object
      properties:
        nexusId:
          type:
          - integer
          - 'null'
          format: int32
        companyDisplayName:
          type:
          - string
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        levenshteinDistance:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    NexusCompanyResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/NexusCompanyResponseModel'
      additionalProperties: false
    AddNexusCompanyResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/AddNexusCompanyResponseModel'
      additionalProperties: false
    NexusAliasCompaniesResponseModelIReadOnlyListAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NexusAliasCompaniesResponseModel'
      additionalProperties: false
    NexusCompaniesResponseModelListAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NexusCompaniesResponseModel'
      additionalProperties: false
    NexusCompanyResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        displayName:
          type:
          - string
          - 'null'
        defaultCustomerId:
          type:
          - string
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        aliases:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
      additionalProperties: false
    NexusCompanyRequestModel:
      required:
      - companyName
      - customerId
      - nexusId
      - productId
      type: object
      properties:
        productId:
          type: integer
          format: int32
        companyName:
          maxLength: 150
          minLength: 0
          type: string
        customerId:
          minLength: 1
          type: string
        nexusId:
          type: integer
          format: int32
      additionalProperties: false
    AddNexusCompanyResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        companyName:
          type:
          - string
          - 'null'
        customerId:
          type:
          - string
          - 'null'
        nexusId:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Use id_token obtained from OpenID Connect flow.
      openIdConnectUrl: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_9IYBf4TpD/.well-known/openid-configuration
      x-tokenName: id_token
    Basic:
      type: http
      description: Username is ClientID, Password is Client Secret.
      scheme: Basic
