openapi: 3.2.0
info:
  title: Lasso Registrant Sales Details API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Registrant Sales Details
paths:
  /registrants/{registrantId}/rating:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    put:
      tags:
      - Registrant Sales Details
      operationId: put_registrants_rating
      description: Set the rating for the registrant. If the rating does not exist, it will be created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rating'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Rating successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put registrants rating
      x-summary-source: derived
  /registrants/{registrantId}/follow-up-process:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    put:
      tags:
      - Registrant Sales Details
      operationId: put_registrants_follow_up_process
      description: Set the follow-up process. If the follow-up process does not exist, it will be created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowUpProcess'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Follow-up process successfully set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUpProcess'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put registrants follow up process
      x-summary-source: derived
  /registrants/{registrantId}/source-type:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    put:
      tags:
      - Registrant Sales Details
      operationId: put_registrants_source_type
      description: Set the source type. If the source type does not exist, it will be created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceType'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Source type successfully set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceType'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put registrants source type
      x-summary-source: derived
  /registrants/{registrantId}/secondary-source-type:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    put:
      tags:
      - Registrant Sales Details
      operationId: put_registrants_secondarysource_type
      description: Set the secondary source type. If the secondary source type does not exist, it will be created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecondarySourceType'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Secondary source type successfully set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecondarySourceType'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put registrants secondarysource type
      x-summary-source: derived
components:
  schemas:
    SourceType:
      type: object
      title: Source Type
      description: If the source type doesn't exist, it will be created
      properties:
        sourceType:
          type: string
          minLength: 1
          maxLength: 100
          example: Online Registration
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
    SecondarySourceType:
      type: object
      title: Secondary Source Type
      description: If the secondary source type does not exist, it will be created
      properties:
        secondarySourceType:
          type: string
          minLength: 1
          maxLength: 100
          example: Facebook
    Rating:
      type: object
      title: Rating
      description: If rating does not exist, it will be created
      properties:
        rating:
          type: string
          minLength: 1
          maxLength: 50
          example: A
    FollowUpProcess:
      type: object
      title: Follow-up Process
      description: If `followUpProcessId` is provided, the system will attempt to lookup the process by id, and fail if not found. If `followUpProcessId` is not provided, but `followUpProcess` is instead provided, the system will then attempt to lookup the process by value. If the value doesn't exist, it will be created
      properties:
        followUpProcessId:
          type: string
          example: 1
        followUpProcess:
          type: string
          minLength: 1
          maxLength: 20
          example: 30 day follow up
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
