openapi: 3.2.0
info:
  title: MFG Integration Management Report API
  description: Provides APIs for managing ECI MFG Integration Engine Configurations.
  contact:
    name: ECI Manufacturing Integration Team
    url: https://www.ecisolutions.com/support/
  version: 2.22.273+b02c1dfd00
servers:
- url: https://api-user.integrations.ecimanufacturing.com:443
  description: Production
security:
- oidc:
  - openid
- Basic: []
tags:
- name: Report
paths:
  /api/reports:
    get:
      tags:
      - Report
      summary: Used to get Report list
      description: 'Accessible By: Global Admin, Product Admin, Product Support User, Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: Used to get Report list.

        Used to get report list with optional filter: Name, IntegrationId, and IsActive. Product Admin,

        Product Support User and Company Manager get those report lists that have their associated roles in the report.'
      operationId: GetReportByOptionalFilters
      parameters:
      - name: name
        in: query
        schema:
          type: string
      - name: integration_id
        in: query
        schema:
          type: integer
          format: int32
      - name: is_active
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportListResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportListResponseModelAPIResponse'
    post:
      tags:
      - Report
      summary: Used to add report and their associated role to Report and ReportRole table
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: Used to add report and their associated role to Report and ReportRole table.'
      operationId: SaveReport
      requestBody:
        description: This is an object which contains some required and optional field to add report.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddUpdateReportResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddUpdateReportResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AddUpdateReportResponseModelAPIResponse'
  /api/reports/{id}:
    get:
      tags:
      - Report
      summary: Used to get report detail by report id
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: Used to get report detail by report id.'
      operationId: GetReportById
      parameters:
      - name: id
        in: path
        description: report id to get detail data of that particular report.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportResponseModelAPIResponse'
    patch:
      tags:
      - Report
      summary: Used to update the status of the report
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: Used to update the status of the report.'
      operationId: UpdateReportActiveStatus
      parameters:
      - name: id
        in: path
        description: Report id for update the status and it is required field.
        required: true
        schema:
          type: integer
          format: int32
      - name: isActive
        in: query
        description: boolean value for Isactive field, bydefault is set to true.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
    delete:
      tags:
      - Report
      summary: Used to delete the report by report id
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: Used to delete the report by report id.'
      operationId: DeleteReportById
      parameters:
      - name: id
        in: path
        description: Report id for delete and it is required field.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
  /api/reports/{id}/parameters:
    get:
      tags:
      - Report
      summary: Used to get report parameter list by report id
      description: 'Accessible By: Global Admin, Product Admin, Product Support User, Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: Used to get report parameter list by report id.'
      operationId: GetParameterListByReportId
      parameters:
      - name: id
        in: path
        description: Report id to get list of ReportParameter of that particular report.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportParameterListResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportParameterListResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportParameterListResponseModelAPIResponse'
    post:
      tags:
      - Report
      summary: Used to save the report parameter
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: Used to save the report parameter.'
      operationId: SaveReportParameter
      parameters:
      - name: id
        in: path
        description: Report id to add report parameter for that particular report.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: This is an object which contains some required and optional field to add report parameter.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportParameterRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportParameterRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportParameterRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddReportParametersResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddReportParametersResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AddReportParametersResponseModelAPIResponse'
  /api/reports/{id}/parameters/{parameterId}:
    get:
      tags:
      - Report
      summary: Used to get report parameter detail
      description: 'Accessible By: Global Admin, Product Admin, Product Support User, Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: Used to get report parameter detail.'
      operationId: GetReportParameterById
      parameters:
      - name: id
        in: path
        description: Report id to get detail data of that particular report parameter.
        required: true
        schema:
          type: integer
          format: int32
      - name: parameterId
        in: path
        description: Report parameter id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ReportParameterResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReportParameterResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ReportParameterResponseModelAPIResponse'
    delete:
      tags:
      - Report
      summary: Used to delete the report parameter
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: Used to delete the report parameter.'
      operationId: DeleteReportParameterById
      parameters:
      - name: id
        in: path
        description: Report id of that report parameter for delete and it is required field.
        required: true
        schema:
          type: integer
          format: int32
      - name: parameterId
        in: path
        description: Reportparameter id for delete and it is required field.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
components:
  schemas:
    ReportParameterRequestModel:
      required:
      - displayName
      - parameterName
      type: object
      properties:
        id:
          type: integer
          format: int32
        parameterName:
          maxLength: 30
          minLength: 1
          pattern: ^[A-Za-z0-9_]*$
          type: string
        displayName:
          maxLength: 50
          minLength: 1
          type: string
        dataType:
          type:
          - string
          - 'null'
        minValue:
          type:
          - integer
          - 'null'
          format: int32
        maxValue:
          type:
          - integer
          - 'null'
          format: int32
        validationPattern:
          type:
          - string
          - 'null'
        validationPatternMessage:
          type:
          - string
          - 'null'
        dropdownType:
          type:
          - integer
          - 'null'
          format: int32
        dropdownValues:
          type:
          - array
          - 'null'
          items:
            type: string
        isRequired:
          type: boolean
      additionalProperties: false
    ReportParameterListResponseModel:
      type: object
      properties:
        reportParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReportParameterResModel'
      additionalProperties: false
    AddReportParametersResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/AddReportParametersResponseModel'
      additionalProperties: false
    ValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReportRequestModel:
      type: object
      properties:
        sourceId:
          type: integer
          format: int32
        data:
          allOf:
          - $ref: '#/components/schemas/ReportPostData'
      additionalProperties: false
    ReportListResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ReportListResponseModel'
      additionalProperties: false
    AddUpdateReportResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/AddUpdateReportResponseModel'
      additionalProperties: false
    AddReportParametersResponseModel:
      type: object
      properties:
        reportParameterId:
          type: integer
          format: int32
        reportId:
          type: integer
          format: int32
        parameterName:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        dataType:
          type:
          - string
          - 'null'
        minValue:
          type:
          - integer
          - 'null'
          format: int32
        maxValue:
          type:
          - integer
          - 'null'
          format: int32
        dropdownType:
          type:
          - integer
          - 'null'
          format: int32
        validationPattern:
          type:
          - string
          - 'null'
        validationPatternMessage:
          type:
          - string
          - 'null'
        dropdownValues:
          type:
          - string
          - 'null'
        isRequired:
          type: boolean
      additionalProperties: false
    ReportListResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        reportName:
          type:
          - string
          - 'null'
        queryType:
          type:
          - string
          - 'null'
        integrationId:
          type:
          - integer
          - 'null'
          format: int32
        integrationName:
          type:
          - string
          - 'null'
        roles:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        isActive:
          type: boolean
        useDateRange:
          type: boolean
      additionalProperties: false
    ReportParameterResponseModel:
      type: object
      properties:
        reportParameterId:
          type: integer
          format: int32
        displayName:
          type:
          - string
          - 'null'
        dataType:
          type:
          - string
          - 'null'
        maxValue:
          type:
          - integer
          - 'null'
          format: int32
        minValue:
          type:
          - integer
          - 'null'
          format: int32
        validationPattern:
          type:
          - string
          - 'null'
        validationPatternMessage:
          type:
          - string
          - 'null'
        dropDownValue:
          type:
          - array
          - 'null'
          items:
            type: string
        dropdownType:
          type:
          - integer
          - 'null'
          format: int32
        parameterName:
          type:
          - string
          - 'null'
        isRequired:
          type: boolean
      additionalProperties: false
    DropdownList:
      type: object
      properties:
        value:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    AddUpdateReportResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        reportName:
          type:
          - string
          - 'null'
        sourceName:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        useDateRange:
          type: boolean
      additionalProperties: false
    ReportParameterListResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ReportParameterListResponseModel'
      additionalProperties: false
    ReportResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        reportName:
          type:
          - string
          - 'null'
        queryType:
          type:
          - string
          - 'null'
        integrationId:
          type:
          - integer
          - 'null'
          format: int32
        integrationName:
          type:
          - string
          - 'null'
        roles:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        isActive:
          type: boolean
        useDateRange:
          type: boolean
        sourceName:
          type:
          - string
          - 'null'
        queryText:
          type:
          - string
          - 'null'
        reportParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReportParameterResponseModel'
      additionalProperties: false
    ReportPostData:
      type: object
      properties:
        id:
          type: integer
          format: int32
        reportName:
          type:
          - string
          - 'null'
        sourceName:
          type:
          - string
          - 'null'
        integrationId:
          type:
          - integer
          - 'null'
          format: int32
        queryType:
          type:
          - string
          - 'null'
        queryText:
          type:
          - string
          - 'null'
        roles:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        isActive:
          type: boolean
        useDateRange:
          type: boolean
      additionalProperties: false
    ApiError:
      type: object
      properties:
        isError:
          type: boolean
        exceptionMessage:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        referenceErrorCode:
          type:
          - string
          - 'null'
        referenceDocumentLink:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
      additionalProperties: false
    ReportParameterResModel:
      type: object
      properties:
        reportParameterId:
          type: integer
          format: int32
        displayName:
          type:
          - string
          - 'null'
        dataType:
          type:
          - string
          - 'null'
        maxValue:
          type:
          - integer
          - 'null'
          format: int32
        minValue:
          type:
          - integer
          - 'null'
          format: int32
        validationPattern:
          type:
          - string
          - 'null'
        validationPatternMessage:
          type:
          - string
          - 'null'
        dropDownValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DropdownList'
        dropdownType:
          type:
          - integer
          - 'null'
          format: int32
        parameterName:
          type:
          - string
          - 'null'
        isRequired:
          type: boolean
      additionalProperties: false
    ReportParameterResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ReportParameterResponseModel'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReportResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ReportResponseModel'
      additionalProperties: false
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Use id_token obtained from OpenID Connect flow.
      openIdConnectUrl: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_9IYBf4TpD/.well-known/openid-configuration
      x-tokenName: id_token
    Basic:
      type: http
      description: Username is ClientID, Password is Client Secret.
      scheme: Basic
