openapi: 3.2.0
info:
  title: JobBOSS² Public GL Codes API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: GL Codes
paths:
  /api/v1/gl-codes:
    get:
      tags:
      - GL Codes
      summary: Gets a list of GL Codes
      description: 'By default a GL Account response will include only the fields: accountingID, accountingCode, accumulationAccount, active, currencyCode, description, division, GLAccountNumber, lastModDate, lastModUser, uniqueID, vendorCode. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Account Code:
            value:
              accountingCode: '30'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GLAccountListSuccessResponse'
              example:
                Data:
                - accountingCode: string
                  accountingID: string
                  accumulationAccount: string
                  active: false
                  currencyCode: string
                  description: string
                  division: 0
                  enteredDate: '2026-09-06T17:13:12.0000000+00:00'
                  GLAccountNumber: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  revisedDate: '2026-09-06T17:13:12.0000000+00:00'
                  uniqueID: 0
                  vendorCode: string
      operationId: getApiV1GlCodes
      x-operation-id-source: derived
  /api/v1/gl-codes/{GLAccountNumber}:
    get:
      tags:
      - GL Codes
      summary: Gets a GL Code by GL Account Number
      description: 'By default a GL Account response will include only the fields: accountingID, accountingCode, accumulationAccount, active, currencyCode, description, division, GLAccountNumber, lastModDate, lastModUser, uniqueID, vendorCode. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: GLAccountNumber
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GLAccountSuccessResponse'
              example:
                Data:
                  accountingCode: string
                  accountingID: string
                  accumulationAccount: string
                  active: false
                  currencyCode: string
                  description: string
                  division: 0
                  enteredDate: '2026-09-06T17:13:12.0000000+00:00'
                  GLAccountNumber: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  revisedDate: '2026-09-06T17:13:12.0000000+00:00'
                  uniqueID: 0
                  vendorCode: string
      operationId: getApiV1GlCodesByGLAccountNumber
      x-operation-id-source: derived
components:
  schemas:
    GLAccount:
      type: object
      properties:
        accountingCode:
          type:
          - string
          - 'null'
          readOnly: true
        accountingID:
          type:
          - string
          - 'null'
          readOnly: true
        accumulationAccount:
          type:
          - string
          - 'null'
          readOnly: true
        active:
          type: boolean
          readOnly: true
        currencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        division:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        enteredDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        GLAccountNumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        revisedDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        vendorCode:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    GLAccountSuccessResponse:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/GLAccount'
      additionalProperties: false
    GLAccountListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GLAccount'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
