openapi: 3.2.0
info:
  title: Lasso Inventory Pricing API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Inventory Pricing
paths:
  /inventory/{inventoryId}/pricing:
    parameters:
    - in: path
      name: inventoryId
      schema:
        type: string
      required: true
    get:
      tags:
      - Inventory Pricing
      operationId: get_inventory_pricing
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Pricing associated with this inventory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Get inventory pricing
      x-summary-source: derived
    put:
      tags:
      - Inventory Pricing
      operationId: put_inventory_pricing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Pricing successfully set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put inventory pricing
      x-summary-source: derived
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
    Pricing:
      title: Pricing
      type: object
      description: Sets the pricing information for the inventory in Lasso. Setting all fields to 0 except the `initialPrice` allows you to specify an exact sales price.
      required:
      - initialPrice
      properties:
        initialPrice:
          type: number
          description: Base price of inventory
          example: '4300000'
        adjustedGrossPrice:
          type: number
          example: '-50000'
        offTheTopDiscount:
          type: number
          example: '-10000'
        inLieuOfIncentive:
          type: number
          example: '10000'
        credit:
          type: number
          example: '25000'
        _links:
          type: object
          properties:
            self:
              type: string
              example: /inventory/123-123/pricing
            update:
              type: string
              example: /inventory/123-123/pricing
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
