openapi: 3.2.0
info:
  title: Lasso Inventory Dates API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Inventory Dates
paths:
  /inventory/{inventoryId}/dates:
    parameters:
    - in: path
      name: inventoryId
      schema:
        type: string
      required: true
      description: /inventory/123/dates
    get:
      tags:
      - Inventory Dates
      operationId: get_inventory_dates
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Dates associated with this inventory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dates'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Get inventory dates
      x-summary-source: derived
    put:
      tags:
      - Inventory Dates
      operationId: put_inventory_dates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dates'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Dates successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dates'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put inventory dates
      x-summary-source: derived
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    Dates:
      title: Dates
      type: object
      description: All dates are in the ISO 8601 UTC format, limited to year, month and day (YYYY-MM-DD). Will set all dates to blank if not provided.
      properties:
        contract:
          type: string
          format: date
          example: '2017-08-05'
        acceptance:
          type: string
          format: date
          example: '2017-08-08'
        completion:
          type: string
          format: date
          example: '2017-08-11'
        release:
          type: string
          format: date
          example: '2017-08-08'
        possession:
          type: string
          format: date
          example: '2017-08-15'
        occupancy:
          type: string
          format: date
          example: '2017-08-19'
        sendToLawyer:
          type: string
          format: date
          example: '2017-08-12'
        adjustment:
          type: string
          format: date
          example: '2017-08-30'
        _links:
          type: object
          properties:
            self:
              type: string
              example: /inventory/123-123/dates
            update:
              type: string
              example: /inventory/123-123/dates
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
