openapi: 3.2.0
info:
  title: JobBOSS² Public Feedback API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Feedback
paths:
  /api/v1/feedback:
    get:
      tags:
      - Feedback
      summary: Gets a list of Feedback
      description: 'By default a feedback response will include only the fields: closeOut, closeOutDate, comments, contact, correctiveActionCode, createCAR, customerCode, customerPONumber, customerRMANumber, employeeCode, enterBy, enterDate, fax, feedbackCode, feedbackDate, feedbackNo, feedbackType, lastModDate, lastModUser, managerCloseOut, orderNumber, phone, resolution, status, uniqueID, vendorCode. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Feedback Type:
            value:
              feedbackType: POSITIVE
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackListSuccessResponse'
              example:
                Data:
                - closeOut: string
                  closeOutDate: '2026-09-06T17:13:12.0000000+00:00'
                  comments: string
                  contact: string
                  correctiveActionCode: string
                  createCAR: string
                  customerCode: string
                  customerPONumber: string
                  customerRMANumber: string
                  employeeCode: string
                  enterBy: string
                  enterDate: '2026-09-06T17:13:12.0000000+00:00'
                  fax: string
                  feedbackCode: string
                  feedbackDate: '2026-09-06T17:13:12.0000000+00:00'
                  feedbackNo: string
                  feedbackType: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  managerCloseOut: string
                  orderNumber: string
                  phone: string
                  resolution: string
                  status: string
                  uniqueID: 0
                  vendorCode: string
      operationId: getApiV1Feedback
      x-operation-id-source: derived
components:
  schemas:
    FeedbackListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Feedback'
      additionalProperties: false
    Feedback:
      type: object
      properties:
        closeOut:
          type:
          - string
          - 'null'
          readOnly: true
        closeOutDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        comments:
          type:
          - string
          - 'null'
          readOnly: true
        contact:
          type:
          - string
          - 'null'
          readOnly: true
        correctiveActionCode:
          type:
          - string
          - 'null'
          readOnly: true
        createCAR:
          type:
          - string
          - 'null'
          readOnly: true
        customerCode:
          type:
          - string
          - 'null'
          readOnly: true
        customerPONumber:
          type:
          - string
          - 'null'
          readOnly: true
        customerRMANumber:
          type:
          - string
          - 'null'
          readOnly: true
        employeeCode:
          type:
          - string
          - 'null'
          readOnly: true
        enterBy:
          type:
          - string
          - 'null'
          readOnly: true
        enterDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        fax:
          type:
          - string
          - 'null'
          readOnly: true
        feedbackCode:
          type:
          - string
          - 'null'
          readOnly: true
        feedbackDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        feedbackNo:
          type:
          - string
          - 'null'
          readOnly: true
        feedbackType:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        managerCloseOut:
          type:
          - string
          - 'null'
          readOnly: true
        orderNumber:
          type:
          - string
          - 'null'
          readOnly: true
        phone:
          type:
          - string
          - 'null'
          readOnly: true
        resolution:
          type:
          - string
          - 'null'
          readOnly: true
        status:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        vendorCode:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
