openapi: 3.2.0
info:
  title: JobBOSS² Public Vendor Return Line Items API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Vendor Return Line Items
paths:
  /api/v1/vendor-returns-line-items:
    get:
      tags:
      - Vendor Return Line Items
      summary: Gets a list of Vendor Return Line Item records
      description: 'By default a vendor return line item response will include only the fields: correctiveActionNumber, createCAR, createNC, description, jobNumber, lastModDate, lastModUser, nonConfNumber, originalQuantityReceived, partDescription, partNumber, POItemNumber, PONumber, quantityGood, quantityReturned, quantityToCancel, quantityToReject, reasonCode, receiverNumber, receiverItemNumber, restockingPercent, status, stepNumber, unit, uniqueID, vendorReturnNumber, vendorReturnItemNumber. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Part Number:
            value:
              partNumber: EXAMPLE
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorReturnLineItemsListSuccessResponse'
              example:
                Data:
                - correctiveActionNumber: string
                  createCAR: string
                  createNC: string
                  description: string
                  jobNumber: string
                  lastModDate: '2026-09-06T17:13:13.0000000+00:00'
                  lastModUser: string
                  nonConfNumber: string
                  originalQuantityReceived: 0
                  partDescription: string
                  partNumber: string
                  POItemNumber: 0
                  PONumber: string
                  quantityGood: 0
                  quantityReturned: 0
                  quantityToCancel: 0
                  quantityToReject: 0
                  reasonCode: string
                  receiverItemNumber: 0
                  receiverNumber: string
                  restockingPercent: 0
                  status: string
                  stepNumber: 0
                  uniqueID: 0
                  unit: string
                  vendorReturnItemNumber: 0
                  vendorReturnNumber: string
      operationId: getApiV1VendorReturnsLineItems
      x-operation-id-source: derived
components:
  schemas:
    VendorReturnLineItems:
      type: object
      properties:
        correctiveActionNumber:
          type:
          - string
          - 'null'
          readOnly: true
        createCAR:
          type:
          - string
          - 'null'
          readOnly: true
        createNC:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        jobNumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        nonConfNumber:
          type:
          - string
          - 'null'
          readOnly: true
        originalQuantityReceived:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        partDescription:
          type:
          - string
          - 'null'
          readOnly: true
        partNumber:
          type:
          - string
          - 'null'
          readOnly: true
        POItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        PONumber:
          type:
          - string
          - 'null'
          readOnly: true
        quantityGood:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityReturned:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToCancel:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToReject:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        reasonCode:
          type:
          - string
          - 'null'
          readOnly: true
        receiverItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        receiverNumber:
          type:
          - string
          - 'null'
          readOnly: true
        restockingPercent:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        status:
          type:
          - string
          - 'null'
          readOnly: true
        stepNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        unit:
          type:
          - string
          - 'null'
          readOnly: true
        vendorReturnItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        vendorReturnNumber:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    VendorReturnLineItemsListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VendorReturnLineItems'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
