openapi: 3.2.0
info:
  title: JobBOSS² Public Purchase Order Releases API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Purchase Order Releases
paths:
  /api/v1/purchase-order-releases:
    get:
      tags:
      - Purchase Order Releases
      summary: Gets a list of Purchase Order Releases
      description: 'By default a purchase order release response will include only the fields: comments, dateReceived, dueDate, itemNumber, jobNumber, lastModDate, lastModUser, partNumber, PONumber, quantity, quantityCanceled, quantityRejected, receiverNumber, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Purchase Order:
            value:
              PONumber: '4971'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderReleaseListSuccessResponse'
              example:
                Data:
                - comments: string
                  dateReceived: '2026-09-06T17:13:12.0000000+00:00'
                  dueDate: '2026-09-06T17:13:12.0000000+00:00'
                  itemNumber: 0
                  jobNumber: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  partNumber: string
                  PONumber: string
                  quantity: 0
                  quantityCanceled: 0
                  quantityRejected: 0
                  receiverNumber: string
                  uniqueID: 0
      operationId: getApiV1PurchaseOrderReleases
      x-operation-id-source: derived
components:
  schemas:
    PurchaseOrderReleaseListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PurchaseOrderRelease'
      additionalProperties: false
    PurchaseOrderRelease:
      type: object
      properties:
        comments:
          type:
          - string
          - 'null'
          readOnly: true
        dateReceived:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        itemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        jobNumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        partNumber:
          type:
          - string
          - 'null'
          readOnly: true
        PONumber:
          type:
          - string
          - 'null'
          readOnly: true
        quantity:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        quantityCanceled:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        quantityRejected:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        receiverNumber:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
