openapi: 3.2.0
info:
  title: JobBOSS² Public Bin Locations API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Bin Locations
paths:
  /api/v1/bin-locations:
    get:
      tags:
      - Bin Locations
      summary: Gets a list of Bin Locations
      description: 'By default a bin location response will include only the fields: binLocation, cost, datePosted, deliveryTicketNumber, lastModDate, lastModUser, lotNumber, partNumber, POItemNumber, quantityOnHand, receiverNumber, uniqueID, vendorCode. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Part Number:
            value:
              partNumber: 415-P-26A
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinLocationListSuccessResponse'
              example:
                Data:
                - binLocation: string
                  cost: 0
                  datePosted: '2026-09-06T17:13:12.0000000+00:00'
                  deliveryTicketNumber: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  lotNumber: string
                  partNumber: string
                  POItemNumber: 0
                  quantityOnHand: 0
                  receiverNumber: string
                  uniqueID: 0
                  vendorCode: string
      operationId: getApiV1BinLocations
      x-operation-id-source: derived
components:
  schemas:
    BinLocationListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BinLocation'
      additionalProperties: false
    BinLocation:
      type: object
      properties:
        binLocation:
          type:
          - string
          - 'null'
          readOnly: true
        cost:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        datePosted:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        deliveryTicketNumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        lotNumber:
          type:
          - string
          - 'null'
          readOnly: true
        partNumber:
          type:
          - string
          - 'null'
          readOnly: true
        POItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityOnHand:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        receiverNumber:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        vendorCode:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
