openapi: 3.2.0
info:
  title: Lasso Registrant Website Tracking API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Registrant Website Tracking
paths:
  /registrants/{registrantId}/website-tracking/:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    post:
      tags:
      - Registrant Website Tracking
      operationId: post_registrants_website_tracking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrantWebsiteTrackingRequired'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Registrant tracking information successfully added
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Post registrants website tracking
      x-summary-source: derived
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    RegistrantWebsiteTrackingRequired:
      type: object
      required:
      - domainAccountId
      - guid
      properties:
        domainAccountId:
          type: string
          example: LAS-123456-01
        guid:
          type: string
          example: UID123
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
