openapi: 3.2.0
info:
  title: ERP API v2.1 Purchase Order Line API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: PurchaseOrderLine
paths:
  /api/v2.1/purchase-order-lines:
    get:
      tags:
      - PurchaseOrderLine
      summary: Get a list of PurchaseOrderLines from the ERP system that match the given…
      description: 'Gets a list of PurchaseOrderLine.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        dueDate|Yes|Yes|M1, JobBOSS², Deacom

        extendedCost|No|Yes|M1, JobBOSS², Deacom

        foreignExtendedCost|No|Yes|M1, JobBOSS², Deacom

        partID|Yes|Yes|M1, JobBOSS², Deacom

        partRevisionID|Yes|Yes|M1, JobBOSS², Deacom

        partDescription|No|Yes|M1, JobBOSS², Deacom

        partWarehouse|No|Yes|M1, JobBOSS², Deacom

        purchaseOrderLineID|Yes|Yes|M1, JobBOSS², Deacom

        quantity|No|Yes|M1, JobBOSS², Deacom

        quantityReceived|No|Yes|M1, JobBOSS², Deacom

        unitCost|No|Yes|M1, JobBOSS², Deacom

        foreignUnitCost|No|Yes|M1, JobBOSS², Deacom

        isReceived|Yes|Yes|M1, JobBOSS², Deacom

        inspectionRequired|Yes|Yes|M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|M1, JobBOSS², Deacom

        isClosed|Yes|Yes|M1, JobBOSS², Deacom

        purchaseOrderID|Yes|Yes|M1, JobBOSS², Deacom

        unitOfMeasure|No|Yes|JobBOSS², Deacom

        jobID|Yes|Yes|JobBOSS²'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              dueDate[gte]: '2020-09-25T00:00:00.0000000'
              partID[eq]: abc123
              partRevisionID[eq]: abc123
              purchaseOrderLineID[eq]: abc123
              isReceived[eq]: true
              inspectionRequired[eq]: true
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              isClosed[eq]: true
              purchaseOrderID[eq]: abc123
              jobID[eq]: abc123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          purchaseOrder|PurchaseOrders|

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PurchaseOrderLineListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderLineListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderLineListResponse'
      operationId: getApiV21PurchaseOrderLines
      x-operation-id-source: derived
  /api/v2.1/purchase-order-lines/{id}:
    get:
      tags:
      - PurchaseOrderLine
      summary: Get a PurchaseOrderLine from the ERP system that matches the given unique ID
      description: 'Gets a PurchaseOrderLine by unique ID.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Deacom

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        dueDate||M1, JobBOSS², Deacom

        extendedCost||M1, JobBOSS², Deacom

        foreignExtendedCost||M1, JobBOSS², Deacom

        partID||M1, JobBOSS², Deacom

        partRevisionID||M1, JobBOSS², Deacom

        partDescription||M1, JobBOSS², Deacom

        partWarehouse||M1, JobBOSS², Deacom

        purchaseOrderLineID||M1, JobBOSS², Deacom

        quantity||M1, JobBOSS², Deacom

        quantityReceived||M1, JobBOSS², Deacom

        unitCost||M1, JobBOSS², Deacom

        foreignUnitCost||M1, JobBOSS², Deacom

        isReceived||M1, JobBOSS², Deacom

        inspectionRequired||M1, JobBOSS², Deacom

        uniqueID||M1, JobBOSS², Deacom

        rowVersion||M1, JobBOSS², Deacom

        isClosed||M1, JobBOSS², Deacom

        purchaseOrderID||M1, JobBOSS², Deacom

        unitOfMeasure||JobBOSS², Deacom

        jobID||JobBOSS²'
      parameters:
      - name: id
        in: path
        description: The ID of the quote
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PurchaseOrderLine'
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderLine'
            text/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderLine'
      operationId: getApiV21PurchaseOrderLinesById
      x-operation-id-source: derived
components:
  schemas:
    PurchaseOrderLine:
      title: PurchaseOrderLine
      type: object
      properties:
        dueDate:
          type: string
          format: date
        extendedCost:
          type: number
          format: double
        foreignExtendedCost:
          type: number
          format: double
        partID:
          type: string
        partRevisionID:
          type: string
        partDescription:
          type: string
        partWarehouse:
          type: string
        purchaseOrderLineID:
          type: string
        quantity:
          type: number
          format: double
        quantityReceived:
          type: number
          format: double
        unitCost:
          type: number
          format: double
        foreignUnitCost:
          type: number
          format: double
        isReceived:
          type: boolean
        inspectionRequired:
          type: boolean
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        isClosed:
          type: boolean
        purchaseOrderID:
          type: string
        unitOfMeasure:
          type: string
        jobID:
          type: string
        purchaseOrder:
          $ref: '#/components/schemas/PurchaseOrder'
    PurchaseOrderLineListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PurchaseOrderLine'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
    PurchaseOrder:
      title: PurchaseOrder
      type: object
      properties:
        apInvoiceLocationID:
          type: string
        buyerEmployeeID:
          type: string
        currency:
          type: string
        orderDate:
          type: string
          format: date
        plantID:
          type: string
        projectID:
          type: string
        purchaseOrderID:
          type: string
        supplierOrganizationID:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        isClosed:
          type: boolean
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
