openapi: 3.2.0
info:
  title: Lasso Registrant History API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Registrant History
paths:
  /registrants/{registrantId}/histories:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    post:
      tags:
      - Registrant History
      operationId: post_registrants_histories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryWrite'
      security:
      - JwtAuthorizer: []
      responses:
        201:
          description: History successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryReadFull'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Post registrants histories
      x-summary-source: derived
  /registrants/{registrantId}/histories/{historyId}:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    - in: path
      name: historyId
      schema:
        type: string
      required: true
    get:
      tags:
      - Registrant History
      operationId: get_registrants_histories_by_id
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: History item with full content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryReadFull'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Get registrants histories by id
      x-summary-source: derived
    put:
      tags:
      - Registrant History
      operationId: put_registrants_histories_by_id
      description: Update a history item. `createdBy` is ignored and cannot be updated.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryWrite'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: History item with full content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryReadFull'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put registrants histories by id
      x-summary-source: derived
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    HistoryWrite:
      type: object
      title: History Write Item
      properties:
        type:
          type: string
          description: 'Clients can create their own history types, so an exhaustive list of available history items is currently not available. Defaults:

            Appointment Cancelled Appointment Email Email Reply Fax Mail Mass Mail Merge Opted-Out Phone - Left Message Return Visit SSRU Visit

            '
          example: Email
        typeId:
          type: string
          description: ID of the history type (could be client-created)
          example: 123
        subject:
          type: string
          description: Short summary of history item
          example: Welcome to Birch Towers
        date:
          type: string
          format: datetime
          description: When the history item was received, e.g. send-date for email
          example: '2017-08-31T21:18:39Z'
        createdBy:
          $ref: '#/components/schemas/Creator'
        _links:
          type: object
          properties:
            self:
              type: string
              example: /registrants/123/history/123
        body:
          type: string
          description: 'Full content of history item. For emails, this may include

            serialized attachments, which may lead to a large payload.


            Limitations: 4-byte UTF-8 characters are not supported and will be stripped during write.

            This means that some emoticons and foreign language characters are unsupported.

            '
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
    Creator:
      type: object
      title: Creator
      description: 'Determines the user that created this entity based on an ordered set of Heuristics:

        - if creator is null or empty, then default to user: Lasso Autobot

        - if userId is provided, then lookup user by id, respond with 400 level error if specified user does not exist

        - if user first and last name are provided, then lookup user by name, otherwise default to user: Lasso Autobot

        '
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Smith
        userId:
          type: string
          example: 123
    HistoryReadFull:
      type: object
      title: History Read With Full Content
      properties:
        type:
          type: string
          description: 'Clients can create their own history types, so an exhaustive list of available history items is currently not available. Defaults:

            Appointment Cancelled Appointment Email Email Reply Fax Mail Mass Mail Merge Opted-Out Phone - Left Message Return Visit SSRU Visit

            '
          example: Email
        typeId:
          type: string
          description: ID of the history type (could be client-created)
          example: 123
        subject:
          type: string
          description: Short summary of history item
          example: Welcome to Birch Towers
        date:
          type: string
          format: datetime
          description: When the history item was received, e.g. send-date for email
          example: '2017-08-31T21:18:39Z'
        createdBy:
          $ref: '#/components/schemas/Creator'
        _links:
          type: object
          properties:
            self:
              type: string
              example: /registrants/123/history/123
        historyId:
          type: string
          example: 123
        body:
          type: string
          description: Full content of history item. For emails, this may include serialized attachments, which may lead to a large payload.
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
