openapi: 3.2.0
info:
  title: MFG Integration Management Otel Logs API
  description: Provides APIs for managing ECI MFG Integration Engine Configurations.
  contact:
    name: ECI Manufacturing Integration Team
    url: https://www.ecisolutions.com/support/
  version: 2.22.273+b02c1dfd00
servers:
- url: https://api-user.integrations.ecimanufacturing.com:443
  description: Production
security:
- oidc:
  - openid
- Basic: []
tags:
- name: OtelLogs
paths:
  /api/otel/logs:
    post:
      tags:
      - OtelLogs
      summary: Ingests logs in OTLP HTTP/JSON format
      description: 'Accessible By: Internal services with API Key authentication.

        Accessed From: Lambda functions, internal services.

        Description: Accepts logs in OTLP format (OpenTelemetry Protocol) and stores them in the logging database.


        Follows the OTLP specification: https://opentelemetry.io/docs/specs/otlp/'
      operationId: IngestLogsOtelLogs
      requestBody:
        description: OTLP log export request
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OtelLogRequest'
              description: 'OTLP Log Export Request (HTTP JSON format)

                Spec: https://opentelemetry.io/docs/specs/otlp/#otlphttp-request'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InsertOtelLogsResultAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InsertOtelLogsResultAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InsertOtelLogsResultAPIResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
        '500':
          description: Server Error
components:
  schemas:
    OtelLogRequest:
      type: object
      properties:
        resourceLogs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ResourceLog'
      additionalProperties: false
      description: 'OTLP Log Export Request (HTTP JSON format)

        Spec: https://opentelemetry.io/docs/specs/otlp/#otlphttp-request'
    ResourceLog:
      type: object
      properties:
        resource:
          allOf:
          - $ref: '#/components/schemas/OtelResource'
          description: Resource attributes (e.g., service.name, service.version)
        scopeLogs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ScopeLog'
        schemaUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
      description: A collection of logs from a Resource
    ApiError:
      type: object
      properties:
        isError:
          type: boolean
        exceptionMessage:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        referenceErrorCode:
          type:
          - string
          - 'null'
        referenceDocumentLink:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
      additionalProperties: false
    KeyValuePair:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          allOf:
          - $ref: '#/components/schemas/AnyValue'
          description: 'AnyValue - can hold different types

            Spec: https://opentelemetry.io/docs/specs/otel/logs/data-model/#type-any'
      additionalProperties: false
      description: Key-Value pair for attributes
    InsertOtelLogsResult:
      type: object
      properties:
        success:
          type: boolean
        logsProcessed:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    KeyValueList:
      type: object
      properties:
        values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeyValuePair'
      additionalProperties: false
      description: List of key-value pairs
    ArrayValue:
      type: object
      properties:
        values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AnyValue'
      additionalProperties: false
      description: Array of AnyValue
    OtelLogRecord:
      type: object
      properties:
        timeUnixNano:
          type:
          - string
          - 'null'
          description: Time when the event occurred (Unix nanoseconds)
        observedTimeUnixNano:
          type:
          - string
          - 'null'
          description: Time when the event was observed (Unix nanoseconds)
        severityNumber:
          type: integer
          description: Severity number (1-24, TRACE to FATAL4)
          format: int32
        severityText:
          type:
          - string
          - 'null'
          description: Severity text (e.g., "INFO", "ERROR")
        body:
          allOf:
          - $ref: '#/components/schemas/AnyValue'
          description: Log message body
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeyValuePair'
          description: Additional attributes
        droppedAttributesCount:
          type: integer
          description: Dropped attributes count
          format: int32
        traceId:
          type:
          - string
          - 'null'
          description: Trace ID (hex string, 32 chars)
        spanId:
          type:
          - string
          - 'null'
          description: Span ID (hex string, 16 chars)
        flags:
          type: integer
          description: Trace flags
          format: int32
      additionalProperties: false
      description: Individual log record following OTLP spec
    InstrumentationScope:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeyValuePair'
        droppedAttributesCount:
          type: integer
          format: int32
      additionalProperties: false
      description: InstrumentationScope (e.g., logger name/version)
    StringAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - string
          - 'null'
      additionalProperties: false
    OtelResource:
      type: object
      properties:
        attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/KeyValuePair'
        droppedAttributesCount:
          type: integer
          format: int32
      additionalProperties: false
      description: Resource attributes (e.g., service.name, service.version)
    ScopeLog:
      type: object
      properties:
        scope:
          allOf:
          - $ref: '#/components/schemas/InstrumentationScope'
          description: InstrumentationScope (e.g., logger name/version)
        logRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OtelLogRecord'
        schemaUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
      description: A collection of logs from an InstrumentationScope
    ValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    AnyValue:
      type: object
      properties:
        stringValue:
          type:
          - string
          - 'null'
        boolValue:
          type:
          - boolean
          - 'null'
        intValue:
          type:
          - integer
          - 'null'
          format: int64
        doubleValue:
          type:
          - number
          - 'null'
          format: double
        arrayValue:
          allOf:
          - $ref: '#/components/schemas/ArrayValue'
          description: Array of AnyValue
        kvlistValue:
          allOf:
          - $ref: '#/components/schemas/KeyValueList'
          description: List of key-value pairs
        bytesValue:
          type:
          - string
          - 'null'
      additionalProperties: false
      description: 'AnyValue - can hold different types

        Spec: https://opentelemetry.io/docs/specs/otel/logs/data-model/#type-any'
    InsertOtelLogsResultAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/InsertOtelLogsResult'
      additionalProperties: false
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Use id_token obtained from OpenID Connect flow.
      openIdConnectUrl: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_9IYBf4TpD/.well-known/openid-configuration
      x-tokenName: id_token
    Basic:
      type: http
      description: Username is ClientID, Password is Client Secret.
      scheme: Basic
