openapi: 3.2.0
info:
  title: JobBOSS² Public Corrective Preventative Actions API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Corrective Preventative Actions
paths:
  /api/v1/corrective-preventive-actions:
    get:
      tags:
      - Corrective Preventative Actions
      summary: Gets a list of corrective actions
      description: 'By default a corrective action response will include only the fields: authorization, uniqueID, carDate, carJobNumber, carPrinted, closeOutDate, correctiveActionCode, correctiveActionNumber, customerCode, customerPONumber, customerRMANumber, description, enterBy, enterDate, feedbackNumber, immediateAction, implementationDate, lastModDate, lastModUser, orderNumber, partNumber, permanentAction, PONumber, qualityControlManager, quantityReturned, quantityToRework, reasonForReturn, responseDue, returnType, rmaItemNumber, rootCause, signatureOnFile, status, vendorCode, vendorReturnNumber, vendorRMANumber, verificationBy, verificationDate, verificationOfEffectiveness, verificationOfEffectivenessBy, verificationOfImplementation. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Number:
            value:
              correctiveActionNumber: '1001'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrectiveActionListSuccessResponse'
              example:
                Data:
                - authorization: string
                  carDate: '2026-09-06T17:13:12.0000000+00:00'
                  carJobNumber: string
                  carPrinted: string
                  closeOutDate: '2026-09-06T17:13:12.0000000+00:00'
                  correctiveActionCode: string
                  correctiveActionNumber: string
                  customerCode: string
                  customerPONumber: string
                  customerRMANumber: string
                  description: string
                  enterBy: string
                  enterDate: '2026-09-06T17:13:12.0000000+00:00'
                  feedbackNumber: string
                  immediateAction: string
                  implementationDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  orderNumber: string
                  partNumber: string
                  permanentAction: string
                  PONumber: string
                  qualityControlManager: string
                  quantityReturned: 0
                  quantityToRework: 0
                  reasonForReturn: string
                  responseDue: '2026-09-06T17:13:12.0000000+00:00'
                  returnType: string
                  rmaItemNumber: 0
                  rootCause: string
                  signatureOnFile: string
                  status: string
                  uniqueID: 0
                  vendorCode: string
                  vendorReturnNumber: string
                  vendorRMANumber: string
                  verificationBy: string
                  verificationDate: '2026-09-06T17:13:12.0000000+00:00'
                  verificationOfEffectiveness: string
                  verificationOfEffectivenessBy: string
                  verificationOfImplementation: string
      operationId: getApiV1CorrectivePreventiveActions
      x-operation-id-source: derived
  /api/v1/corrective-preventive-actions/{correctiveActionNumber}:
    get:
      tags:
      - Corrective Preventative Actions
      summary: Gets a corrective action by number
      description: 'By default a corrective action response will include only the fields: authorization, uniqueID, carDate, carJobNumber, carPrinted, closeOutDate, correctiveActionCode, correctiveActionNumber, customerCode, customerPONumber, customerRMANumber, description, enterBy, enterDate, feedbackNumber, immediateAction, implementationDate, lastModDate, lastModUser, orderNumber, partNumber, permanentAction, PONumber, qualityControlManager, quantityReturned, quantityToRework, reasonForReturn, responseDue, returnType, rmaItemNumber, rootCause, signatureOnFile, status, vendorCode, vendorReturnNumber, vendorRMANumber, verificationBy, verificationDate, verificationOfEffectiveness, verificationOfEffectivenessBy, verificationOfImplementation. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: correctiveActionNumber
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrectiveActionSuccessResponse'
              example:
                Data:
                  authorization: string
                  carDate: '2026-09-06T17:13:12.0000000+00:00'
                  carJobNumber: string
                  carPrinted: string
                  closeOutDate: '2026-09-06T17:13:12.0000000+00:00'
                  correctiveActionCode: string
                  correctiveActionNumber: string
                  customerCode: string
                  customerPONumber: string
                  customerRMANumber: string
                  description: string
                  enterBy: string
                  enterDate: '2026-09-06T17:13:12.0000000+00:00'
                  feedbackNumber: string
                  immediateAction: string
                  implementationDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  orderNumber: string
                  partNumber: string
                  permanentAction: string
                  PONumber: string
                  qualityControlManager: string
                  quantityReturned: 0
                  quantityToRework: 0
                  reasonForReturn: string
                  responseDue: '2026-09-06T17:13:12.0000000+00:00'
                  returnType: string
                  rmaItemNumber: 0
                  rootCause: string
                  signatureOnFile: string
                  status: string
                  uniqueID: 0
                  vendorCode: string
                  vendorReturnNumber: string
                  vendorRMANumber: string
                  verificationBy: string
                  verificationDate: '2026-09-06T17:13:12.0000000+00:00'
                  verificationOfEffectiveness: string
                  verificationOfEffectivenessBy: string
                  verificationOfImplementation: string
      operationId: getApiV1CorrectivePreventiveActionsByCorrectiveActionNumber
      x-operation-id-source: derived
components:
  schemas:
    CorrectiveActionListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CorrectiveAction'
      additionalProperties: false
    CorrectiveAction:
      type: object
      properties:
        authorization:
          type:
          - string
          - 'null'
          readOnly: true
        carDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        carJobNumber:
          type:
          - string
          - 'null'
          readOnly: true
        carPrinted:
          type:
          - string
          - 'null'
          readOnly: true
        closeOutDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        correctiveActionCode:
          type:
          - string
          - 'null'
          readOnly: true
        correctiveActionNumber:
          type:
          - string
          - 'null'
          readOnly: true
        customerCode:
          type:
          - string
          - 'null'
          readOnly: true
        customerPONumber:
          type:
          - string
          - 'null'
          readOnly: true
        customerRMANumber:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        enterBy:
          type:
          - string
          - 'null'
          readOnly: true
        enterDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        feedbackNumber:
          type:
          - string
          - 'null'
          readOnly: true
        immediateAction:
          type:
          - string
          - 'null'
          readOnly: true
        implementationDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        orderNumber:
          type:
          - string
          - 'null'
          readOnly: true
        partNumber:
          type:
          - string
          - 'null'
          readOnly: true
        permanentAction:
          type:
          - string
          - 'null'
          readOnly: true
        PONumber:
          type:
          - string
          - 'null'
          readOnly: true
        qualityControlManager:
          type:
          - string
          - 'null'
          readOnly: true
        quantityReturned:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToRework:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        reasonForReturn:
          type:
          - string
          - 'null'
          readOnly: true
        responseDue:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        returnType:
          type:
          - string
          - 'null'
          readOnly: true
        rmaItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        rootCause:
          type:
          - string
          - 'null'
          readOnly: true
        signatureOnFile:
          type:
          - string
          - 'null'
          readOnly: true
        status:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        vendorCode:
          type:
          - string
          - 'null'
          readOnly: true
        vendorReturnNumber:
          type:
          - string
          - 'null'
          readOnly: true
        vendorRMANumber:
          type:
          - string
          - 'null'
          readOnly: true
        verificationBy:
          type:
          - string
          - 'null'
          readOnly: true
        verificationDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        verificationOfEffectiveness:
          type:
          - string
          - 'null'
          readOnly: true
        verificationOfEffectivenessBy:
          type:
          - string
          - 'null'
          readOnly: true
        verificationOfImplementation:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    CorrectiveActionSuccessResponse:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/CorrectiveAction'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
