openapi: 3.2.0
info:
  title: Lasso Inventory Pricing Revisions API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Inventory Pricing Revisions
paths:
  /inventory/{inventoryId}/pricing-revisions:
    parameters:
    - in: path
      name: inventoryId
      schema:
        type: string
      required: true
    get:
      tags:
      - Inventory Pricing Revisions
      operationId: get_inventory_pricing_revisions
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Pricing revisions associated with this inventory
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PricingRevision'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Get inventory pricing revisions
      x-summary-source: derived
    post:
      tags:
      - Inventory Pricing Revisions
      operationId: post_inventory_pricing_revisions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingRevision'
      security:
      - JwtAuthorizer: []
      responses:
        201:
          description: Add a pricing revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRevision'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Post inventory pricing revisions
      x-summary-source: derived
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    PricingRevision:
      title: PricingRevision
      type: object
      required:
      - name
      - amount
      properties:
        name:
          type: string
          example: Adapt to higher mortgage rates
        amount:
          type: number
          example: '-100000'
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
