openapi: 3.2.0
info:
  title: JobBOSS² Public Customer Return Line Items API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Customer Return Line Items
paths:
  /api/v1/customer-return-line-items:
    get:
      tags:
      - Customer Return Line Items
      summary: Gets a list of Customer Return Line Items
      description: 'By default a customer return line item response will include only the fields: binLocation, correctiveActionNumber, createCAR, createNC, customerPONumber, customerRMANumber, deliveryTicketItemNumber, deliveryTicketNumber, description, lastModDate, lastModUser, lotNumber, ncNumber, originalJobNumber, originalOrderNumber, originalQuantityShipped, partDescription, partNumber, quantityGood, quantityReturned, quantityToRestock, quantityToRework, reasonCode, restockingPercent, reworkJobNumber, rmaItemNumber, status, uniqueID, unit. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by partNumber:
            value:
              partNumber: '1000'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerReturnLineItemListSuccessResponse'
              example:
                Data:
                - binLocation: string
                  correctiveActionNumber: string
                  createCAR: string
                  createNC: string
                  customerPONumber: string
                  customerRMANumber: string
                  deliveryTicketItemNumber: 0
                  deliveryTicketNumber: string
                  description: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  lotNumber: string
                  ncNumber: string
                  originalJobNumber: string
                  originalOrderNumber: string
                  originalQuantityShipped: 0
                  partDescription: string
                  partNumber: string
                  quantityGood: 0
                  quantityReturned: 0
                  quantityToRestock: 0
                  quantityToRework: 0
                  reasonCode: string
                  restockingPercent: 0
                  reworkJobNumber: string
                  rmaItemNumber: 0
                  status: string
                  uniqueID: 0
                  unit: string
      operationId: getApiV1CustomerReturnLineItems
      x-operation-id-source: derived
components:
  schemas:
    CustomerReturnLineItemListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerReturnLineItem'
      additionalProperties: false
    CustomerReturnLineItem:
      type: object
      properties:
        binLocation:
          type:
          - string
          - 'null'
          readOnly: true
        correctiveActionNumber:
          type:
          - string
          - 'null'
          readOnly: true
        createCAR:
          type:
          - string
          - 'null'
          readOnly: true
        createNC:
          type:
          - string
          - 'null'
          readOnly: true
        customerPONumber:
          type:
          - string
          - 'null'
          readOnly: true
        customerRMANumber:
          type:
          - string
          - 'null'
          readOnly: true
        deliveryTicketItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        deliveryTicketNumber:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        lotNumber:
          type:
          - string
          - 'null'
          readOnly: true
        ncNumber:
          type:
          - string
          - 'null'
          readOnly: true
        originalJobNumber:
          type:
          - string
          - 'null'
          readOnly: true
        originalOrderNumber:
          type:
          - string
          - 'null'
          readOnly: true
        originalQuantityShipped:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        partDescription:
          type:
          - string
          - 'null'
          readOnly: true
        partNumber:
          type:
          - string
          - 'null'
          readOnly: true
        quantityGood:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityReturned:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToRestock:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToRework:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        reasonCode:
          type:
          - string
          - 'null'
          readOnly: true
        restockingPercent:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        reworkJobNumber:
          type:
          - string
          - 'null'
          readOnly: true
        rmaItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        status:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        unit:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
