openapi: 3.2.0
info:
  title: JobBOSS² Public User Transactions API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: User Transactions
paths:
  /api/v1/user-transactions:
    get:
      tags:
      - User Transactions
      summary: Gets a list of User Transaction records
      description: 'By default a user transaction response will include only the fields: action, comments, object, transactionDate, uniqueID, userID, value, value2. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by userID:
            value:
              userID: JOHN
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTransactionSuccessResponse'
              example:
                Data:
                  action: string
                  comments: string
                  object: string
                  transactionDate: '2026-09-06T17:13:13.0000000+00:00'
                  uniqueID: 0
                  userID: string
                  value: string
                  value2: string
      operationId: getApiV1UserTransactions
      x-operation-id-source: derived
components:
  schemas:
    UserTransaction:
      type: object
      properties:
        action:
          type:
          - string
          - 'null'
          readOnly: true
        comments:
          type:
          - string
          - 'null'
          readOnly: true
        object:
          type:
          - string
          - 'null'
          readOnly: true
        transactionDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        userID:
          type:
          - string
          - 'null'
          readOnly: true
        value:
          type:
          - string
          - 'null'
          readOnly: true
        value2:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    UserTransactionSuccessResponse:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/UserTransaction'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
