openapi: 3.2.0
info:
  title: JobBOSS² Public Customer Return Releases API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Customer Return Releases
paths:
  /api/v1/customer-return-releases:
    get:
      tags:
      - Customer Return Releases
      summary: Gets a list of Customer Return Releases
      description: 'By default a customer return release response will include only the fields: binLocation, comments, customerRMANumber, lastModDate, lastModUser, lotNumber, quantityToRestock, quantityToRework, rmaItemNumber, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by lotNumber:
            value:
              lotNumber: '1'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerReturnReleaseApiListSuccessResponse'
              example:
                Data:
                - binLocation: string
                  comments: string
                  customerRMANumber: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  lotNumber: string
                  quantityToRestock: 0
                  quantityToRework: 0
                  rmaItemNumber: 0
                  uniqueID: 0
      operationId: getApiV1CustomerReturnReleases
      x-operation-id-source: derived
components:
  schemas:
    CustomerReturnReleaseApi:
      type: object
      properties:
        binLocation:
          type:
          - string
          - 'null'
          readOnly: true
        comments:
          type:
          - string
          - 'null'
          readOnly: true
        customerRMANumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        lotNumber:
          type:
          - string
          - 'null'
          readOnly: true
        quantityToRestock:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToRework:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        rmaItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CustomerReturnReleaseApiListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerReturnReleaseApi'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
