openapi: 3.2.0
info:
  title: JobBOSS² Public Null API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: 'null'
paths:
  /api/v1/eci-aps/authenticate-user:
    post:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Create api eci aps authenticate user
      x-summary-source: derived
      operationId: postApiV1EciApsAuthenticateUser
      x-operation-id-source: derived
  /api/v1/eci-aps/get-schedule:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api eci aps get schedule
      x-summary-source: derived
      operationId: getApiV1EciApsGetSchedule
      x-operation-id-source: derived
  /api/v1/shopview/authenticate-user:
    post:
      tags:
      - 'null'
      parameters:
      - name: userID
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
      summary: Create api shopview authenticate user
      x-summary-source: derived
      operationId: postApiV1ShopviewAuthenticateUser
      x-operation-id-source: derived
  /api/v1/shopview/filters:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview filters
      x-summary-source: derived
      operationId: getApiV1ShopviewFilters
      x-operation-id-source: derived
  /api/v1/shopview/get-jobs:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview get jobs
      x-summary-source: derived
      operationId: getApiV1ShopviewGetJobs
      x-operation-id-source: derived
  /api/v1/shopview/grid-option:
    post:
      tags:
      - 'null'
      parameters:
      - name: option
        in: query
        schema:
          type: string
      - name: columnID
        in: query
        schema:
          type: string
      - name: value
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
      summary: Create api shopview grid option
      x-summary-source: derived
      operationId: postApiV1ShopviewGridOption
      x-operation-id-source: derived
  /api/v1/shopview/grid-options:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview grid options
      x-summary-source: derived
      operationId: getApiV1ShopviewGridOptions
      x-operation-id-source: derived
  /api/v1/shopview/kpi-definitions:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview kpi definitions
      x-summary-source: derived
      operationId: getApiV1ShopviewKpiDefinitions
      x-operation-id-source: derived
  /api/v1/shopview/kpi/jobs-closed:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview kpi jobs closed
      x-summary-source: derived
      operationId: getApiV1ShopviewKpiJobsClosed
      x-operation-id-source: derived
  /api/v1/shopview/kpi/jobs-in-progress:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview kpi jobs in progress
      x-summary-source: derived
      operationId: getApiV1ShopviewKpiJobsInProgress
      x-operation-id-source: derived
  /api/v1/shopview/kpi/jobs-on-hold:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview kpi jobs on hold
      x-summary-source: derived
      operationId: getApiV1ShopviewKpiJobsOnHold
      x-operation-id-source: derived
  /api/v1/shopview/kpi/jobs-past-due:
    get:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Get api shopview kpi jobs past due
      x-summary-source: derived
      operationId: getApiV1ShopviewKpiJobsPastDue
      x-operation-id-source: derived
  /api/v1/shopview/reset-grid-options:
    post:
      tags:
      - 'null'
      responses:
        '200':
          description: Success
      summary: Create api shopview reset grid options
      x-summary-source: derived
      operationId: postApiV1ShopviewResetGridOptions
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
