openapi: 3.2.0
info:
  title: MFG Integration Management Financial Integration API
  description: Provides APIs for managing ECI MFG Integration Engine Configurations.
  contact:
    name: ECI Manufacturing Integration Team
    url: https://www.ecisolutions.com/support/
  version: 2.22.273+b02c1dfd00
servers:
- url: https://api-user.integrations.ecimanufacturing.com:443
  description: Production
security:
- oidc:
  - openid
- Basic: []
tags:
- name: FinancialIntegration
paths:
  /api/FinancialIntegration:
    post:
      tags:
      - FinancialIntegration
      summary: Register a new API Credential for the Financial Company
      description: 'Accessible By: Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: Register a new API Credential for the Financial Company.'
      operationId: RegisterFinancialIntegration
      requestBody:
        description: This is an object which contains all required and optional fields to register the Financial API Users.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinancialAPIUser'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinancialAPIUser'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinancialAPIUser'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetApiUserResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiUserResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GetApiUserResponseModelAPIResponse'
  /api/FinancialIntegration/{userId}:
    put:
      tags:
      - FinancialIntegration
      summary: This API is used to change the status of API User by the Company Manager
      description: 'Accessible By: Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to change the status of the API User by the Company Manager. It helps to change the User status from active to inactive and vice versa.'
      operationId: UserStatusFinancialIntegration
      parameters:
      - name: userId
        in: path
        description: UserId of API User in GUID format.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: boolean
          text/json:
            schema:
              type: boolean
          application/*+json:
            schema:
              type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
  /api/FinancialIntegration/auth:
    post:
      tags:
      - FinancialIntegration
      summary: Generate the Tokens to validate the financial product
      description: 'Accessible By: Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: Generate the Tokens to validate the financial product.'
      operationId: AuthFinancialIntegration
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinancialAuthRequest'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinancialAuthRequest'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FinancialAuthRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthResponseAPIResponse'
  /api/FinancialIntegration/GetECIFinancialsSystemBaseUrl:
    get:
      tags:
      - FinancialIntegration
      summary: Fetched all baseUrls for ECIFinancials
      operationId: GetECIFinancialsSystemBaseUrlFinancialIntegration
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringIListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringIListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringIListAPIResponse'
  /api/FinancialIntegration/myob_companies:
    post:
      tags:
      - FinancialIntegration
      summary: Get the list of MYOB Companies
      description: 'Accessible By: Everyone can use this API because it''s Anonymous.\

        Accessed From: User Mgmt UI.\

        Description: Get the list of MYOB Companies.'
      operationId: MyobCompanyListFinancialIntegration
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetMyobCompanyRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetMyobCompanyRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GetMyobCompanyRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CompanyMyobFileIListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyMyobFileIListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyMyobFileIListAPIResponse'
  /api/FinancialIntegration/update_financialcompany:
    put:
      tags:
      - FinancialIntegration
      summary: This API is used to update financial company detail for MYOB
      description: 'Accessible By: Global Admin, Product Admin, Product Support User, Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to update financial company detail for MYOB.'
      operationId: UpdateFinancialCompanyDetailFinancialIntegration
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateFinancialDetailRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateFinancialDetailRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateFinancialDetailRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
  /api/FinancialIntegration/users:
    get:
      tags:
      - FinancialIntegration
      summary: Get a List of API Credentials
      description: 'Accessible By: Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: List API Credentials for the given Company Id and Integration Id.'
      operationId: UsersFinancialIntegration
      parameters:
      - name: companyId
        in: query
        description: Company Id
        required: true
        schema:
          type: integer
          format: int32
      - name: integrationId
        in: query
        description: Integration Id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiUserIntegrationDetailResponseApiUserListResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUserIntegrationDetailResponseApiUserListResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiUserIntegrationDetailResponseApiUserListResponseAPIResponse'
  /api/FinancialIntegration/validate:
    post:
      tags:
      - FinancialIntegration
      summary: Get the Authorization URL for validating a financial product
      description: 'Accessible By: Company Manager.\

        Accessed From: User Mgmt UI.\

        Description: Get the Authorization URL for validating a financial product. Used when a company manager logs in and connects to and validates the financial product.'
      operationId: ValidateFinancialIntegration
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ValidateFinancialKeys'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ValidateFinancialKeys'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ValidateFinancialKeys'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidateFinancialKeysResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateFinancialKeysResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidateFinancialKeysResponseAPIResponse'
components:
  schemas:
    AuthResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        clientId:
          type:
          - string
          - 'null'
        secret:
          type:
          - string
          - 'null'
        systemName:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
      additionalProperties: false
    FinancialAPIUser:
      required:
      - eciIntegrationId
      - erpApiProductId
      - expireType
      - financialCompanyId
      - firstName
      - userType
      type: object
      properties:
        username:
          type:
          - string
          - 'null'
        password:
          type:
          - string
          - 'null'
        email:
          pattern: ^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$
          type:
          - string
          - 'null'
        firstName:
          maxLength: 50
          minLength: 2
          type: string
        lastName:
          type:
          - string
          - 'null'
        eciIntegrationId:
          type: integer
          format: int32
        systemName:
          type:
          - string
          - 'null'
        userType:
          type: integer
          description: 1 = Person, 2 = System (default)
          format: int32
        financialProduct:
          type:
          - string
          - 'null'
        financialCompanyId:
          type: integer
          format: int32
        erpApiProductId:
          type: integer
          format: int32
        expireType:
          type: integer
          format: int32
        days:
          type:
          - integer
          - 'null'
          format: int32
        expireDateTime:
          type:
          - string
          - 'null'
        companyId:
          type: integer
          format: int32
      additionalProperties: false
    ApiUserIntegrationDetailResponseApiUserListResponse:
      type: object
      properties:
        apiUserList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiUserIntegrationDetailResponse'
      additionalProperties: false
    ValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    AuthResponseAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/AuthResponse'
      additionalProperties: false
    ApiUserIntegrationDetailResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        isEmailConfirmed:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        lastActivityDateTime:
          type:
          - string
          - 'null'
          format: date-time
        enablePasswordReset:
          type: boolean
        accountStatus:
          type:
          - string
          - 'null'
        accountVerifiedStatus:
          type:
          - string
          - 'null'
        enableResendVerification:
          type: boolean
        enableConfirmUser:
          type: boolean
        userType:
          type: integer
          description: 'Credential type: 1 = Person, 2 = System, 3 = GroupProfile, 4 = NexusUser.'
          format: int32
        expireType:
          type: integer
          format: int32
        expireDateUtc:
          type:
          - string
          - 'null'
          format: date-time
        environment:
          type:
          - string
          - 'null'
        integrationIsActive:
          type: boolean
        companyIsActive:
          type: boolean
        financialCompany:
          type:
          - string
          - 'null'
        financialCompanyId:
          type:
          - integer
          - 'null'
          format: int32
        systemName:
          type:
          - string
          - 'null'
        integrationId:
          type: integer
          format: int32
        productId:
          type: integer
          format: int32
        integrationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    UpdateFinancialDetailRequestModel:
      type: object
      properties:
        financialCompanyId:
          type: integer
          format: int32
        myobCompanyName:
          type:
          - string
          - 'null'
        myobCompanyId:
          type:
          - string
          - 'null'
      additionalProperties: false
    GetApiUserResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/GetApiUserResponseModel'
      additionalProperties: false
    CompanyMyobFile:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
          format: uri
      additionalProperties: false
    GetMyobCompanyRequestModel:
      type: object
      properties:
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        financialCompanyId:
          type: integer
          format: int32
      additionalProperties: false
    ValidateFinancialKeysResponse:
      type: object
      properties:
        url:
          type:
          - string
          - 'null'
        sessionId:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiIntegrationApiUserProperty:
      type: object
      properties:
        id:
          type: integer
          format: int32
        keyValue:
          type:
          - string
          - 'null'
        keyId:
          type: integer
          format: int32
        isRequired:
          type: boolean
        description:
          type:
          - string
          - 'null'
        isSecret:
          type: boolean
        displayOrdinal:
          type: integer
          format: int32
      additionalProperties: false
    RateLimits:
      type: object
      properties:
        ip:
          type:
          - integer
          - 'null'
          format: int32
        ipPeriod:
          type:
          - integer
          - 'null'
          format: int32
        company:
          type:
          - integer
          - 'null'
          format: int32
        companyPeriod:
          type:
          - integer
          - 'null'
          format: int32
        user:
          type:
          - integer
          - 'null'
          format: int32
        userPeriod:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ApiUserIntegrationDetailResponseApiUserListResponseAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ApiUserIntegrationDetailResponseApiUserListResponse'
      additionalProperties: false
    ValidateFinancialKeys:
      required:
      - financialProductId
      - isEciKeyRequired
      - redirectUri
      type: object
      properties:
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        financialProductId:
          type: integer
          format: int32
        redirectUri:
          minLength: 1
          type: string
        isEciKeyRequired:
          type: boolean
        environment:
          type:
          - string
          - 'null'
        systemBaseUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
    FinancialAuthRequest:
      required:
      - code
      - financialProductId
      - isEciKeyRequired
      - redirectUri
      type: object
      properties:
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        financialProductId:
          type: integer
          format: int32
        redirectUri:
          minLength: 1
          type: string
        isEciKeyRequired:
          type: boolean
        environment:
          type:
          - string
          - 'null'
        systemBaseUrl:
          type:
          - string
          - 'null'
        code:
          minLength: 1
          type: string
        realmId:
          type:
          - string
          - 'null'
        companyId:
          type: integer
          format: int32
        sessionId:
          type:
          - string
          - 'null'
        codeVerifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    CompanyMyobFileIListAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanyMyobFile'
      additionalProperties: false
    ApiError:
      type: object
      properties:
        isError:
          type: boolean
        exceptionMessage:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        referenceErrorCode:
          type:
          - string
          - 'null'
        referenceDocumentLink:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
      additionalProperties: false
    ValidateFinancialKeysResponseAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ValidateFinancialKeysResponse'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringIListAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    GetApiUserResponseModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        password:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        companyId:
          type: integer
          format: int32
        companyNexusId:
          type:
          - string
          - 'null'
        financialCompanyId:
          type:
          - integer
          - 'null'
          format: int32
        financialCompanyName:
          type:
          - string
          - 'null'
        companyName:
          type:
          - string
          - 'null'
        companyCustomerId:
          type:
          - string
          - 'null'
        eciProductName:
          type:
          - string
          - 'null'
        productId:
          type: integer
          format: int32
        eciIntegrationId:
          type: integer
          format: int32
        eciIntegrationName:
          type:
          - string
          - 'null'
        isEmailVerified:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        systemId:
          type: integer
          format: int32
        systemName:
          type:
          - string
          - 'null'
        accountVerifiedStatus:
          type:
          - string
          - 'null'
        enablePasswordReset:
          type: boolean
        accountStatus:
          type:
          - string
          - 'null'
        enableResendVerification:
          type: boolean
        enableConfirmUser:
          type: boolean
        userType:
          type: integer
          format: int32
        expireType:
          type:
          - integer
          - 'null'
          format: int32
        expireDateUtc:
          type:
          - string
          - 'null'
          format: date-time
        integrationIsActive:
          type: boolean
        integrationIsHosted:
          type: boolean
        companyIsActive:
          type: boolean
        rateLimits:
          allOf:
          - $ref: '#/components/schemas/RateLimits'
        apiIntegrationApiUserProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiIntegrationApiUserProperty'
      additionalProperties: false
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Use id_token obtained from OpenID Connect flow.
      openIdConnectUrl: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_9IYBf4TpD/.well-known/openid-configuration
      x-tokenName: id_token
    Basic:
      type: http
      description: Username is ClientID, Password is Client Secret.
      scheme: Basic
