openapi: 3.2.0
info:
  title: ERP API v2.1 Work Center API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: WorkCenter
paths:
  /api/v2.1/work-centers:
    post:
      tags:
      - WorkCenter
      summary: Create a new WorkCenter in the ERP system
      description: '## Supported ERPs

        - JobBOSS²'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkCenterCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/WorkCenterCreateModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/WorkCenterCreateModel'
      responses:
        '201':
          description: Created
      operationId: postApiV21WorkCenters
      x-operation-id-source: derived
    get:
      tags:
      - WorkCenter
      summary: Get a list of WorkCenters from the ERP system that match the given filters
      description: 'Gets a list of WorkCenter.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        workCenterID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        shortDesc|Yes|Yes|M1, JobBOSS², Macola, Deacom

        deptID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        overHeadRate|Yes|Yes|M1, JobBOSS², Macola, Deacom

        quoteRate|Yes|Yes|M1, JobBOSS², Macola, Deacom

        processID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        parentWorkCenterID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        shiftID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        uniqueID|Yes|Yes|M1, JobBOSS², Macola, Deacom

        rowVersion|Yes|Yes|M1, JobBOSS², Macola, Deacom

        laborRate|Yes|Yes|JobBOSS²'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              workCenterID[eq]: abc123
              shortDesc[eq]: abc123
              deptID[eq]: abc123
              overHeadRate[eq]: abc123
              quoteRate[eq]: abc123
              processID[eq]: abc123
              parentWorkCenterID[eq]: abc123
              shiftID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              laborRate[eq]: abc123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          departments|Departments[]|

          shifts|Shifts[]|

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WorkCenterListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/WorkCenterListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkCenterListResponse'
      operationId: getApiV21WorkCenters
      x-operation-id-source: derived
  /api/v2.1/work-centers/{id}:
    get:
      tags:
      - WorkCenter
      summary: Get an WorkCenters from the ERP system that matches the given unique ID
      description: 'Gets a WorkCenter by unique ID.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        - Deacom

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        workCenterID||M1, JobBOSS², Macola, Deacom

        shortDesc||M1, JobBOSS², Macola, Deacom

        deptID||M1, JobBOSS², Macola, Deacom

        overHeadRate||M1, JobBOSS², Macola, Deacom

        quoteRate||M1, JobBOSS², Macola, Deacom

        processID||M1, JobBOSS², Macola, Deacom

        parentWorkCenterID||M1, JobBOSS², Macola, Deacom

        shiftID||M1, JobBOSS², Macola, Deacom

        uniqueID||M1, JobBOSS², Macola, Deacom

        rowVersion||M1, JobBOSS², Macola, Deacom

        laborRate||JobBOSS²'
      parameters:
      - name: id
        in: path
        description: The ID of the WorkCenter
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WorkCenter'
            application/json:
              schema:
                $ref: '#/components/schemas/WorkCenter'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkCenter'
      operationId: getApiV21WorkCentersById
      x-operation-id-source: derived
components:
  schemas:
    WorkCenterListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkCenter'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
    ShiftDay:
      title: ShiftDay
      type: object
      properties:
        shiftID:
          type: number
          format: float
        shiftDay:
          type: number
          format: float
        startTime:
          type: string
        endTime:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
    WorkCenterCreateModel:
      required:
      - workCenterID
      type: object
      properties:
        workCenterID:
          minLength: 1
          type: string
          description: The ID or code identifying this workcenter.
        shortDesc:
          type:
          - string
          - 'null'
          description: The short description for the workcenter.
        deptID:
          type:
          - string
          - 'null'
          description: The ID of the department associated with the workcenter.
        overHeadRate:
          type:
          - string
          - 'null'
          description: The overhead rate for the workcenter.
        laborRate:
          type:
          - string
          - 'null'
          description: The labor rate for the workcenter.
        quoteRate:
          type:
          - string
          - 'null'
          description: The Quote rate for the workcenter.
        processID:
          type:
          - string
          - 'null'
          description: The ID of the process associated with the workcenter.
      additionalProperties: false
      description: A model used to create new workcenters.
    Shift:
      title: Shift
      type: object
      properties:
        shiftID:
          type: number
          format: float
        shortDesc:
          type: string
        inactiveDate:
          type: string
          format: date-time
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        shiftDays:
          type: array
          items:
            $ref: '#/components/schemas/ShiftDay'
    Department:
      title: Department
      type: object
      properties:
        deptID:
          type: string
        shortDesc:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
    WorkCenter:
      title: WorkCenter
      type: object
      properties:
        workCenterID:
          type: string
        shortDesc:
          type: string
        deptID:
          type: string
        overHeadRate:
          type: string
        quoteRate:
          type: string
        processID:
          type: string
        parentWorkCenterID:
          type: string
        shiftID:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        laborRate:
          type: string
        departments:
          type: array
          items:
            $ref: '#/components/schemas/Department'
        shifts:
          type: array
          items:
            $ref: '#/components/schemas/Shift'
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
