openapi: 3.2.0
info:
  title: M1 Public ERP/PURCHASERECEIPTS API
  description: '## Developer Notes for the M1 Public API (ERP resource):


    ### Hosted Environment


    If you are using the public API for a hosted M1 customer, you must connect to the public API using the Integration Engine.'
  contact:
    name: ECI Software Solutions - M1
    url: https://www.ecisolutions.com/manufacturers-and-job-shops/m1
  version: v1
servers:
- url: https://api-m1.integrations.ecimanufacturing.com
  description: API Host
security:
- oauth2: []
tags:
- name: ERP/PURCHASERECEIPTS
paths:
  /api/ERP/ReceiptComponents:
    get:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Returns all existing ReceiptComponents according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPReceiptComponents_GetAllReceiptComponentAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Creates or updates a single ReceiptComponent record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPReceiptComponents_PutReceiptComponentAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPReceiptComponentDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPReceiptComponentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPReceiptComponentDto'
        required: true
        x-bodyName: receiptComponent
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/ReceiptComponents/{key}:
    get:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Returns a single ReceiptComponent record for a given Unique Id
      description: This endpoint retrieves a ReceiptComponent based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPReceiptComponents_GetReceiptComponentAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Deletes a single ReceiptComponent record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPReceiptComponents_DeleteReceiptComponentAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/ReceiptLines:
    get:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Returns all existing ReceiptLines according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPReceiptLines_GetAllReceiptLineAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Creates or updates a single ReceiptLine record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPReceiptLines_PutReceiptLineAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPReceiptLineDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPReceiptLineDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPReceiptLineDto'
        required: true
        x-bodyName: receiptLine
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/ReceiptLines/{key}:
    get:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Returns a single ReceiptLine record for a given Unique Id
      description: This endpoint retrieves a ReceiptLine based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPReceiptLines_GetReceiptLineAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Deletes a single ReceiptLine record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPReceiptLines_DeleteReceiptLineAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/Receipts:
    get:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Returns all existing Receipts according to the filter, order by and pagination…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPReceipts_GetAllReceiptAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPReceiptDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Creates or updates a single Receipt record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPReceipts_PutReceiptAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPReceiptDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPReceiptDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPReceiptDto'
        required: true
        x-bodyName: receipt
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/Receipts/{key}:
    get:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Returns a single Receipt record for a given Unique Id
      description: This endpoint retrieves a Receipt based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPReceipts_GetReceiptAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/PURCHASERECEIPTS
      summary: Deletes a single Receipt record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPReceipts_DeleteReceiptAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPReceiptDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
components:
  schemas:
    APIResponseMessageDto:
      type: object
      properties:
        description:
          type: string
        status:
          type: string
        payloadID:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          readOnly: true
    ERPResponseMessageDto_ERPReceiptDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPReceiptDto'
        recordCount:
          type: integer
          format: int32
    ERPReceiptLineDto:
      required:
      - rmlReceiptID
      - rmlReceiptLineID
      type: object
      properties:
        rmlConversionFactor:
          minimum: 0
          type: number
          format: double
        rmlCreatedBy:
          type: string
        rmlCreatedDate:
          type: string
          format: date-time
        rmlDescription:
          type: string
        rmlDmrClaimID:
          type: string
        rmlDmrClaimLineID:
          type: integer
          format: int32
        rmlDutyUnitCost:
          minimum: 0
          type: number
          format: double
        rmlUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        rmlExtendedCostBase:
          minimum: 0
          type: number
          format: double
        rmlExtendedCostForeign:
          minimum: 0
          type: number
          format: double
        rmlForm1099Box:
          type: integer
          format: int32
        rmlFreightUnitCost:
          minimum: 0
          type: number
          format: double
        rmlHeatLot:
          type: string
        rmlInspectionNotesRTF:
          type: string
        rmlInspectionNotesText:
          type: string
        rmlInventoryQuantityReceived:
          minimum: 0
          type: number
          format: double
        rmlInventoryUnitCost:
          minimum: 0
          type: number
          format: double
        rmlInventoryUnitCostForeign:
          minimum: 0
          type: number
          format: double
        rmlInventoryUnitOfMeasure:
          type: string
        rmlClosed:
          type: boolean
        rmlInInspection:
          type: boolean
        rmlInspectionComplete:
          type: boolean
        rmlInvoicedComplete:
          type: boolean
        rmlJobReceivedComplete:
          type: boolean
        rmlKitPart:
          type: boolean
        rmlPoReceivedComplete:
          type: boolean
        rmlPostedToGl:
          type: boolean
        rmlRequiresInspection:
          type: boolean
        rmlReversed:
          type: boolean
        rmlTrackSerialNumbers:
          type: boolean
        rmlJobAssemblyID:
          type: integer
          format: int32
        rmlJobEstimatedQuantity:
          minimum: 0
          type: number
          format: double
        rmlJobID:
          type: string
        rmlJobMaterialID:
          type: integer
          format: int32
        rmlJobMatQuantityReceived:
          minimum: 0
          type: number
          format: double
        rmlJobOpenQuantity:
          minimum: 0
          type: number
          format: double
        rmlJobOperationID:
          type: integer
          format: int32
        rmlJobOprQuantityReceived:
          minimum: 0
          type: number
          format: double
        rmlJobType:
          type: integer
          format: int32
        rmlMiscUnitCost:
          minimum: 0
          type: number
          format: double
        rmlOrgPartID:
          type: string
        rmlOrgPartShortDescription:
          type: string
        rmlPartBinID:
          type: string
        rmlPartID:
          type: string
        rmlPartLongDescriptionRtf:
          type: string
        rmlPartLongDescriptionText:
          type: string
        rmlPartRevisionID:
          type: string
        rmlPartWarehouseLocationID:
          type: string
        rmlPoOpenQuantity:
          minimum: 0
          type: number
          format: double
        rmlPoPurchaseQuantity:
          minimum: 0
          type: number
          format: double
        rmlProjectAreaID:
          type: string
        rmlProjectID:
          type: string
        rmlPurchaseOrderID:
          type: string
        rmlPurchaseOrderLineID:
          type: integer
          format: int32
        rmlPurchaseQuantityReceived:
          minimum: 0
          type: number
          format: double
        rmlPurchaseUnitCost:
          minimum: 0
          type: number
          format: double
        rmlPurchaseUnitCostForeign:
          minimum: 0
          type: number
          format: double
        rmlPurchaseUnitOfMeasure:
          type: string
        rmlQuantityToInspect:
          minimum: 0
          type: number
          format: double
        rmlReceiptID:
          type: string
        rmlReference:
          type: string
        rmlReverseReceiptID:
          type: string
        rmlReverseReceiptLineID:
          type: integer
          format: int32
        rmlRmaClaimID:
          type: string
        rmlRmaClaimLineID:
          type: integer
          format: int32
        rmlRowVersion:
          type: integer
          format: int64
        rmlSalesOrderDeliveryID:
          type: integer
          format: int32
        rmlSalesOrderID:
          type: string
        rmlSalesOrderLineID:
          type: integer
          format: int32
        rmlReceiptLineID:
          type: integer
          format: int32
        rmlSetupCharge:
          minimum: 0
          type: number
          format: double
        rmlSetupChargeForeign:
          minimum: 0
          type: number
          format: double
        rmlTotalComponentCosts:
          minimum: 0
          type: number
          format: double
    ERPResponseMessageDto_IList_ERPReceiptLineDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPReceiptLineDto'
        recordCount:
          type: integer
          format: int32
    ERPResponseMessageDto_IList_ERPReceiptComponentDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPReceiptComponentDto'
        recordCount:
          type: integer
          format: int32
    ERPResponseMessageDto_ERPReceiptLineDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPReceiptLineDto'
        recordCount:
          type: integer
          format: int32
    ERPReceiptComponentDto:
      required:
      - rmoPartBinID
      - rmoPartID
      - rmoPartWarehouseLocationID
      - rmoReceiptID
      - rmoReceiptLineID
      - rmoReceiptComponentID
      type: object
      properties:
        rmoAdditionalQuantity:
          minimum: 0
          type: number
          format: double
        rmoConversionFactor:
          minimum: 0
          type: number
          format: double
        rmoCreatedBy:
          type: string
        rmoCreatedDate:
          type: string
          format: date-time
        rmoDescription:
          type: string
        rmoUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        rmoExtendedCostBase:
          minimum: 0
          type: number
          format: double
        rmoExtendedCostForeign:
          minimum: 0
          type: number
          format: double
        rmoInspParentQuantity:
          minimum: 0
          type: number
          format: double
        rmoInventoryUnitCost:
          minimum: 0
          type: number
          format: double
        rmoInventoryUnitCostForeign:
          minimum: 0
          type: number
          format: double
        rmoInvParentQuantity:
          minimum: 0
          type: number
          format: double
        rmoInvQuantityReceived:
          minimum: 0
          type: number
          format: double
        rmoClosed:
          type: boolean
        rmoInspectionComplete:
          type: boolean
        rmoJobReceivedComplete:
          type: boolean
        rmoPostedToGl:
          type: boolean
        rmoReceivedComplete:
          type: boolean
        rmoReversed:
          type: boolean
        rmoJobAssemblyID:
          type: integer
          format: int32
        rmoJobID:
          type: string
        rmoJobMaterialComponentID:
          type: integer
          format: int32
        rmoJobMaterialID:
          type: integer
          format: int32
        rmoJobParentQuantity:
          minimum: 0
          type: number
          format: double
        rmoJobQuantityReceived:
          minimum: 0
          type: number
          format: double
        rmoPartBinID:
          type: string
        rmoPartID:
          type: string
        rmoPartRevisionID:
          type: string
        rmoPartWarehouseLocationID:
          type: string
        rmoPurchaseOrderComponentID:
          type: integer
          format: int32
        rmoPurchaseOrderID:
          type: string
        rmoPurchaseOrderLineID:
          type: integer
          format: int32
        rmoPurchaseUnitCost:
          minimum: 0
          type: number
          format: double
        rmoPurchaseUnitCostForeign:
          minimum: 0
          type: number
          format: double
        rmoQuantityPerParent:
          minimum: 0
          type: number
          format: double
        rmoQuantityToInspect:
          minimum: 0
          type: number
          format: double
        rmoReceiptID:
          type: string
        rmoReceiptLineID:
          type: integer
          format: int32
        rmoReverseReceiptComponentID:
          type: integer
          format: int32
        rmoReverseReceiptID:
          type: string
        rmoReverseReceiptLineID:
          type: integer
          format: int32
        rmoRowVersion:
          type: integer
          format: int64
        rmoReceiptComponentID:
          type: integer
          format: int32
        rmoUnitOfMeasure:
          type: string
        rmoWeight:
          minimum: 0
          type: number
          format: double
    ERPReceiptDto:
      required:
      - rmpReceiptID
      - rmpReceiptDate
      - rmpSupplierOrganizationID
      type: object
      properties:
        rmpApInvoiceContactID:
          type: string
        rmpApInvoiceLocationID:
          type: string
        rmpClosedDate:
          type: string
          format: date-time
        rmpReceiptID:
          type: string
        rmpCreatedBy:
          type: string
        rmpCreatedDate:
          type: string
          format: date-time
        rmpCurrencyRateID:
          type: string
        rmpDeliveryDocket:
          type: string
        rmpUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        rmpExchangeRate:
          minimum: 0
          type: number
          format: double
        rmpFreightCharge:
          minimum: 0
          type: number
          format: double
        rmpFreightChargeForeign:
          minimum: 0
          type: number
          format: double
        rmpClosed:
          type: boolean
        rmpCustomRate:
          type: boolean
        rmpFlaggedForWMS:
          type: boolean
        rmpNestlinkProcessed:
          type: boolean
        rmpPostedToGl:
          type: boolean
        rmpReversalEntry:
          type: boolean
        rmpReversed:
          type: boolean
        rmpLandedCostID:
          type: string
        rmpPlantDepartmentID:
          type: string
        rmpPlantID:
          type: string
        rmpPostedDate:
          type: string
          format: date-time
        rmpProjectID:
          type: string
        rmpPurchaseContactID:
          type: string
        rmpPurchaseLocationID:
          type: string
        rmpReceiptDate:
          type: string
          format: date-time
        rmpReceiptSubtotal:
          minimum: 0
          type: number
          format: double
        rmpReceiptSubtotalForeign:
          minimum: 0
          type: number
          format: double
        rmpReceiptTotal:
          minimum: 0
          type: number
          format: double
        rmpReceiptTotalForeign:
          minimum: 0
          type: number
          format: double
        rmpRowVersion:
          type: integer
          format: int64
        rmpShippingMethodID:
          type: string
        rmpSupplierOrganizationID:
          type: string
    Error:
      type: object
      properties:
        innerText:
          type: string
    ERPResponseMessageDto_ERPReceiptComponentDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPReceiptComponentDto'
        recordCount:
          type: integer
          format: int32
    Warning:
      type: object
      properties:
        innerText:
          type: string
    ERPResponseMessageDto_IList_ERPReceiptDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPReceiptDto'
        recordCount:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
