openapi: 3.2.0
info:
  title: JobBOSS² Public Employee Trainings API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Employee Trainings
paths:
  /api/v1/employee-trainings:
    get:
      tags:
      - Employee Trainings
      summary: Gets a list of Employee Trainings
      description: 'By default an employee training response will include only the fields: completed, cost, description, employeeCode, employeeName, endDate, instructor, invoiceNumber, lastModDate, lastModUser, location, startDate, trainingCode, vendorCode, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Employee Code:
            value:
              employeeCode: '101'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTrainingListSuccessResponse'
              example:
                Data:
                - completed: false
                  cost: 0
                  description: string
                  employeeCode: 0
                  employeeName: string
                  endDate: '2026-09-06T17:13:12.0000000+00:00'
                  instructor: string
                  invoiceNumber: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  location: string
                  startDate: '2026-09-06T17:13:12.0000000+00:00'
                  trainingCode: string
                  uniqueID: 0
                  vendorCode: string
      operationId: getApiV1EmployeeTrainings
      x-operation-id-source: derived
components:
  schemas:
    EmployeeTrainingListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmployeeTraining'
      additionalProperties: false
    EmployeeTraining:
      type: object
      properties:
        completed:
          type: boolean
          readOnly: true
        cost:
          type:
          - number
          - 'null'
          format: float
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        employeeCode:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        employeeName:
          type:
          - string
          - 'null'
          readOnly: true
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        instructor:
          type:
          - string
          - 'null'
          readOnly: true
        invoiceNumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        location:
          type:
          - string
          - 'null'
          readOnly: true
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        trainingCode:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        vendorCode:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
