openapi: 3.2.0
info:
  title: Lasso Registrant Question Answers API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Registrant Question Answers
paths:
  /registrants/{registrantId}/questions:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    post:
      tags:
      - Registrant Question Answers
      operationId: post_registrants_questions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Question'
      security:
      - JwtAuthorizer: []
      responses:
        201:
          description: Question successfully answered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Post registrants questions
      x-summary-source: derived
  /registrants/{registrantId}/questions/{questionId}:
    parameters:
    - in: path
      name: registrantId
      required: true
      schema:
        type: string
    - in: path
      name: questionId
      required: true
      schema:
        type: string
    put:
      tags:
      - Registrant Question Answers
      operationId: put_registrants_questions_by_id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Answers'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Question successfully answered
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Question'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      summary: Put registrants questions by id
      x-summary-source: derived
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    Answers:
      type: object
      title: Question Answers
      description: Represents a collection of answers for a question
      properties:
        answers:
          type: array
          items:
            $ref: '#/components/schemas/Answer'
    Question:
      type: object
      title: Question
      description: 'Questions in Lasso are sorted into folders. You can use `path` to

        specify which folder the question should be saved to.


        Specifying the questionId will override name and path and the

        question will be looked up by its ID. If no question is found the

        question is *not* created and the request fails.


        Any existing registrant answers to the question will be replaced by the

        answers from this request. Existing answer options on the question will

        not be removed.


        If the question does not exist and no question ID is provided, a new

        question will be created. If the path is empty, the question will be

        created in a folder named after the API key vendor type - ie, `lassoLeadCapture`.


        The possible answer options are created for each answer provided in the

        `answer` key. Only question type `checkbox` supports multiple answers. All

        of them will be marked as checked for the registrant.

        '
      properties:
        questionId:
          type: string
          description: Specifies precisely which question
          example: 123
        type:
          type: string
          description: "If the question does not exist, this defines which type of question is\ngoing to be created. Defaults to type `Text`. Available types are:\n- Checkbox\n  Multiple possible answers, and multiple set answers\n- Text\n  Only one possible answer which is freeform text\n- Date\n  Only one possible answer, a date in the ISO 8601 UTC format\n- Single Select\n  Only one possible answer from a set of answers\n- Multi Select\n  Multiple possible answers from a set of answers\n"
          enum:
          - checkbox
          - text
          - single_select
          - multi_select
          - date
          example: checkbox
        name:
          type: string
          example: How did you hear about us?
          maxLength: 100
        path:
          type: string
          description: 'Specify which folder the question is in. Format: `/folder/subfolder`. If no path is given, the `integrations` folder will be used.'
          example: /marketing/inbound
          maxLength: 40
        answers:
          type: array
          items:
            $ref: '#/components/schemas/Answer'
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
    Answer:
      type: object
      title: Question Answer
      description: Represents an answer for a question for the registrant
      properties:
        answerId:
          type: string
          description: Specifies the answer by id. If present, `answer` will be ignored. If no answer matches `answerId` the answer will be looked-up by its answer string.
          example: 123
        answer:
          type: string
          description: If no `answerId` is given, the answer will be looked-up by its answer string. If no answer with the given answer string exists, the answer will be created.
          example: Recommended by a friend
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
