openapi: 3.2.0
info:
  title: M1 Public ERP/CALCULATORS API
  description: '## Developer Notes for the M1 Public API (ERP resource):


    ### Hosted Environment


    If you are using the public API for a hosted M1 customer, you must connect to the public API using the Integration Engine.'
  contact:
    name: ECI Software Solutions - M1
    url: https://www.ecisolutions.com/manufacturers-and-job-shops/m1
  version: v1
servers:
- url: https://api-m1.integrations.ecimanufacturing.com
  description: API Host
security:
- oauth2: []
tags:
- name: ERP/CALCULATORS
paths:
  /api/ERP/LaserCalculatorLines:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns all existing LaserCalculatorLines according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPLaserCalculatorLines_GetAllLaserCalculatorLineAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/CALCULATORS
      summary: Creates or updates a single LaserCalculatorLine record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPLaserCalculatorLines_PutLaserCalculatorLineAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPLaserCalculatorLineDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPLaserCalculatorLineDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPLaserCalculatorLineDto'
        required: true
        x-bodyName: laserCalculatorLine
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/LaserCalculatorLines/{key}:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns a single LaserCalculatorLine record for a given Unique Id
      description: This endpoint retrieves a LaserCalculatorLine based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPLaserCalculatorLines_GetLaserCalculatorLineAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/CALCULATORS
      summary: Deletes a single LaserCalculatorLine record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPLaserCalculatorLines_DeleteLaserCalculatorLineAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/LaserCalculators:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns all existing LaserCalculators according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPLaserCalculators_GetAllLaserCalculatorAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPLaserCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/CALCULATORS
      summary: Creates or updates a single LaserCalculator record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPLaserCalculators_PutLaserCalculatorAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPLaserCalculatorDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPLaserCalculatorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPLaserCalculatorDto'
        required: true
        x-bodyName: laserCalculator
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/LaserCalculators/{key}:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns a single LaserCalculator record for a given Unique Id
      description: This endpoint retrieves a LaserCalculator based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPLaserCalculators_GetLaserCalculatorAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/CALCULATORS
      summary: Deletes a single LaserCalculator record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPLaserCalculators_DeleteLaserCalculatorAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPLaserCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/PunchCalculators:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns all existing PunchCalculators according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPPunchCalculators_GetAllPunchCalculatorAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPPunchCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPPunchCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPPunchCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPPunchCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/CALCULATORS
      summary: Creates or updates a single PunchCalculator record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPPunchCalculators_PutPunchCalculatorAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPPunchCalculatorDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPPunchCalculatorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPPunchCalculatorDto'
        required: true
        x-bodyName: punchCalculator
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/PunchCalculators/{key}:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns a single PunchCalculator record for a given Unique Id
      description: This endpoint retrieves a PunchCalculator based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPPunchCalculators_GetPunchCalculatorAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/CALCULATORS
      summary: Deletes a single PunchCalculator record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPPunchCalculators_DeletePunchCalculatorAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPPunchCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SheetCalculators:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns all existing SheetCalculators according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSheetCalculators_GetAllSheetCalculatorAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSheetCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSheetCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSheetCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSheetCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/CALCULATORS
      summary: Creates or updates a single SheetCalculator record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSheetCalculators_PutSheetCalculatorAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSheetCalculatorDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSheetCalculatorDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSheetCalculatorDto'
        required: true
        x-bodyName: sheetCalculator
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SheetCalculators/{key}:
    get:
      tags:
      - ERP/CALCULATORS
      summary: Returns a single SheetCalculator record for a given Unique Id
      description: This endpoint retrieves a SheetCalculator based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSheetCalculators_GetSheetCalculatorAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/CALCULATORS
      summary: Deletes a single SheetCalculator record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSheetCalculators_DeleteSheetCalculatorAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSheetCalculatorDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
components:
  schemas:
    ERPLaserCalculatorDto:
      required:
      - ccpLaserCalculatorID
      type: object
      properties:
        ccpLaserCalculatorID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccpCreatedBy:
          type: string
        ccpCreatedDate:
          type: string
          format: date-time
        ccpdescription:
          type: string
        ccpUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccpExternalFeed:
          minimum: 0
          type: number
          format: double
        ccpHoleCutTime:
          minimum: 0
          type: number
          format: double
        ccpObround:
          type: boolean
        ccpOther:
          type: boolean
        ccpRectangle:
          type: boolean
        ccpRound:
          type: boolean
        ccpSquare:
          type: boolean
        ccpLaserMaterialTypeID:
          type: string
        ccpLeadInOut:
          minimum: 0
          type: number
          format: double
        ccpLeadInOutFeed:
          minimum: 0
          type: number
          format: double
        ccpLeadInOutTime:
          minimum: 0
          type: number
          format: double
        ccplength:
          minimum: 0
          type: number
          format: double
        ccpMeasurementType:
          type: string
        ccpNumberOfHoles:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccpPartPerimeter:
          minimum: 0
          type: number
          format: double
        ccpPerimeterCutTime:
          minimum: 0
          type: number
          format: double
        ccpPiercedHoles:
          minimum: 0
          type: number
          format: double
        ccpPierceTime:
          minimum: 0
          type: number
          format: double
        ccpQuantity:
          minimum: 0
          type: number
          format: double
        ccpRate:
          minimum: 0
          type: number
          format: double
        ccpRowVersion:
          type: integer
          format: int64
        ccpThickness:
          minimum: 0
          type: number
          format: double
        ccpTotalCutTime:
          minimum: 0
          type: number
          format: double
        ccpTotalLeadInOutTime:
          minimum: 0
          type: number
          format: double
        ccpTotalPierceTime:
          minimum: 0
          type: number
          format: double
        ccpWidth:
          minimum: 0
          type: number
          format: double
    APIResponseMessageDto:
      type: object
      properties:
        description:
          type: string
        status:
          type: string
        payloadID:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          readOnly: true
    ERPResponseMessageDto_IList_ERPPunchCalculatorDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPPunchCalculatorDto'
        recordCount:
          type: integer
          format: int32
    ERPLaserCalculatorLineDto:
      required:
      - cclLaserCalculatorID
      - cclLaserCalculatorLineID
      type: object
      properties:
        cclCreatedBy:
          type: string
        cclCreatedDate:
          type: string
          format: date-time
        cclCutTime:
          minimum: 0
          type: number
          format: double
        cclDescription:
          type: string
        cclUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        cclLaserCalculatorID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccllength:
          minimum: 0
          type: number
          format: double
        cclQuantity:
          minimum: 0
          type: number
          format: double
        cclRate:
          minimum: 0
          type: number
          format: double
        cclRowVersion:
          type: integer
          format: int64
        cclLaserCalculatorLineID:
          maximum: 99999
          minimum: 0
          type: integer
          format: int32
        cclWidth:
          minimum: 0
          type: number
          format: double
    ERPSheetCalculatorDto:
      required:
      - ccsSheetCalculatorID
      type: object
      properties:
        ccs0Rotation:
          minimum: 0
          type: number
          format: double
        ccs90Rotation:
          minimum: 0
          type: number
          format: double
        ccsSheetCalculatorID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccsCreatedBy:
          type: string
        ccsCreatedDate:
          type: string
          format: date-time
        ccsUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccsGrain:
          type: boolean
        ccsMeasurementType:
          type: string
        ccsPartSizeX:
          minimum: 0
          type: number
          format: double
        ccsPartSizeY:
          minimum: 0
          type: number
          format: double
        ccsPartSpacingX:
          minimum: 0
          type: number
          format: double
        ccsPartSpacingY:
          minimum: 0
          type: number
          format: double
        ccsRowVersion:
          type: integer
          format: int64
        ccsSheetSizeX:
          minimum: 0
          type: number
          format: double
        ccsSheetSizeY:
          minimum: 0
          type: number
          format: double
        ccsTotalTrimX:
          minimum: 0
          type: number
          format: double
        ccsTotalTrimY:
          minimum: 0
          type: number
          format: double
    ERPResponseMessageDto_IList_ERPSheetCalculatorDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPSheetCalculatorDto'
        recordCount:
          type: integer
          format: int32
    ERPResponseMessageDto_IList_ERPLaserCalculatorLineDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPLaserCalculatorLineDto'
        recordCount:
          type: integer
          format: int32
    ERPResponseMessageDto_ERPSheetCalculatorDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPSheetCalculatorDto'
        recordCount:
          type: integer
          format: int32
    ERPResponseMessageDto_ERPLaserCalculatorLineDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPLaserCalculatorLineDto'
        recordCount:
          type: integer
          format: int32
    ERPPunchCalculatorDto:
      required:
      - ccuPunchCalculatorId
      type: object
      properties:
        ccuPunchCalculatorId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccuCreatedBy:
          type: string
        ccuCreatedDate:
          type: string
          format: date-time
        ccuUniqueID:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        ccuHitRate:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuHitsPerPart:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuPartsPerHour:
          minimum: 0
          type: number
          format: double
        ccuPartsPerSheet:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuRepositions:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuRepositionTime:
          minimum: 0
          type: number
          format: double
        ccuRepositionTimeSec:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuRowVersion:
          type: integer
          format: int64
        ccuSheetLoadTime:
          minimum: 0
          type: number
          format: double
        ccuSheetLoadTimeSec:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuSheetsPerHour:
          minimum: 0
          type: number
          format: double
        ccuTimeToPiece:
          minimum: 0
          type: number
          format: double
        ccuToolChangeTimeSec:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuToolChangeTimeTotal:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuTools:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuTotalTimeMinutes:
          minimum: 0
          type: number
          format: double
        ccuTotalTimeSeconds:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
        ccuTurns:
          maximum: 99999999
          minimum: 0
          type: integer
          format: int32
    ERPResponseMessageDto_ERPPunchCalculatorDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPPunchCalculatorDto'
        recordCount:
          type: integer
          format: int32
    Error:
      type: object
      properties:
        innerText:
          type: string
    ERPResponseMessageDto_IList_ERPLaserCalculatorDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          type: array
          items:
            $ref: '#/components/schemas/ERPLaserCalculatorDto'
        recordCount:
          type: integer
          format: int32
    Warning:
      type: object
      properties:
        innerText:
          type: string
    ERPResponseMessageDto_ERPLaserCalculatorDto:
      type: object
      properties:
        responseInfo:
          $ref: '#/components/schemas/APIResponseMessageDto'
        returnObject:
          $ref: '#/components/schemas/ERPLaserCalculatorDto'
        recordCount:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
