openapi: 3.2.0
info:
  title: JobBOSS² Public Terms API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Terms
paths:
  /api/v1/terms:
    get:
      tags:
      - Terms
      summary: Gets a list of Terms Code
      description: 'By default a term code response will include only the fields: accountingID, description, discountDays, discountPercent, lastModDate, lastModUser, latePercent, method, netDueDays, uniqueID, termsCode. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Due Date:
            value:
              netDueDays: '30'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermListSuccessResponse'
              example:
                Data:
                - accountingID: string
                  description: string
                  discountDays: 0
                  discountPercent: 0
                  lastModDate: '2026-09-06T17:13:13.0000000+00:00'
                  lastModUser: string
                  latePercent: 0
                  method: 0
                  netDueDays: 0
                  termsCode: string
                  uniqueID: 0
      operationId: getApiV1Terms
      x-operation-id-source: derived
  /api/v1/terms/{termsCode}:
    get:
      tags:
      - Terms
      summary: Gets a Terms Code Order by Term Code
      description: 'By default a term code response will include only the fields: accountingID, description, discountDays, discountPercent, lastModDate, lastModUser, latePercent, method, netDueDays, uniqueID, termsCode. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: termsCode
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermSuccessResponse'
              example:
                Data:
                  accountingID: string
                  description: string
                  discountDays: 0
                  discountPercent: 0
                  lastModDate: '2026-09-06T17:13:13.0000000+00:00'
                  lastModUser: string
                  latePercent: 0
                  method: 0
                  netDueDays: 0
                  termsCode: string
                  uniqueID: 0
      operationId: getApiV1TermsByTermsCode
      x-operation-id-source: derived
components:
  schemas:
    TermListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Term'
      additionalProperties: false
    Term:
      type: object
      properties:
        accountingID:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        discountDays:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        discountPercent:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        latePercent:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        method:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        netDueDays:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        termsCode:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    TermSuccessResponse:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/Term'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
