openapi: 3.2.0
info:
  title: ERP API v2.1 Job Material API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: JobMaterial
paths:
  /api/v2.1/job-materials:
    get:
      tags:
      - JobMaterial
      summary: Get a list of Job Materials from the ERP system that match the given filters
      description: 'Gets a list of JobMaterial.


        ## Supported ERPs

        - JobBOSS²

        - M1

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        jobID|Yes|Yes|JobBOSS², M1, Deacom

        jobAssemblyID|Yes|Yes|JobBOSS², M1, Deacom

        jobAssemblySeq|No|Yes|M1

        materialPartID|Yes|Yes|JobBOSS², M1, Deacom

        materialPartRevisionID|Yes|Yes|JobBOSS², M1, Deacom

        estQuantity|No|Yes|JobBOSS², M1, Deacom

        estUnitCost|No|Yes|JobBOSS², M1, Deacom

        unitOfMeasure|No|Yes|JobBOSS², M1, Deacom

        leadTime|No|Yes|JobBOSS², M1, Deacom

        vendorID|Yes|Yes|JobBOSS², M1, Deacom

        uniqueID|Yes|Yes|JobBOSS², M1, Deacom

        rowVersion|Yes|Yes|JobBOSS², M1, Deacom

        jobIsClosed|Yes|Yes|JobBOSS², M1, Deacom

        jobClosedDate|Yes|Yes|JobBOSS², M1, Deacom

        jobType|Yes|Yes|Deacom'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              jobID[eq]: abc123
              jobAssemblyID[eq]: abc123
              materialPartID[eq]: abc123
              materialPartRevisionID[eq]: abc123
              vendorID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              jobIsClosed[eq]: true
              jobClosedDate[gte]: '2020-09-25T04:03:00.0000000'
              jobType[eq]: abc123
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JobMaterialListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/JobMaterialListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JobMaterialListResponse'
      operationId: getApiV21JobMaterials
      x-operation-id-source: derived
  /api/v2.1/job-materials/{id}:
    get:
      tags:
      - JobMaterial
      summary: Get a Job Material from the ERP system that matches the given unique ID
      description: 'Gets a JobMaterial by unique ID.


        ## Supported ERPs

        - JobBOSS²

        - M1

        - Deacom

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        jobID||JobBOSS², M1, Deacom

        jobAssemblyID||JobBOSS², M1, Deacom

        jobAssemblySeq||M1

        materialPartID||JobBOSS², M1, Deacom

        materialPartRevisionID||JobBOSS², M1, Deacom

        estQuantity||JobBOSS², M1, Deacom

        estUnitCost||JobBOSS², M1, Deacom

        unitOfMeasure||JobBOSS², M1, Deacom

        leadTime||JobBOSS², M1, Deacom

        vendorID||JobBOSS², M1, Deacom

        uniqueID||JobBOSS², M1, Deacom

        rowVersion||JobBOSS², M1, Deacom

        jobIsClosed||JobBOSS², M1, Deacom

        jobClosedDate||JobBOSS², M1, Deacom

        jobType||Deacom'
      parameters:
      - name: id
        in: path
        description: The ID of the job material
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JobMaterial'
            application/json:
              schema:
                $ref: '#/components/schemas/JobMaterial'
            text/json:
              schema:
                $ref: '#/components/schemas/JobMaterial'
      operationId: getApiV21JobMaterialsById
      x-operation-id-source: derived
components:
  schemas:
    JobMaterial:
      title: JobMaterial
      type: object
      properties:
        jobID:
          type: string
        jobAssemblyID:
          type: string
        jobAssemblySeq:
          type: integer
          format: int32
        materialPartID:
          type: string
        materialPartRevisionID:
          type: string
        estQuantity:
          type: number
          format: double
        estUnitCost:
          type: number
          format: double
        unitOfMeasure:
          type: string
        leadTime:
          type: number
          format: double
        vendorID:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        jobIsClosed:
          type: boolean
        jobClosedDate:
          type: string
          format: date-time
        jobType:
          type: string
    JobMaterialListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/JobMaterial'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
