openapi: 3.2.0
info:
  title: ERP API v2.1 Part Material API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: PartMaterial
paths:
  /api/v2.1/part-materials:
    get:
      tags:
      - PartMaterial
      summary: Get a list of PartMaterials from the ERP system that match the given filters
      description: 'Gets a list of PartMaterial.


        ## Supported ERPs

        - JobBOSS²

        - M1

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        partID|Yes|Yes|JobBOSS², M1, Deacom

        partRevisionID|Yes|Yes|JobBOSS², M1, Deacom

        partOperationSeq|Yes|Yes|JobBOSS², M1, Deacom

        materialPartID|Yes|Yes|JobBOSS², M1, Deacom

        materialPartRevisionID|Yes|Yes|JobBOSS², M1, Deacom

        uniqueID|Yes|Yes|JobBOSS², M1, Deacom

        rowVersion|Yes|Yes|JobBOSS², M1, Deacom

        quantity|No|Yes|JobBOSS², M1, Deacom

        unitOfMeasure|No|Yes|JobBOSS², M1, Deacom

        partAssemblyID|No|Yes|M1

        partAssemblySeq|No|Yes|M1'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              partID[eq]: abc123
              partRevisionID[eq]: abc123
              partOperationSeq[gte]: 123
              materialPartID[eq]: abc123
              materialPartRevisionID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PartMaterialListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PartMaterialListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PartMaterialListResponse'
      operationId: getApiV21PartMaterials
      x-operation-id-source: derived
  /api/v2.1/part-materials/{id}:
    get:
      tags:
      - PartMaterial
      summary: Get a PartMaterial from the ERP system that match the given filters
      description: 'Gets a PartMaterial by unique ID.


        ## Supported ERPs

        - JobBOSS²

        - M1

        - Deacom

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        partID||JobBOSS², M1, Deacom

        partRevisionID||JobBOSS², M1, Deacom

        partOperationSeq||JobBOSS², M1, Deacom

        materialPartID||JobBOSS², M1, Deacom

        materialPartRevisionID||JobBOSS², M1, Deacom

        uniqueID||JobBOSS², M1, Deacom

        rowVersion||JobBOSS², M1, Deacom

        quantity||JobBOSS², M1, Deacom

        unitOfMeasure||JobBOSS², M1, Deacom

        partAssemblyID||M1

        partAssemblySeq||M1'
      parameters:
      - name: id
        in: path
        description: The ID of the PartMaterial
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PartMaterial'
            application/json:
              schema:
                $ref: '#/components/schemas/PartMaterial'
            text/json:
              schema:
                $ref: '#/components/schemas/PartMaterial'
      operationId: getApiV21PartMaterialsById
      x-operation-id-source: derived
components:
  schemas:
    PartMaterialListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PartMaterial'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
    PartMaterial:
      title: PartMaterial
      type: object
      properties:
        partID:
          type: string
        partRevisionID:
          type: string
        partOperationSeq:
          type: integer
          format: int32
        materialPartID:
          type: string
        materialPartRevisionID:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        quantity:
          type: number
          format: double
        unitOfMeasure:
          type: string
        partAssemblyID:
          type: string
        partAssemblySeq:
          type: integer
          format: int32
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
