openapi: 3.2.0
info:
  title: Eci Solutions Valid Values API
  version: 3.5.585+b1e45fd230
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  description: 'Operations tagged ValidValues across 2 of this provider''s published API definitions: eci-solutions-erp-v2-1-openapi.json, eci-solutions-erp-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: ValidValues
paths:
  /api/v2.1/valid-values/organization-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Organization Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV21ValidValuesOrganizationTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/valid-values/location-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Location Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV21ValidValuesLocationTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/valid-values/operation-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Operation Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV21ValidValuesOperationTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/ap-invoice-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of AP Invoice Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesApInvoiceTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/ar-invoice-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of AR Invoice Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesArInvoiceTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/delivery-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Delivery Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesDeliveryTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/project-statuses:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Project Status codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesProjectStatuses
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/quote-statuses:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Quote Status codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesQuoteStatuses
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/organization-statuses:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Organization Status codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesOrganizationStatuses
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2/valid-values/inspection-line-source-types:
    get:
      tags:
      - ValidValues
      summary: Gets the list of Inspection Line Source Type codes
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            application/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ValidValueSet'
      operationId: getApiV2ValidValuesInspectionLineSourceTypes
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
components:
  schemas:
    ValidValue:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    ValidValueSet:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          description: A description of the valid value set.
        unique:
          type: boolean
          description: A value indicating if the values in this set are unique or can contain multiple values with the same code.
        values:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidValue'
          description: A collection of valid values for this set.
        resultCount:
          type: integer
          description: The number of valid values in the collection for this set.
          format: int32
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
x-refined-from:
- eci-solutions-erp-v2-1-openapi.json
- eci-solutions-erp-v2-openapi.json
