openapi: 3.2.0
info:
  title: M1 Public BOM/CORE API
  description: '## Developer Notes for the M1 Public API (ERP resource):


    ### Hosted Environment


    If you are using the public API for a hosted M1 customer, you must connect to the public API using the Integration Engine.'
  contact:
    name: ECI Software Solutions - M1
    url: https://www.ecisolutions.com/manufacturers-and-job-shops/m1
  version: v1
servers:
- url: https://api-m1.integrations.ecimanufacturing.com
  description: API Host
security:
- oauth2: []
tags:
- name: BOM/CORE
paths:
  /api/BOM/Core/GetPartClassesAll/{pageNo}/{pageSize}:
    get:
      tags:
      - BOM/CORE
      summary: Returns list of all active part classes
      operationId: BOMCore_GetPartClassesAllAsync
      parameters:
      - name: pageNo
        in: path
        description: The page number if wants to get a specific page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: path
        description: The total numbers of items should be on a page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/CTMPartClassesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/CTMPartClassesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CTMPartClassesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CTMPartClassesDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/BOM/Core/GetPartGroupsAll/{pageNo}/{pageSize}:
    get:
      tags:
      - BOM/CORE
      summary: Returns list of all active part groups
      operationId: BOMCore_GetPartGroupsAllAsync
      parameters:
      - name: pageNo
        in: path
        description: The page number if wants to get a specific page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: path
        description: The total numbers of items should be on a page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/CTMPartGroupsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/CTMPartGroupsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CTMPartGroupsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CTMPartGroupsDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/BOM/Core/GetProcessesAll/{pageNo}/{pageSize}:
    get:
      tags:
      - BOM/CORE
      summary: Returns list of all active processes
      operationId: BOMCore_GetProcessesAllAsync
      parameters:
      - name: pageNo
        in: path
        description: The page number if wants to get a specific page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: path
        description: The total numbers of items should be on a page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/CTMProcessDto'
            application/json:
              schema:
                $ref: '#/components/schemas/CTMProcessDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CTMProcessDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CTMProcessDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/BOM/Core/GetWorkCentersAll/{pageNo}/{pageSize}:
    get:
      tags:
      - BOM/CORE
      summary: Returns list of all active workcenters
      operationId: BOMCore_GetWorkCentersAllAsync
      parameters:
      - name: pageNo
        in: path
        description: The page number if wants to get a specific page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: path
        description: The total numbers of items should be on a page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/CTMWorkCenterDto'
            application/json:
              schema:
                $ref: '#/components/schemas/CTMWorkCenterDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CTMWorkCenterDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CTMWorkCenterDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/BOM/Core/GetWarehousesAll/{pageNo}/{pageSize}:
    get:
      tags:
      - BOM/CORE
      summary: Returns list of all active warehouses
      operationId: BOMCore_GetWarehousesAllAsync
      parameters:
      - name: pageNo
        in: path
        description: The page number if wants to get a specific page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: path
        description: The total numbers of items should be on a page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/CTMWarehousesDto'
            application/json:
              schema:
                $ref: '#/components/schemas/CTMWarehousesDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CTMWarehousesDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CTMWarehousesDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/BOM/Core/GetWarehouseBinsAll/{pageNo}/{pageSize}:
    get:
      tags:
      - BOM/CORE
      summary: Returns list of all active warehouse bins
      operationId: BOMCore_GetWarehouseBinsAllAsync
      parameters:
      - name: pageNo
        in: path
        description: The page number if wants to get a specific page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: path
        description: The total numbers of items should be on a page as integer.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/CTMWarehouseBinsDto'
            application/json:
              schema:
                $ref: '#/components/schemas/CTMWarehouseBinsDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CTMWarehouseBinsDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CTMWarehouseBinsDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
components:
  schemas:
    CTMPartGroupsDto:
      type: object
      properties:
        partGroups:
          type: array
          items:
            $ref: '#/components/schemas/PartGroupDto'
    PartClassDto:
      required:
      - partClassID
      - description
      type: object
      properties:
        partClassID:
          type: string
        description:
          type: string
    CTMWarehouseBinsDto:
      type: object
      properties:
        warehouseBins:
          type: array
          items:
            $ref: '#/components/schemas/WarehouseBinDto'
    APIResponseMessageDto:
      type: object
      properties:
        description:
          type: string
        status:
          type: string
        payloadID:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/Warning'
          readOnly: true
    WarehouseDto:
      required:
      - warehouseID
      - name
      type: object
      properties:
        warehouseID:
          type: string
        name:
          type: string
        plantID:
          type: string
        defaultWarehouse:
          type: boolean
    WorkCenterDto:
      required:
      - workCenterID
      - description
      type: object
      properties:
        workCenterID:
          type: string
        description:
          type: string
    ProcessDto:
      required:
      - processID
      - shortDescription
      type: object
      properties:
        processID:
          type: string
        shortDescription:
          type: string
    Warning:
      type: object
      properties:
        innerText:
          type: string
    WarehouseBinDto:
      required:
      - warehouseID
      - warehouseBinID
      - description
      type: object
      properties:
        warehouseID:
          type: string
        warehouseBinID:
          type: string
        description:
          type: string
        defaultBin:
          type: boolean
    PartGroupDto:
      required:
      - partGroupID
      - description
      type: object
      properties:
        partGroupID:
          type: string
        description:
          type: string
    CTMProcessDto:
      type: object
      properties:
        processes:
          type: array
          items:
            $ref: '#/components/schemas/ProcessDto'
    Error:
      type: object
      properties:
        innerText:
          type: string
    CTMWorkCenterDto:
      type: object
      properties:
        workCenters:
          type: array
          items:
            $ref: '#/components/schemas/WorkCenterDto'
    CTMWarehousesDto:
      type: object
      properties:
        warehouses:
          type: array
          items:
            $ref: '#/components/schemas/WarehouseDto'
    CTMPartClassesDto:
      type: object
      properties:
        partClasses:
          type: array
          items:
            $ref: '#/components/schemas/PartClassDto'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
