openapi: 3.2.0
info:
  title: MFG Integration Management Integration Setting API
  description: Provides APIs for managing ECI MFG Integration Engine Configurations.
  contact:
    name: ECI Manufacturing Integration Team
    url: https://www.ecisolutions.com/support/
  version: 2.22.273+b02c1dfd00
servers:
- url: https://api-user.integrations.ecimanufacturing.com:443
  description: Production
security:
- oidc:
  - openid
- Basic: []
tags:
- name: IntegrationSetting
paths:
  /api/integration-settings:
    post:
      tags:
      - IntegrationSetting
      summary: Create new integration setting
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: API is used to create new integration setting.'
      operationId: AddIntegrationSetting
      requestBody:
        description: Model to save integration setting detail.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsRequestModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsRequestModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsRequestModelAPIResponse'
  /api/integration-settings/{id}:
    get:
      tags:
      - IntegrationSetting
      summary: This API is used to get detail of integration setting
      description: 'Accessible By: Global Admin, Product Admin, Product Support User.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to get detail of integration setting.'
      operationId: GetIntegrationSettingsById
      parameters:
      - name: id
        in: path
        description: integration setting id to get detail
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsResponseModelAPIResponse'
    put:
      tags:
      - IntegrationSetting
      summary: Update integration setting details
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to update integration setting details.'
      operationId: EditIntegrationSetting
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Model to update integration setting detail.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsRequestModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsRequestModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegrationSettingsRequestModelAPIResponse'
    delete:
      tags:
      - IntegrationSetting
      summary: Remove integration setting using id
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to remove integration setting using id.'
      operationId: RemoveIntegrationSettingById
      parameters:
      - name: id
        in: path
        description: integration setting id to remove integration setting from database.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
  /api/integration-settings/{id}/companies/count:
    get:
      tags:
      - IntegrationSetting
      summary: Get counts of integration settings
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to get counts of integration setting which we are using in created companies.'
      operationId: IntegrationSettingCompaniesCount
      parameters:
      - name: id
        in: path
        description: integration setting id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
  /api/integration-settings/{id}/products/{productId}/count:
    get:
      tags:
      - IntegrationSetting
      summary: Get counts of integration settings
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: This API is used to get counts of integration setting based on product id.'
      operationId: IntegrationSettingProductsCount
      parameters:
      - name: id
        in: path
        description: integration setting id
        required: true
        schema:
          type: integer
          format: int32
      - name: productId
        in: path
        description: product id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
components:
  schemas:
    ApiError:
      type: object
      properties:
        isError:
          type: boolean
        exceptionMessage:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        referenceErrorCode:
          type:
          - string
          - 'null'
        referenceDocumentLink:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
      additionalProperties: false
    MasterKeyProducts:
      type: object
      properties:
        productId:
          type: integer
          format: int32
        isUsed:
          type: boolean
      additionalProperties: false
    IntegrationSettingsResponseModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/IntegrationSettingsResponseModel'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - string
          - 'null'
      additionalProperties: false
    IntegrationSettingsRequestModel:
      required:
      - dataType
      - displayName
      - integrationId
      - key
      - products
      type: object
      properties:
        id:
          type: integer
          format: int32
        integrationId:
          type: integer
          format: int32
        systemId:
          type:
          - integer
          - 'null'
          format: int32
        key:
          maxLength: 25
          minLength: 1
          type: string
        dataType:
          minLength: 1
          type: string
        maskType:
          type:
          - string
          - 'null'
        displayName:
          maxLength: 100
          minLength: 1
          type: string
        products:
          type: array
          items:
            type: integer
            format: int32
        isRequired:
          type: boolean
        defaultValue:
          type:
          - string
          - 'null'
        isMultiple:
          type: boolean
        environment:
          type:
          - integer
          - 'null'
          format: int32
        minLength:
          type:
          - integer
          - 'null'
          format: int32
        maxLength:
          type:
          - integer
          - 'null'
          format: int32
        isSecret:
          type: boolean
        validationPattern:
          maxLength: 250
          type:
          - string
          - 'null'
        validationPatternMessage:
          maxLength: 250
          type:
          - string
          - 'null'
        dropdownValues:
          type:
          - array
          - 'null'
          items:
            type: string
        isConnectionSpecific:
          type: boolean
        isUpdateableOnConnection:
          type: boolean
        displayOrdinal:
          type: integer
          format: int32
        validationExpression:
          type:
          - string
          - 'null'
        isVisibleOnConnection:
          type: boolean
        isReadOnly:
          type: boolean
        description:
          maxLength: 100
          type:
          - string
          - 'null'
      additionalProperties: false
    ValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    IntegrationSettingsResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        key:
          type:
          - string
          - 'null'
        isRequired:
          type: boolean
        defaultValue:
          type:
          - string
          - 'null'
        eciIntegrationId:
          type: integer
          format: int32
        isMultiple:
          type: boolean
        dataType:
          type:
          - string
          - 'null'
        maxLength:
          type:
          - integer
          - 'null'
          format: int32
        minLength:
          type:
          - integer
          - 'null'
          format: int32
        isSecret:
          type: boolean
        maskType:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        environment:
          type: integer
          format: int32
        validationPattern:
          type:
          - string
          - 'null'
        validationPatternMessage:
          type:
          - string
          - 'null'
        dropdownValues:
          type:
          - array
          - 'null'
          items:
            type: string
        masterKeyProducts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MasterKeyProducts'
        isConnectionSpecific:
          type: boolean
        isUpdateableOnConnection:
          type: boolean
        displayOrdinal:
          type: integer
          format: int32
        validationExpression:
          type:
          - string
          - 'null'
        isVisibleOnConnection:
          type: boolean
        isReadOnly:
          type: boolean
        description:
          type:
          - string
          - 'null'
        systemId:
          type:
          - integer
          - 'null'
          format: int32
        systemName:
          type:
          - string
          - 'null'
      additionalProperties: false
    IntegrationSettingsRequestModelAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/IntegrationSettingsRequestModel'
      additionalProperties: false
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Use id_token obtained from OpenID Connect flow.
      openIdConnectUrl: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_9IYBf4TpD/.well-known/openid-configuration
      x-tokenName: id_token
    Basic:
      type: http
      description: Username is ClientID, Password is Client Secret.
      scheme: Basic
