openapi: 3.2.0
info:
  title: ERP API v2.1 Part Bins API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: PartBins
paths:
  /api/v2.1/part-bins:
    get:
      tags:
      - PartBins
      summary: Get a list of Part-Bins from the ERP system that match the given filters
      description: 'Gets a list of PartBin.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        partRevisionID|Yes|Yes|M1, JobBOSS², Deacom

        warehouseID|Yes|Yes|M1, JobBOSS², Deacom

        partBinID|Yes|Yes|M1, JobBOSS², Deacom

        quantityOnHand|No|Yes|M1, JobBOSS², Deacom

        quantityAllocated|No|Yes|M1, JobBOSS², Deacom

        quantityOnOrderSales|No|Yes|M1, JobBOSS², Deacom

        quantityOnOrderPurchases|No|Yes|M1, JobBOSS², Deacom

        quantityToInspect|No|Yes|M1, JobBOSS², Deacom

        quantityToReturn|No|Yes|M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|M1, JobBOSS², Deacom

        partID|Yes|Yes|M1, JobBOSS², Deacom

        lotNumber|Yes|Yes|JobBOSS²

        purchaseOrderLineID|Yes|Yes|JobBOSS²'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              partRevisionID[eq]: abc123
              warehouseID[eq]: abc123
              partBinID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              partID[eq]: abc123
              lotNumber[eq]: abc123
              purchaseOrderLineID[eq]: abc123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          partRevision|PartRevisions|

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PartBinListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PartBinListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PartBinListResponse'
      operationId: getApiV21PartBins
      x-operation-id-source: derived
components:
  schemas:
    PartBin:
      title: PartBin
      type: object
      properties:
        partRevisionID:
          type: string
        warehouseID:
          type: string
        partBinID:
          type: string
        quantityOnHand:
          type: number
          format: double
        quantityAllocated:
          type: number
          format: double
        quantityOnOrderSales:
          type: number
          format: double
        quantityOnOrderPurchases:
          type: number
          format: double
        quantityToInspect:
          type: number
          format: double
        quantityToReturn:
          type: number
          format: double
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        partID:
          type: string
        lotNumber:
          type: string
        purchaseOrderLineID:
          type: string
        partRevision:
          $ref: '#/components/schemas/PartRevision'
    PartRevision:
      title: PartRevision
      type: object
      properties:
        partID:
          type: string
        partRevisionID:
          type: string
        shortDesc:
          type: string
        longDescText:
          type: string
        longDescFormatted:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        partCost:
          type: number
          format: double
        effectiveStartDate:
          type: string
          format: date
        expirationEndDate:
          type: string
          format: date
        supplierOrganizationID:
          type: string
        leadTime:
          type: integer
          format: int32
        quantityOnHand:
          type: number
          format: double
        pricingUnitOfMeasure:
          type: string
    PartBinListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PartBin'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
