openapi: 3.2.0
info:
  title: ERP API v2.1 Work Center Rate Break API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: WorkCenterRateBreak
paths:
  /api/v2.1/work-center-rate-breaks:
    get:
      tags:
      - WorkCenterRateBreak
      summary: Get a list of WorkCenterRateBreaks from the ERP system that match the given…
      description: 'Gets a list of WorkCenterRateBreak.


        ## Supported ERPs

        - JobBOSS²

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        workCenterID|Yes|Yes|JobBOSS²

        shortDesc|Yes|Yes|JobBOSS²

        ordinal|Yes|Yes|JobBOSS²

        setupRate|Yes|Yes|JobBOSS²

        prodRate|Yes|Yes|JobBOSS²

        uniqueID|Yes|Yes|JobBOSS²

        rowVersion|Yes|Yes|JobBOSS²

        laborRate|Yes|Yes|JobBOSS²'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              workCenterID[eq]: abc123
              shortDesc[eq]: abc123
              ordinal[gte]: 123
              setupRate[gte]: 123
              prodRate[gte]: 123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              laborRate[eq]: abc123
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WorkCenterRateBreakListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/WorkCenterRateBreakListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkCenterRateBreakListResponse'
      operationId: getApiV21WorkCenterRateBreaks
      x-operation-id-source: derived
components:
  schemas:
    WorkCenterRateBreak:
      title: WorkCenterRateBreak
      type: object
      properties:
        workCenterID:
          type: string
        shortDesc:
          type: string
        ordinal:
          type: integer
        setupRate:
          type: number
          format: double
        prodRate:
          type: number
          format: double
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        laborRate:
          type: string
    WorkCenterRateBreakListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkCenterRateBreak'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
