openapi: 3.2.0
info:
  title: JobBOSS² Public Document Controls API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Document Controls
paths:
  /api/v1/document-controls:
    get:
      tags:
      - Document Controls
      summary: Gets a list of Document Controls
      description: 'By default a document control response will include only the fields: approvalComments, approvalDate, approvedBy, dateEntered, description, documentDate, documentNumber, documentStatus, documentType, enteredBy, fileLocation, lastModDate, lastModUser, printed, proposalComments, proposalDate, proposedBy, releaseComments, releaseDate, releasedBy, repositoryID, retiredBy, retirementComments, retirementDate, revision, revisionDate, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentControlListSuccessResponse'
              example:
                Data:
                - approvalComments: string
                  approvalDate: '2026-09-06T17:13:12.0000000+00:00'
                  approvedBy: string
                  dateEntered: '2026-09-06T17:13:12.0000000+00:00'
                  description: string
                  documentDate: '2026-09-06T17:13:12.0000000+00:00'
                  documentNumber: string
                  documentStatus: string
                  documentType: string
                  enteredBy: string
                  fileLocation: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  printed: string
                  proposalComments: string
                  proposalDate: '2026-09-06T17:13:12.0000000+00:00'
                  proposedBy: string
                  releaseComments: string
                  releaseDate: '2026-09-06T17:13:12.0000000+00:00'
                  releasedBy: string
                  repositoryID: 0
                  retiredBy: string
                  retirementComments: string
                  retirementDate: '2026-09-06T17:13:12.0000000+00:00'
                  revision: string
                  revisionDate: '2026-09-06T17:13:12.0000000+00:00'
                  uniqueID: 0
      operationId: getApiV1DocumentControls
      x-operation-id-source: derived
components:
  schemas:
    DocumentControlListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentControl'
      additionalProperties: false
    DocumentControl:
      type: object
      properties:
        approvalComments:
          type:
          - string
          - 'null'
          readOnly: true
        approvalDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        approvedBy:
          type:
          - string
          - 'null'
          readOnly: true
        dateEntered:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        documentDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        documentNumber:
          type:
          - string
          - 'null'
          readOnly: true
        documentStatus:
          type:
          - string
          - 'null'
          readOnly: true
        documentType:
          type:
          - string
          - 'null'
          readOnly: true
        enteredBy:
          type:
          - string
          - 'null'
          readOnly: true
        fileLocation:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        printed:
          type:
          - string
          - 'null'
          readOnly: true
        proposalComments:
          type:
          - string
          - 'null'
          readOnly: true
        proposalDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        proposedBy:
          type:
          - string
          - 'null'
          readOnly: true
        releaseComments:
          type:
          - string
          - 'null'
          readOnly: true
        releaseDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        releasedBy:
          type:
          - string
          - 'null'
          readOnly: true
        repositoryID:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        retiredBy:
          type:
          - string
          - 'null'
          readOnly: true
        retirementComments:
          type:
          - string
          - 'null'
          readOnly: true
        retirementDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        revision:
          type:
          - string
          - 'null'
          readOnly: true
        revisionDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
