openapi: 3.2.0
info:
  title: JobBOSS² Public Vendor Return Release API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Vendor Return Release
paths:
  /api/v1/vendor-returns-releases:
    get:
      tags:
      - Vendor Return Release
      summary: Gets a list of Vendor Return Release records
      description: 'By default a vendor return release response will include only the fields: comments, jobNumber, lastModDate, lastModUser, POReleaseUniqueId, quantityToCancel, quantityToReject, releaseQuantity, vendReturnItemNumber, vendReturnNumber, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Job Number:
            value:
              jobNumber: '1234'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorReturnReleasesListSuccessResponse'
              example:
                Data:
                - comments: string
                  jobNumber: string
                  lastModDate: '2026-09-06T17:13:13.0000000+00:00'
                  lastModUser: string
                  POReleaseUniqueId: 0
                  quantityToCancel: 0
                  quantityToReject: 0
                  releaseQuantity: 0
                  uniqueID: 0
                  vendorReturnItemNumber: 0
                  vendorReturnNumber: string
      operationId: getApiV1VendorReturnsReleases
      x-operation-id-source: derived
components:
  schemas:
    VendorReturnReleases:
      type: object
      properties:
        comments:
          type:
          - string
          - 'null'
          readOnly: true
        jobNumber:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        POReleaseUniqueId:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToCancel:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        quantityToReject:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        releaseQuantity:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
        vendorReturnItemNumber:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        vendorReturnNumber:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    VendorReturnReleasesListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VendorReturnReleases'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
