openapi: 3.2.0
info:
  title: M1 Public ERP/SALESORDERS API
  description: '## Developer Notes for the M1 Public API (ERP resource):


    ### Hosted Environment


    If you are using the public API for a hosted M1 customer, you must connect to the public API using the Integration Engine.'
  contact:
    name: ECI Software Solutions - M1
    url: https://www.ecisolutions.com/manufacturers-and-job-shops/m1
  version: v1
servers:
- url: https://api-m1.integrations.ecimanufacturing.com
  description: API Host
security:
- oauth2: []
tags:
- name: ERP/SALESORDERS
paths:
  /api/ERP/SalesOrderApprovals:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderApprovals according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderApprovals_GetAllSalesOrderApprovalAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderApprovalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderApprovalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderApprovalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderApprovalDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/SALESORDERS
      summary: Creates or updates a single SalesOrderApproval record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderApprovals_PutSalesOrderApprovalAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSalesOrderApprovalDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderApprovalDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderApprovalDto'
        required: true
        x-bodyName: salesOrderApproval
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderApprovals/{key}:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns a single SalesOrderApproval record for a given Unique Id
      description: This endpoint retrieves a SalesOrderApproval based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSalesOrderApprovals_GetSalesOrderApprovalAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/SALESORDERS
      summary: Deletes a single SalesOrderApproval record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderApprovals_DeleteSalesOrderApprovalAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderApprovalDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderComponents:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderComponents according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderComponents_GetAllSalesOrderComponentAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/SALESORDERS
      summary: Creates or updates a single SalesOrderComponent record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderComponents_PutSalesOrderComponentAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSalesOrderComponentDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderComponentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderComponentDto'
        required: true
        x-bodyName: salesOrderComponent
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderComponents/{key}:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns a single SalesOrderComponent record for a given Unique Id
      description: This endpoint retrieves a SalesOrderComponent based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSalesOrderComponents_GetSalesOrderComponentAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/SALESORDERS
      summary: Deletes a single SalesOrderComponent record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderComponents_DeleteSalesOrderComponentAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderComponentDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderDeliveries:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderDeliveries according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderDeliveries_GetAllSalesOrderDeliveryAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderDeliveryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderDeliveryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderDeliveryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderDeliveryDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/SALESORDERS
      summary: Creates or updates a single SalesOrderDelivery record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderDeliveries_PutSalesOrderDeliveryAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSalesOrderDeliveryDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderDeliveryDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderDeliveryDto'
        required: true
        x-bodyName: salesOrderDelivery
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderDeliveries/{key}:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns a single SalesOrderDelivery record for a given Unique Id
      description: This endpoint retrieves a SalesOrderDelivery based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSalesOrderDeliveries_GetSalesOrderDeliveryAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/SALESORDERS
      summary: Deletes a single SalesOrderDelivery record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderDeliveries_DeleteSalesOrderDeliveryAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderDeliveryDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderJobLinks:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderJobLinks according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderJobLinks_GetAllSalesOrderJobLinkAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderJobLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderJobLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderJobLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderJobLinkDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/SALESORDERS
      summary: Creates or updates a single SalesOrderJobLink record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderJobLinks_PutSalesOrderJobLinkAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSalesOrderJobLinkDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderJobLinkDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderJobLinkDto'
        required: true
        x-bodyName: salesOrderJobLink
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderJobLinks/{key}:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns a single SalesOrderJobLink record for a given Unique Id
      description: This endpoint retrieves a SalesOrderJobLink based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSalesOrderJobLinks_GetSalesOrderJobLinkAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/SALESORDERS
      summary: Deletes a single SalesOrderJobLink record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderJobLinks_DeleteSalesOrderJobLinkAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderJobLinkDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderLines:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderLines according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderLines_GetAllSalesOrderLineAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/SALESORDERS
      summary: Creates or updates a single SalesOrderLine record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderLines_PutSalesOrderLineAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSalesOrderLineDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderLineDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderLineDto'
        required: true
        x-bodyName: salesOrderLine
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderLines/{key}:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns a single SalesOrderLine record for a given Unique Id
      description: This endpoint retrieves a SalesOrderLine based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSalesOrderLines_GetSalesOrderLineAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/SALESORDERS
      summary: Deletes a single SalesOrderLine record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderLines_DeleteSalesOrderLineAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderLineDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderMemos:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderMemos according to the filter, order by and…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderMemos_GetAllSalesOrderMemoAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: Specifies the page number to retrieve. Defaults to 0, which corresponds to the first page.
        style: form
        explode: false
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: Applies a filter to the returned data. The format should be `M1Field[operator]value`.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        description: Specifies the sorting criteria for the returned data. The format should be `M1Field[Asc],M1Field[Desc]`.
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderMemoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderMemoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderMemoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_IList_ERPSalesOrderMemoDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    put:
      tags:
      - ERP/SALESORDERS
      summary: Creates or updates a single SalesOrderMemo record
      description: 'When a record does not exist, a new record will be created. When a record exists, the record will be updated.


        When updating an existing record, all fields must be provided, even if they are not changing. Upon update, the UniqueID, Created By/Date and M1 Keys (eg. cmoOrganizationID) will not be updated.


        Custom fields should be sent in the request as their full field name and should be prefixed with `u`. eg. `uimpCustomField1`.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderMemos_PutSalesOrderMemoAsync
      requestBody:
        description: The fully populated {M1.API.DTOs.ERP.ERPSalesOrderMemoDto} model.
        content:
          text/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderMemoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ERPSalesOrderMemoDto'
        required: true
        x-bodyName: salesOrderMemo
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
        '201':
          description: Created
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderMemos/{key}:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns a single SalesOrderMemo record for a given Unique Id
      description: This endpoint retrieves a SalesOrderMemo based on its identifier. If the record does not exist, a 404 Not Found response will be returned.
      operationId: ERPSalesOrderMemos_GetSalesOrderMemoAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be retrieved
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
    delete:
      tags:
      - ERP/SALESORDERS
      summary: Deletes a single SalesOrderMemo record
      description: 'If the record is not found, a 404 Not Found response will be returned.


        If the record is successfully deleted, a 200 OK response will be returned.


        If the record is being used anywhere in the M1 system, a 400 Bad Request response will be returned.


        To use this endpoint, you must have an API Key that supports writes.'
      operationId: ERPSalesOrderMemos_DeleteSalesOrderMemoAsync
      parameters:
      - name: key
        in: path
        description: The Unique Id of the record to be deleted
        required: true
        style: simple
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/json:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ERPResponseMessageDto_ERPSalesOrderMemoDto'
        '400':
          description: BadRequest
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '401':
          description: Unauthorized
          content:
            text/json: {}
            application/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: NotFound
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
        '415':
          description: UnsupportedMediaType
          content:
            text/json:
              schema:
                type: string
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '500':
          description: InternalServerError
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/APIResponseMessageDto'
  /api/ERP/SalesOrderPickListLines:
    get:
      tags:
      - ERP/SALESORDERS
      summary: Returns all existing SalesOrderPickListLines according to the filter, order by…
      description: 'When passing the filter parameter, the following operators are supported: [eq, ne, gt, lt]. Multiple filters can be specified as separate query parameters in the format M1Field[operator]value. eg. `impPartID[eq]CLIP`. An invalid filter will return a 400 Bad Request response.


        When passing the orderBy parameter, the following operators are supported: [Asc, Desc]. The format must be M1Field[Asc],M1Field[Desc]. eg. `impPartID[Asc],impPartType[Desc]`. An invalid orderBy will return a 400 Bad Request response.


        Custom fields are returned in the response as their full field name, they are also filterable and sortable. The format should be `M1CustomField[operator]value`. eg. `uimpCustomField1[eq]12`.'
      operationId: ERPSalesOrderPickListLines_GetAllSalesOrderPickListLineAsync
      parameters:
      - name: pageSize
        in: query
        description: Specifies the number of items per page. Defaults to 1000 which is also the maximum.
        style: form
        explode: false
        schema:
[...]
