openapi: 3.2.0
info:
  title: ERP API v2.1 Shift API
  description: Provides a common API surface for accessing ECI ERP products.
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  version: 3.5.585+b1e45fd230
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: Shift
paths:
  /api/v2.1/shifts:
    get:
      tags:
      - Shift
      summary: Get a list of Shift from the ERP system that match the given filters
      description: 'Gets a list of Shift.


        ## Supported ERPs

        - M1

        - Macola

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        shiftID|Yes|Yes|M1, Macola

        shortDesc|Yes|Yes|M1, Macola

        inactiveDate|Yes|Yes|M1, Macola

        uniqueID|Yes|Yes|M1, Macola

        rowVersion|Yes|Yes|M1, Macola'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              shiftID[eq]: abc123
              shortDesc[eq]: abc123
              inactiveDate[gte]: '2020-09-25T04:03:00.0000000'
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          shiftDays|ShiftDays[]|

          '
        schema:
          type: string
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ShiftListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ShiftListResponse'
      operationId: getApiV21Shifts
      x-operation-id-source: derived
  /api/v2.1/shifts/{id}:
    get:
      tags:
      - Shift
      summary: Get a Shift from the ERP system that match the given filters
      description: 'Gets a Shift by unique ID.


        ## Supported ERPs

        - M1

        - Macola

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        shiftID||M1, Macola

        shortDesc||M1, Macola

        inactiveDate||M1, Macola

        uniqueID||M1, Macola

        rowVersion||M1, Macola'
      parameters:
      - name: id
        in: path
        description: The ID of the Shift
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Shift'
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
            text/json:
              schema:
                $ref: '#/components/schemas/Shift'
      operationId: getApiV21ShiftsById
      x-operation-id-source: derived
components:
  schemas:
    ShiftDay:
      title: ShiftDay
      type: object
      properties:
        shiftID:
          type: number
          format: float
        shiftDay:
          type: number
          format: float
        startTime:
          type: string
        endTime:
          type: string
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
    Shift:
      title: Shift
      type: object
      properties:
        shiftID:
          type: number
          format: float
        shortDesc:
          type: string
        inactiveDate:
          type: string
          format: date-time
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        shiftDays:
          type: array
          items:
            $ref: '#/components/schemas/ShiftDay'
    ShiftListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Shift'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
