openapi: 3.2.0
info:
  title: MFG Integration Management Application API
  description: Provides APIs for managing ECI MFG Integration Engine Configurations.
  contact:
    name: ECI Manufacturing Integration Team
    url: https://www.ecisolutions.com/support/
  version: 2.22.273+b02c1dfd00
servers:
- url: https://api-user.integrations.ecimanufacturing.com:443
  description: Production
security:
- oidc:
  - openid
- Basic: []
tags:
- name: Application
paths:
  /api/applications:
    get:
      tags:
      - Application
      summary: This API is used to get the Application's list by optional filters
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: It is used to get the Application''s list with optional filters.'
      operationId: GetApplications
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: product_id
        in: query
        schema:
          type: integer
          format: int32
      - name: is_active
        in: query
        schema:
          type: boolean
      - name: integration_id
        in: query
        schema:
          type: integer
          format: int32
      - name: role_id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApplicationResponseIListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseIListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseIListAPIResponse'
    post:
      tags:
      - Application
      summary: This API is used to create the Application record
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: It used to create the Application details of with the given request model with all validations.'
      operationId: CreateApplication
      requestBody:
        description: Application request model for creating a application with all the validation.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ApplicationRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ApplicationRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ApplicationRequestModel'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreatedApplicationResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedApplicationResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreatedApplicationResponseAPIResponse'
  /api/applications/{id}:
    get:
      tags:
      - Application
      summary: This API is used to get the Application's detail by ID
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: It is used to get the Application''s detail by given client id.'
      operationId: GetApplicationById
      parameters:
      - name: id
        in: path
        description: Application client id to get application detail.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApplicationResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseAPIResponse'
    patch:
      tags:
      - Application
      summary: This API is used to update the Application record
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: It used to update the Application details of given id.'
      operationId: UpdateApplicationById
      parameters:
      - name: id
        in: path
        description: The applicationId of Application which we want to update and it is required in GUID format.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateApplicationRequestModel'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateApplicationRequestModel'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateApplicationRequestModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApplicationResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseAPIResponse'
    delete:
      tags:
      - Application
      summary: This API is used to delete the Application record
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: It used to delete the Application of given id.'
      operationId: DeleteApplicationById
      parameters:
      - name: id
        in: path
        description: The applicationId of Application which we want to delete and it is required in GUID format.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
  /api/applications/{id}/client-secret/$value:
    get:
      tags:
      - Application
      summary: This API is used to get the Application's secret value
      description: 'Accessible By: Global Admin.\

        Accessed From: User Mgmt UI.\

        Description: It is used to get the Application''s secret value of given client id.'
      operationId: GetApplicationClientSecretValue
      parameters:
      - name: id
        in: path
        description: Application client id to get client secret value.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApplicationSecretValueResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSecretValueResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationSecretValueResponseAPIResponse'
components:
  schemas:
    ApplicationResponseIListAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApplicationResponse'
      additionalProperties: false
    ApplicationSecretValueResponse:
      type: object
      properties:
        clientSecret:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiError:
      type: object
      properties:
        isError:
          type: boolean
        exceptionMessage:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
        referenceErrorCode:
          type:
          - string
          - 'null'
        referenceDocumentLink:
          type:
          - string
          - 'null'
        validationErrors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ValidationError'
      additionalProperties: false
    UpdateApplicationRequestModel:
      type: object
      properties:
        roleId:
          type:
          - integer
          - 'null'
          format: int32
        productId:
          type:
          - integer
          - 'null'
          format: int32
        companyId:
          type:
          - integer
          - 'null'
          format: int32
        integrationId:
          type:
          - integer
          - 'null'
          format: int32
        description:
          type:
          - string
          - 'null'
        redirectUris:
          type:
          - string
          - 'null'
          description: "A list of possible redirect URIs for authentication flows. \nMultiple values should be separated with line feeds (\\n)."
        isActive:
          type:
          - boolean
          - 'null'
        displayName:
          type:
          - string
          - 'null'
          description: 'Display name for the partner shown during connection flow.

            Only applicable when RoleId = Partner (6).'
        logoUrl:
          type:
          - string
          - 'null'
          description: 'URL to the partner''s logo for branding purposes.

            Only applicable when RoleId = Partner (6).'
        terms:
          type:
          - string
          - 'null'
          description: 'Terms and conditions text (supports HTML) shown during authorization.

            Only applicable when RoleId = Partner (6).'
      additionalProperties: false
    ApplicationResponse:
      type: object
      properties:
        clientId:
          type: string
          format: uuid
        description:
          type:
          - string
          - 'null'
        roleId:
          type: integer
          format: int32
        productId:
          type:
          - integer
          - 'null'
          format: int32
        companyId:
          type:
          - integer
          - 'null'
          format: int32
        integrationId:
          type:
          - integer
          - 'null'
          format: int32
        redirectUris:
          type:
          - string
          - 'null'
          description: "A list of possible redirect URIs for authentication flows. \nMultiple values should be separated with line feeds (\\n)."
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        lastUsedDate:
          type:
          - string
          - 'null'
          format: date-time
        isActive:
          type: boolean
        createdBy:
          type:
          - string
          - 'null'
        modifiedBy:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
        companyName:
          type:
          - string
          - 'null'
        roleName:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
          description: 'Display name for the partner shown during connection flow.

            Only applicable when RoleId = Partner (6).'
        logoUrl:
          type:
          - string
          - 'null'
          description: 'URL to the partner''s logo for branding purposes.

            Only applicable when RoleId = Partner (6).'
        terms:
          type:
          - string
          - 'null'
          description: 'Terms and conditions text (supports HTML) shown during authorization.

            Only applicable when RoleId = Partner (6).'
      additionalProperties: false
    ApplicationResponseAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ApplicationResponse'
      additionalProperties: false
    CreatedApplicationResponse:
      type: object
      properties:
        clientId:
          type: string
          format: uuid
        clientSecret:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          type:
          - string
          - 'null'
      additionalProperties: false
    ValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApplicationSecretValueResponseAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/ApplicationSecretValueResponse'
      additionalProperties: false
    ApplicationRequestModel:
      required:
      - description
      - roleId
      type: object
      properties:
        description:
          minLength: 1
          type: string
        roleId:
          type: integer
          format: int32
        productId:
          type:
          - integer
          - 'null'
          format: int32
        companyId:
          type:
          - integer
          - 'null'
          format: int32
        integrationId:
          type:
          - integer
          - 'null'
          format: int32
        redirectUris:
          type:
          - string
          - 'null'
          description: "A list of possible redirect URIs for authentication flows. \nMultiple values should be separated with line feeds (\\n)."
        isActive:
          type: boolean
        displayName:
          type:
          - string
          - 'null'
          description: 'Display name for the partner shown during connection flow.

            Only applicable when RoleId = Partner (6).'
        logoUrl:
          type:
          - string
          - 'null'
          description: 'URL to the partner''s logo for branding purposes.

            Only applicable when RoleId = Partner (6).'
        terms:
          type:
          - string
          - 'null'
          description: 'Terms and conditions text (supports HTML) shown during authorization.

            Only applicable when RoleId = Partner (6).'
      additionalProperties: false
    CreatedApplicationResponseAPIResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        responseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        result:
          allOf:
          - $ref: '#/components/schemas/CreatedApplicationResponse'
      additionalProperties: false
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Use id_token obtained from OpenID Connect flow.
      openIdConnectUrl: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_9IYBf4TpD/.well-known/openid-configuration
      x-tokenName: id_token
    Basic:
      type: http
      description: Username is ClientID, Password is Client Secret.
      scheme: Basic
