openapi: 3.2.0
info:
  title: JobBOSS² Public Customer Returns API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Customer Returns
paths:
  /api/v1/customer-returns:
    get:
      tags:
      - Customer Returns
      summary: Gets a list of Customer Returns
      description: 'By default a customer return response will include only the fields: billCustomerForReturn, comment, correctiveActionCode, correctiveActionNumber, createCAR, createCreditMemo, createdInvoiceNumber, createNC, creditDate, creditedBy, customerCode, customerDescription, customerPONumber, customerRMANumber, dateEntered, debitPrinted, deliveryTicketNumber, enteredBy, inspectedBy, inspectionDate, issueDate, issuedBy, labelPrinted, lastModDate, lastModUser, orderDate, orderedBy, QCComment, reasonForReturn, receiveDate, receivedBy, receivingComment, status, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by customerCode:
            value:
              customerCode: ALPHA
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerReturnListSuccessResponse'
              example:
                Data:
                - billCustomerForReturn: string
                  comment: string
                  correctiveActionCode: string
                  correctiveActionNumber: string
                  createCAR: string
                  createCreditMemo: string
                  createdInvoiceNumber: string
                  createNC: string
                  creditDate: '2026-09-06T17:13:12.0000000+00:00'
                  creditedBy: string
                  customerCode: string
                  customerDescription: string
                  customerPONumber: string
                  customerRMANumber: string
                  dateEntered: '2026-09-06T17:13:12.0000000+00:00'
                  debitPrinted: string
                  deliveryTicketNumber: string
                  enteredBy: string
                  inspectedBy: string
                  inspectionDate: '2026-09-06T17:13:12.0000000+00:00'
                  issueDate: '2026-09-06T17:13:12.0000000+00:00'
                  issuedBy: string
                  labelPrinted: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  orderDate: '2026-09-06T17:13:12.0000000+00:00'
                  orderedBy: string
                  QCComment: string
                  reasonForReturn: string
                  receiveDate: '2026-09-06T17:13:12.0000000+00:00'
                  receivedBy: string
                  receivingComment: string
                  status: string
                  uniqueID: 0
      operationId: getApiV1CustomerReturns
      x-operation-id-source: derived
components:
  schemas:
    CustomerReturn:
      type: object
      properties:
        billCustomerForReturn:
          type:
          - string
          - 'null'
          readOnly: true
        comment:
          type:
          - string
          - 'null'
          readOnly: true
        correctiveActionCode:
          type:
          - string
          - 'null'
          readOnly: true
        correctiveActionNumber:
          type:
          - string
          - 'null'
          readOnly: true
        createCAR:
          type:
          - string
          - 'null'
          readOnly: true
        createCreditMemo:
          type:
          - string
          - 'null'
          readOnly: true
        createdInvoiceNumber:
          type:
          - string
          - 'null'
          readOnly: true
        createNC:
          type:
          - string
          - 'null'
          readOnly: true
        creditDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        creditedBy:
          type:
          - string
          - 'null'
          readOnly: true
        customerCode:
          type:
          - string
          - 'null'
          readOnly: true
        customerDescription:
          type:
          - string
          - 'null'
          readOnly: true
        customerPONumber:
          type:
          - string
          - 'null'
          readOnly: true
        customerRMANumber:
          type:
          - string
          - 'null'
          readOnly: true
        dateEntered:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        debitPrinted:
          type:
          - string
          - 'null'
          readOnly: true
        deliveryTicketNumber:
          type:
          - string
          - 'null'
          readOnly: true
        enteredBy:
          type:
          - string
          - 'null'
          readOnly: true
        inspectedBy:
          type:
          - string
          - 'null'
          readOnly: true
        inspectionDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        issuedBy:
          type:
          - string
          - 'null'
          readOnly: true
        labelPrinted:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        orderDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        orderedBy:
          type:
          - string
          - 'null'
          readOnly: true
        QCComment:
          type:
          - string
          - 'null'
          readOnly: true
        reasonForReturn:
          type:
          - string
          - 'null'
          readOnly: true
        receiveDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        receivedBy:
          type:
          - string
          - 'null'
          readOnly: true
        receivingComment:
          type:
          - string
          - 'null'
          readOnly: true
        status:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CustomerReturnListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerReturn'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
