openapi: 3.2.0
info:
  title: JobBOSS² Public User Labels API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: User Labels
paths:
  /api/v1/user-labels:
    get:
      tags:
      - User Labels
      summary: Gets a list of User Labels
      description: 'By default a user label response will include only the fields: area, currency1, currency2, date1, date2, lastModDate, memo1, number1, number2, number3, number4, text1, text2, text3, text4, uniqueID. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by Area:
            value:
              area: Customer
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLabelListSuccessResponse'
              example:
                Data:
                - area: string
                  currency1: string
                  currency2: string
                  date1: string
                  date2: string
                  lastModDate: '2026-09-06T17:13:13.0000000+00:00'
                  lastModUser: string
                  memo1: string
                  number1: string
                  number2: string
                  number3: string
                  number4: string
                  text1: string
                  text1Default: string
                  text2: string
                  text2Default: string
                  text3: string
                  text3Default: string
                  text4: string
                  text4Default: string
                  uniqueID: 0
      operationId: getApiV1UserLabels
      x-operation-id-source: derived
components:
  schemas:
    UserLabelListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UserLabel'
      additionalProperties: false
    UserLabel:
      type: object
      properties:
        area:
          type:
          - string
          - 'null'
          readOnly: true
        currency1:
          type:
          - string
          - 'null'
          readOnly: true
        currency2:
          type:
          - string
          - 'null'
          readOnly: true
        date1:
          type:
          - string
          - 'null'
          readOnly: true
        date2:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        memo1:
          type:
          - string
          - 'null'
          readOnly: true
        number1:
          type:
          - string
          - 'null'
          readOnly: true
        number2:
          type:
          - string
          - 'null'
          readOnly: true
        number3:
          type:
          - string
          - 'null'
          readOnly: true
        number4:
          type:
          - string
          - 'null'
          readOnly: true
        text1:
          type:
          - string
          - 'null'
          readOnly: true
        text1Default:
          type:
          - string
          - 'null'
          readOnly: true
        text2:
          type:
          - string
          - 'null'
          readOnly: true
        text2Default:
          type:
          - string
          - 'null'
          readOnly: true
        text3:
          type:
          - string
          - 'null'
          readOnly: true
        text3Default:
          type:
          - string
          - 'null'
          readOnly: true
        text4:
          type:
          - string
          - 'null'
          readOnly: true
        text4Default:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
