openapi: 3.2.0
info:
  title: Eci Solutions View API
  version: 3.5.585+b1e45fd230
  contact:
    name: ECI Manufacturing Division Integration Team
    url: https://www.ecisolutions.com/support/
  description: 'Operations tagged View across 3 of this provider''s published API definitions: eci-solutions-erp-v1-openapi.json, eci-solutions-erp-v2-1-openapi.json, eci-solutions-erp-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: View
paths:
  /api/v1/view/Departments:
    get:
      tags:
      - View
      summary: Gets a list of Department
      description: 'Gets a list of Department.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        deptID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_Departments
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              deptID[eq]: abc123
              shortDesc[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/Employees:
    get:
      tags:
      - View
      summary: Gets a list of Employee
      description: 'Gets a list of Employee.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        employeeID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        firstName|Yes|Yes|Macola, M1, JobBOSS², Deacom

        lastName|Yes|Yes|Macola, M1, JobBOSS², Deacom

        title|Yes|Yes|Macola, M1, JobBOSS², Deacom

        supervisorEmployeeID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        payRate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        deptID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shiftID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_Employees
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              employeeID[eq]: abc123
              firstName[eq]: abc123
              lastName[eq]: abc123
              title[eq]: abc123
              supervisorEmployeeID[gte]: 123
              payRate[gte]: 123
              deptID[eq]: abc123
              shiftID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/JobOperations:
    get:
      tags:
      - View
      summary: Gets a list of JobOperation
      description: 'Gets a list of JobOperation.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        jobID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        jobAssembly|Yes|Yes|Macola, M1, JobBOSS², Deacom

        jobOperationSeq|Yes|Yes|Macola, M1, JobBOSS², Deacom

        status|Yes|Yes|Macola, M1, JobBOSS², Deacom

        workCenterID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        processID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        longDescText|Yes|Yes|Macola, M1, JobBOSS², Deacom

        longDescFormatted|No|Yes|Macola, M1, JobBOSS², Deacom

        outsideOperation|Yes|Yes|Macola, M1, JobBOSS², Deacom

        partID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        partRevisionID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        schedStartDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        schedEndDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        actStartDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        actEndDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estSetupHours|No|Yes|Macola, M1, JobBOSS², Deacom

        estProdHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estQueueHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estMoveHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estQAHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        actSetupHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        actualProdHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        actQAHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        vendorID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_JobOperations
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              jobID[eq]: abc123
              jobAssembly[eq]: abc123
              jobOperationSeq[gte]: 123
              status[eq]: abc123
              workCenterID[eq]: abc123
              processID[eq]: abc123
              shortDesc[eq]: abc123
              longDescText[eq]: abc123
              outsideOperation[eq]: abc123
              partID[eq]: abc123
              partRevisionID[eq]: abc123
              schedStartDate[gte]: '2020-09-25T04:03:00.0000000'
              schedEndDate[gte]: '2020-09-25T04:03:00.0000000'
              actStartDate[gte]: '2020-09-25T04:03:00.0000000'
              actEndDate[gte]: '2020-09-25T04:03:00.0000000'
              estProdHours[gte]: 123
              estQueueHours[gte]: 123
              estMoveHours[gte]: 123
              estQAHours[gte]: 123
              actSetupHours[gte]: 123
              actualProdHours[gte]: 123
              actQAHours[gte]: 123
              vendorID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobOperation'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobOperation'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/jobs:
    get:
      tags:
      - View
      summary: Gets a list of Job
      description: 'Gets a list of Job.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        jobID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        customerID|No|Yes|Macola, M1, JobBOSS², Deacom

        partID|No|Yes|Macola, M1, JobBOSS², Deacom

        partRevisionID|No|Yes|Macola, M1, JobBOSS², Deacom

        orderQty|No|Yes|Macola, M1, JobBOSS², Deacom

        prodQty|No|Yes|Macola, M1, JobBOSS², Deacom

        schedStartDate|No|Yes|Macola, M1, JobBOSS², Deacom

        schedEndDate|No|Yes|Macola, M1, JobBOSS², Deacom

        estLeadTime|No|Yes|Macola, M1, JobBOSS², Deacom

        actStartDate|No|Yes|Macola, M1, JobBOSS², Deacom

        actEndDate|No|Yes|Macola, M1, JobBOSS², Deacom

        dueDate|No|Yes|Macola, M1, JobBOSS², Deacom

        status|No|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom

        parentJobID|No|Yes|JobBOSS²'
      operationId: GET__api_v1_view_jobs
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              jobID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          jobOperations|JobOperations[]|

          '
        schema:
          type: string
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/PartOperations:
    get:
      tags:
      - View
      summary: Gets a list of PartOperation
      description: 'Gets a list of PartOperation.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        partID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        partRevisionID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        partOperationSeq|Yes|Yes|Macola, M1, JobBOSS², Deacom

        workCenterID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        processID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        longDescText|Yes|Yes|Macola, M1, JobBOSS², Deacom

        longDescFormatted|Yes|Yes|Macola, M1, JobBOSS², Deacom

        outsideOperation|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estSetupHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estProdHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estQueueHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estMoveHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        estQAHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        vendorID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_PartOperations
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              partID[eq]: abc123
              partRevisionID[eq]: abc123
              partOperationSeq[gte]: 123
              workCenterID[eq]: abc123
              processID[eq]: abc123
              shortDesc[eq]: abc123
              longDescText[eq]: abc123
              longDescFormatted[eq]: abc123
              outsideOperation[eq]: abc123
              estSetupHours[gte]: 123
              estProdHours[gte]: 123
              estQueueHours[gte]: 123
              estMoveHours[gte]: 123
              estQAHours[gte]: 123
              vendorID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartOperation'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartOperation'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/PartRevisions:
    get:
      tags:
      - View
      summary: Gets a list of PartRevision
      description: 'Gets a list of PartRevision.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        partID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        partRevisionID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        longDescText|Yes|Yes|Macola, M1, JobBOSS², Deacom

        longDescFormatted|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_PartRevisions
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              partID[eq]: abc123
              partRevisionID[eq]: abc123
              shortDesc[eq]: abc123
              longDescText[eq]: abc123
              longDescFormatted[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartRevision'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartRevision'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/Processes:
    get:
      tags:
      - View
      summary: Gets a list of Process
      description: 'Gets a list of Process.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        processID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        setupRate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        productionRate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_Processes
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              processID[eq]: abc123
              shortDesc[eq]: abc123
              setupRate[eq]: abc123
              productionRate[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Process'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Process'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/ProductionCalendars:
    get:
      tags:
      - View
      summary: Gets a list of ProductionCalendar
      description: 'Gets a list of ProductionCalendar.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        productionDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        productionHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        productionStartTime|Yes|Yes|Macola, M1, JobBOSS², Deacom

        workCenterID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        plantID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        department|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_ProductionCalendars
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              productionDate[gte]: '2020-09-25T04:03:00.0000000'
              productionHours[gte]: 123
              productionStartTime[eq]: abc123
              workCenterID[eq]: abc123
              plantID[eq]: abc123
              department[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductionCalendar'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductionCalendar'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/SalesOrderDeliveries:
    get:
      tags:
      - View
      summary: Gets a list of SalesOrderDelivery
      description: 'Gets a list of SalesOrderDelivery.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        salesOrderID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        orderLine|Yes|Yes|Macola, M1, JobBOSS², Deacom

        orderLineDelivery|Yes|Yes|Macola, M1, JobBOSS², Deacom

        promisedDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        promisedQty|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shippedDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shippedQty|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_SalesOrderDeliveries
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              salesOrderID[eq]: abc123
              orderLine[gte]: 123
              orderLineDelivery[eq]: abc123
              promisedDate[gte]: '2020-09-25T04:03:00.0000000'
              promisedQty[gte]: 123
              shippedDate[gte]: '2020-09-25T04:03:00.0000000'
              shippedQty[gte]: 123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          salesOrderJobs|SalesOrderJobs[]|

          '
        schema:
          type: string
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderDelivery'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderDelivery'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/SalesOrderJobs:
    get:
      tags:
      - View
      summary: Gets a list of SalesOrderJob
      description: 'Gets a list of SalesOrderJob.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        salesOrderID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        orderLine|Yes|Yes|Macola, M1, JobBOSS², Deacom

        orderLineDelivery|Yes|Yes|Macola, M1, JobBOSS², Deacom

        jobID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        orderJobSeq|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_SalesOrderJobs
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              salesOrderID[eq]: abc123
              orderLine[gte]: 123
              orderLineDelivery[eq]: abc123
              jobID[eq]: abc123
              orderJobSeq[gte]: 123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderJob'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderJob'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/SalesOrderLines:
    get:
      tags:
      - View
      summary: Gets a list of SalesOrderLine
      description: 'Gets a list of SalesOrderLine.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        salesOrderID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        orderLine|Yes|Yes|Macola, M1, JobBOSS², Deacom

        totalSalePrice|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_SalesOrderLines
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              salesOrderID[eq]: abc123
              orderLine[gte]: 123
              totalSalePrice[gte]: 123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          salesOrderDeliveries|SalesOrderDeliveries[]|

          salesOrderJobs|SalesOrderJobs|

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderLine'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SalesOrderLine'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/ShiftDays:
    get:
      tags:
      - View
      summary: Gets a list of ShiftDay
      description: 'Gets a list of ShiftDay.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        shiftID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shiftDay|Yes|Yes|Macola, M1, JobBOSS², Deacom

        startTime|Yes|Yes|Macola, M1, JobBOSS², Deacom

        endTime|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_ShiftDays
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              shiftID[eq]: abc123
              shiftDay[eq]: abc123
              startTime[eq]: abc123
              endTime[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShiftDay'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShiftDay'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/Shifts:
    get:
      tags:
      - View
      summary: Gets a list of Shift
      description: 'Gets a list of Shift.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        shiftID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        inactiveDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_Shifts
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              shiftID[eq]: abc123
              shortDesc[eq]: abc123
              inactiveDate[gte]: '2020-09-25T04:03:00.0000000'
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          shiftDays|ShiftDays[]|

          '
        schema:
          type: string
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/TimecardLines:
    get:
      tags:
      - View
      summary: Gets a list of TimecardLine
      description: 'Gets a list of TimecardLine.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        timecardID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        timecardLine|Yes|Yes|Macola, M1, JobBOSS², Deacom

        jobID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        jobAssembly|Yes|Yes|Macola, M1, JobBOSS², Deacom

        jobOperation|Yes|Yes|Macola, M1, JobBOSS², Deacom

        workCenterID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        processID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        status|Yes|Yes|Macola, M1, JobBOSS², Deacom

        timecardType|Yes|Yes|Macola, M1, JobBOSS², Deacom

        goodQty|Yes|Yes|Macola, M1, JobBOSS², Deacom

        scrapQty|Yes|Yes|Macola, M1, JobBOSS², Deacom

        reworkQty|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rejectQty|Yes|Yes|Macola, M1, JobBOSS², Deacom

        startTime|Yes|Yes|Macola, M1, JobBOSS², Deacom

        endTime|Yes|Yes|Macola, M1, JobBOSS², Deacom

        machineHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        laborHours|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_TimecardLines
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              timecardID[eq]: abc123
              timecardLine[eq]: abc123
              jobID[eq]: abc123
              jobAssembly[eq]: abc123
              jobOperation[gte]: 123
              workCenterID[eq]: abc123
              processID[eq]: abc123
              status[eq]: abc123
              timecardType[eq]: abc123
              goodQty[gte]: 123
              scrapQty[gte]: 123
              reworkQty[gte]: 123
              rejectQty[gte]: 123
              startTime[gte]: '2020-09-25T04:03:00.0000000'
              endTime[gte]: '2020-09-25T04:03:00.0000000'
              machineHours[gte]: 123
              laborHours[gte]: 123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          workCenters|WorkCenters[]|

          timecards|Timecards[]|

          jobs|Jobs|

          processes|Processes|

          jobOperations|JobOperations|

          salesOrderDeliveries|SalesOrderDeliveries[]|

          salesOrderJobs|SalesOrderJobs|

          '
        schema:
          type: string
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimecardLine'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimecardLine'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/Timecards:
    get:
      tags:
      - View
      summary: Gets a list of Timecard
      description: 'Gets a list of Timecard.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        timecardID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        employeeID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shiftID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        timecardDate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_Timecards
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              timecardID[eq]: abc123
              employeeID[eq]: abc123
              shiftID[eq]: abc123
              timecardDate[gte]: '2020-09-25T04:03:00.0000000'
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          timecardlines|Timecardlines[]|

          employees|Employees[]|

          '
        schema:
          type: string
      - name: convertToUTC
        in: query
        description: Convert suppported date/time values to UTC before returning the data.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Timecard'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Timecard'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/TimeZones:
    get:
      tags:
      - View
      summary: Gets a list of TimeZone
      description: 'Gets a list of TimeZone.


        ## Supported ERPs

        - M1

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        timeZoneName|Yes|Yes|M1

        uniqueID|Yes|Yes|M1

        rowVersion|Yes|Yes|M1'
      operationId: GET__api_v1_view_TimeZones
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              timeZoneName[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeZone'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeZone'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v1/view/WorkCenters:
    get:
      tags:
      - View
      summary: Gets a list of WorkCenter
      description: 'Gets a list of WorkCenter.


        ## Supported ERPs

        - Macola

        - M1

        - JobBOSS²

        - Deacom

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        workCenterID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shortDesc|Yes|Yes|Macola, M1, JobBOSS², Deacom

        deptID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        overHeadRate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        quoteRate|Yes|Yes|Macola, M1, JobBOSS², Deacom

        processID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        parentWorkCenterID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        shiftID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        uniqueID|Yes|Yes|Macola, M1, JobBOSS², Deacom

        rowVersion|Yes|Yes|Macola, M1, JobBOSS², Deacom'
      operationId: GET__api_v1_view_WorkCenters
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              workCenterID[eq]: abc123
              shortDesc[eq]: abc123
              deptID[eq]: abc123
              overHeadRate[eq]: abc123
              quoteRate[eq]: abc123
              processID[eq]: abc123
              parentWorkCenterID[eq]: abc123
              shiftID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          departments|Departments[]|

          shifts|Shifts[]|

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkCenter'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkCenter'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/view/ap-invoice-lines:
    get:
      tags:
      - View
      summary: Gets a list of APInvoiceLine
      description: 'Gets a list of APInvoiceLine.


        ## Supported ERPs

        - M1

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        invoiceID|Yes|Yes|M1

        lineID|No|Yes|M1

        itemType|No|Yes|M1

        partID|No|Yes|M1

        partRevisionID|No|Yes|M1

        partDescription|No|Yes|M1

        purchaseQuantity|No|Yes|M1

        baseUnitCost|No|Yes|M1

        foreignUnitCost|No|Yes|M1

        baseExtendedCost|No|Yes|M1

        foreignExtendedCost|No|Yes|M1

        baseSetupCharge|No|Yes|M1

        foreignSetupCharge|No|Yes|M1

        unitOfMeasure|No|Yes|M1

        uniqueID|Yes|Yes|M1

        rowVersion|Yes|Yes|M1'
      operationId: GET__api_v2.1_view_ap-invoice-lines
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              invoiceID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APInvoiceLine'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APInvoiceLine'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/view/ap-invoices:
    get:
      tags:
      - View
      summary: Gets a list of APInvoice
      description: 'Gets a list of APInvoice.


        ## Supported ERPs

        - M1

        - Macola

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        invoiceID|Yes|Yes|M1, Macola

        invoiceDate|Yes|Yes|M1, Macola

        dueDate|Yes|Yes|M1, Macola

        invoiceType|Yes|Yes|M1, Macola

        isPostedToGL|Yes|Yes|M1, Macola

        postedDate|Yes|Yes|M1, Macola

        isOnHold|Yes|Yes|M1, Macola

        isOverpayment|No|Yes|M1, Macola

        paymentTermID|No|Yes|M1, Macola

        baseTotal|No|Yes|M1, Macola

        foreignTotal|No|Yes|M1, Macola

        baseBalance|No|Yes|M1, Macola

        foreignBalance|No|Yes|M1, Macola

        uniqueID|No|Yes|M1, Macola

        rowVersion|Yes|Yes|M1, Macola

        currency|No|Yes|M1, Macola

        supplierID|No|Yes|M1, Macola

        paidDate|No|Yes|M1, Macola

        plantID|No|Yes|M1, Macola'
      operationId: GET__api_v2.1_view_ap-invoices
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              invoiceID[eq]: abc123
              invoiceDate[gte]: '2020-09-25T00:00:00.0000000'
              dueDate[gte]: '2020-09-25T00:00:00.0000000'
              invoiceType[gte]: 123
              isPostedToGL[eq]: true
              postedDate[gte]: '2020-09-25T00:00:00.0000000'
              isOnHold[eq]: true
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APInvoice'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/APInvoice'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/view/ar-invoices:
    get:
      tags:
      - View
      summary: Gets a list of ARInvoice
      description: 'Gets a list of ARInvoice.


        ## Supported ERPs

        - M1

        - Macola

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        invoiceID|Yes|Yes|M1, Macola

        invoiceDate|Yes|Yes|M1, Macola

        dueDate|Yes|Yes|M1, Macola

        invoiceType|Yes|Yes|M1, Macola

        isPostedToGL|Yes|Yes|M1, Macola

        postedDate|Yes|Yes|M1, Macola

        isOnHold|Yes|Yes|M1, Macola

        isOverpayment|Yes|Yes|M1, Macola

        paymentTermID|Yes|Yes|M1, Macola

        invoiceTotalBase|Yes|Yes|M1, Macola

        invoiceTotalForeign|No|Yes|M1, Macola

        invoiceBalanceBase|No|Yes|M1, Macola

        invoiceBalanceForeign|No|Yes|M1, Macola

        uniqueID|Yes|Yes|M1, Macola

        rowVersion|Yes|Yes|M1, Macola

        customerID|No|Yes|M1, Macola

        paidDate|No|Yes|M1, Macola

        plantID|No|Yes|M1, Macola'
      operationId: GET__api_v2.1_view_ar-invoices
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              invoiceID[eq]: abc123
              invoiceDate[gte]: '2020-09-25T00:00:00.0000000'
              dueDate[gte]: '2020-09-25T00:00:00.0000000'
              invoiceType[gte]: 123
              isPostedToGL[eq]: true
              postedDate[gte]: '2020-09-25T00:00:00.0000000'
              isOnHold[eq]: true
              isOverpayment[eq]: true
              paymentTermID[eq]: abc123
              invoiceTotalBase[gte]: 123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ARInvoice'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ARInvoice'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/view/ar-invoice-sales-people:
    get:
      tags:
      - View
      summary: Gets a list of ARInvoiceSalesPerson
      description: 'Gets a list of ARInvoiceSalesPerson.


        ## Supported ERPs

        - M1

        - Macola

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        invoiceID|Yes|Yes|M1, Macola

        employeeID|Yes|Yes|M1, Macola

        sequenceID|No|Yes|M1, Macola

        uniqueID|Yes|Yes|M1, Macola

        rowVersion|Yes|Yes|M1, Macola'
      operationId: GET__api_v2.1_view_ar-invoice-sales-people
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              invoiceID[eq]: abc123
              employeeID[eq]: abc123
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ARInvoiceSalesPerson'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ARInvoiceSalesPerson'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/view/contacts:
    get:
      tags:
      - View
      summary: Gets a list of Contact
      description: 'Gets a list of Contact.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        uniqueID|Yes|Yes|M1, JobBOSS², Macola

        rowVersion|Yes|Yes|M1, JobBOSS², Macola

        contactID|Yes|Yes|M1, JobBOSS², Macola

        name|Yes|Yes|M1, JobBOSS², Macola

        organizationID|Yes|Yes|M1, JobBOSS², Macola

        organizationTypes|Yes|Yes|JobBOSS²

        phoneNumber|Yes|Yes|M1, JobBOSS², Macola

        emailAddress|Yes|Yes|M1, JobBOSS², Macola

        isActive|Yes|Yes|M1, JobBOSS², Macola

        comments|Yes|Yes|JobBOSS²'
      operationId: GET__api_v2.1_view_contacts
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              contactID[eq]: abc123
              name[eq]: abc123
              organizationID[eq]: abc123
              organizationTypes[gte]: 123
              phoneNumber[eq]: abc123
              emailAddress[eq]: abc123
              isActive[eq]: true
              comments[eq]: abc123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          organization|Organizations|The organization to which the Contact belongs.

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  resultCount:
                    type:
                    - integer
                    - 'null'
            text/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  resultCount:
                    type:
                    - integer
                    - 'null'
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/view/cycle-codes:
    get:
      tags:
      - View
      summary: Gets a list of CycleCode
      description: 'Gets a list of CycleCode.


        ## Supported ERPs

        - M1

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        description|No|Yes|M1

        uniqueID|Yes|Yes|M1

        rowVersion|Yes|Yes|M1

        cycleCodeID|Yes|Yes|M1'
      operationId: GET__api_v2.1_view_cycle-codes
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              cycleCodeID[eq]: abc123
      responses:
        '200':
          description: Success
[...]
