openapi: 3.2.0
info:
  title: Eci Solutions Contact API
  version: '1.0'
  description: 'Operations tagged Contact across 3 of this provider''s published API definitions: eci-solutions-erp-v2-1-openapi.json, eci-solutions-financial-v1-openapi.json, eci-solutions-payment-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-erp.integrations.ecimanufacturing.com:443
  description: Production
security:
- Bearer: []
tags:
- name: Contact
paths:
  /api/v2.1/contacts:
    post:
      tags:
      - Contact
      summary: Create a new Contact in the ERP system
      description: '## Supported ERPs

        - JobBOSS²'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactCreateModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactCreateModel'
      responses:
        '201':
          description: Created
      operationId: postApiV21Contacts
      x-operation-id-source: derived
    get:
      tags:
      - Contact
      summary: Get a list of Contacts from the ERP system that match the given filters
      description: 'Gets a list of Contact.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        ## Resource Features

        Feature |Supported |Notes

        ------------|------------|------------

        Filter Expressions|**Yes**|

        Sort Expressions|**Yes**

        Field Selection|**Yes**

        Pagination|**Yes**

        UniqueID|uniqueID|

        ## Features by Field

        Field |Filterable |Sortable |Supported ERPs

        ------------|------------|------------|------------

        uniqueID|Yes|Yes|M1, JobBOSS², Macola

        rowVersion|Yes|Yes|M1, JobBOSS², Macola

        contactID|Yes|Yes|M1, JobBOSS², Macola

        name|Yes|Yes|M1, JobBOSS², Macola

        organizationID|Yes|Yes|M1, JobBOSS², Macola

        organizationTypes|Yes|Yes|JobBOSS²

        phoneNumber|Yes|Yes|M1, JobBOSS², Macola

        emailAddress|Yes|Yes|M1, JobBOSS², Macola

        isActive|Yes|Yes|M1, JobBOSS², Macola

        comments|Yes|Yes|JobBOSS²'
      parameters:
      - name: fields
        in: query
        description: A comma-separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma-separated list of <a href='#sortexpr'>sort expressions</a>.
        schema:
          type: string
      - name: take
        in: query
        description: Limit the number of results being returned
        schema:
          minimum: 0
          type: integer
      - name: skip
        in: query
        description: The number of results to skip. Combine with 'take' to fetch records in pages
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: '<a href=''#countparam''>Data and count</a> response behavior '
        schema:
          maximum: 2
          minimum: 0
          type: integer
      - name: filters
        in: query
        description: See <a href='#filterexpr'>Filter Expressions</a> for query string syntax. The Test UI and any generated code tool may expose filter parameters as a dictionary of name/value pairs, but if creating a raw HTTP request, they must be provided on the querystring as defined in the Filter Expression section.
        style: form
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          Empty:
            description: No filters applied
          'Example #1':
            description: A dictionary of name/value pairs that will be serialized as querystring parameters in the format ```name[operator]=value```
            value:
              uniqueID[eq]: cc90686b-399e-4094-b431-fa462f84b0a8
              rowVersion[gte]: 123
              contactID[eq]: abc123
              name[eq]: abc123
              organizationID[eq]: abc123
              organizationTypes[gte]: 123
              phoneNumber[eq]: abc123
              emailAddress[eq]: abc123
              isActive[eq]: true
              comments[eq]: abc123
      - name: expand
        in: query
        description: '### Supported Expansions

          An expansion expression containing a comma separater list of relationships to expand.

          Name        |Value       |Description

          ------------|------------|-----------

          organization|Organizations|The organization to which the Contact belongs.

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContactListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactListResponse'
      operationId: getApiV21Contacts
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/v2.1/contacts/{id}:
    get:
      tags:
      - Contact
      summary: Get an Contact from the ERP system that matches the given unique ID
      description: 'Gets a Contact by unique ID.


        ## Supported ERPs

        - M1

        - JobBOSS²

        - Macola

        ## Features by Field

        Field |Supported ERPs

        ------------|------------

        uniqueID||M1, JobBOSS², Macola

        rowVersion||M1, JobBOSS², Macola

        contactID||M1, JobBOSS², Macola

        name||M1, JobBOSS², Macola

        organizationID||M1, JobBOSS², Macola

        organizationTypes||JobBOSS²

        phoneNumber||M1, JobBOSS², Macola

        emailAddress||M1, JobBOSS², Macola

        isActive||M1, JobBOSS², Macola

        comments||JobBOSS²'
      parameters:
      - name: id
        in: path
        description: The ID of the contact
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Contact'
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
            text/json:
              schema:
                $ref: '#/components/schemas/Contact'
      operationId: getApiV21ContactsById
      x-operation-id-source: derived
    servers:
    - url: https://api-erp.integrations.ecimanufacturing.com:443
      description: Production
  /api/Contact/Bill/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Bill
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: bill id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactBillById
      x-operation-id-source: derived
  /api/Contact/CreditMemo/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Credit Memo
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: creditMemo id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactCreditMemoById
      x-operation-id-source: derived
  /api/Contact/Customer/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Customer
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactCustomerById
      x-operation-id-source: derived
  /api/Contact/Employee/{id}:
    delete:
      tags:
      - Contact
      summary: Delete an Employee
      description: Supported by MYOB, QBO, and Xero.
      parameters:
      - name: id
        in: path
        description: employee id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactEmployeeById
      x-operation-id-source: derived
  /api/Contact/GetBill/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Bill by unique id, if it exists
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the Bill to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BillModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BillModelAPIResponse'
      operationId: getApiContactGetBillById
      x-operation-id-source: derived
  /api/Contact/GetBills:
    get:
      tags:
      - Contact
      summary: Get a list of Bills
      description: 'Supported by MYOB, QBO, Xero, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BillModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BillModelListAPIResponse'
      operationId: getApiContactGetBills
      x-operation-id-source: derived
  /api/Contact/GetCreditMemo/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Credit Memo by unique id, if it exists
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the CreditMemo to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditMemoModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditMemoModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditMemoModelAPIResponse'
      operationId: getApiContactGetCreditMemoById
      x-operation-id-source: derived
  /api/Contact/GetCreditMemos:
    get:
      tags:
      - Contact
      summary: Get a list of Credit Memos
      description: 'Supported by MYOB, QBO, Xero, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditMemoModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditMemoModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditMemoModelListAPIResponse'
      operationId: getApiContactGetCreditMemos
      x-operation-id-source: derived
  /api/Contact/GetCustomer/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Customer by unique id, if it exists
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the Customer to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModelAPIResponse'
      operationId: getApiContactGetCustomerById
      x-operation-id-source: derived
  /api/Contact/GetCustomers:
    get:
      tags:
      - Contact
      summary: Get a list of Customers
      description: 'Supported by MYOB, QBO, Xero, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModelListAPIResponse'
      operationId: getApiContactGetCustomers
      x-operation-id-source: derived
  /api/Contact/GetEmployee/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Employee by unique id, if it exists
      description: Supported by MYOB, QBO, and Xero.
      parameters:
      - name: id
        in: path
        description: The id of the Employee to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EmployeeModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EmployeeModelAPIResponse'
      operationId: getApiContactGetEmployeeById
      x-operation-id-source: derived
  /api/Contact/GetEmployees:
    get:
      tags:
      - Contact
      summary: Get a list of Employees
      description: 'Supported by MYOB, QBO, and Xero.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EmployeeModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EmployeeModelListAPIResponse'
      operationId: getApiContactGetEmployees
      x-operation-id-source: derived
  /api/Contact/GetItem/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Item by unique id, if it exists
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the Item to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ItemModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ItemModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemModelAPIResponse'
      operationId: getApiContactGetItemById
      x-operation-id-source: derived
  /api/Contact/GetItems:
    get:
      tags:
      - Contact
      summary: Get a list of Items
      description: 'Supported by MYOB, QBO, Xero, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: types
        in: query
        description: 'Filter list of Items based on Type.

          QBO: Valid values include Inventory, NonInventory, Category and Service.

          Multiple valid values may be separated by commas.

          If no types are specified, all items will be returned.'
        schema:
          type: string
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ItemModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ItemModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemModelListAPIResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ItemModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ItemModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemModelListAPIResponse'
      operationId: getApiContactGetItems
      x-operation-id-source: derived
  /api/Contact/GetJournal/{id}:
    get:
      tags:
      - Contact
      summary: Get a single journal by unique id, if it exists
      description: Supported by QBO, Xero, MYOB, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the Journal to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JournalModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/JournalModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JournalModelAPIResponse'
      operationId: getApiContactGetJournalById
      x-operation-id-source: derived
  /api/Contact/GetJournals:
    get:
      tags:
      - Contact
      summary: Get a list of Journals
      description: 'Supported by QBO, Xero, MYOB, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JournalModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/JournalModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JournalModelListAPIResponse'
      operationId: getApiContactGetJournals
      x-operation-id-source: derived
  /api/Contact/GetTimeActivities:
    get:
      tags:
      - Contact
      summary: Get a list of Time Activities
      description: 'Supported by MYOB, QBO, and Xero.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TimeActivityResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TimeActivityResponseModelAPIResponse'
      operationId: getApiContactGetTimeActivities
      x-operation-id-source: derived
  /api/Contact/GetTimeActivity/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Time Activity by unique id, if it exists
      description: Supported by MYOB, QBO, and Xero.
      parameters:
      - name: id
        in: path
        description: The id of the time activity to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TimeActivityResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TimeActivityResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TimeActivityResponseModelAPIResponse'
      operationId: getApiContactGetTimeActivityById
      x-operation-id-source: derived
  /api/Contact/GetVendor/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Vendor by unique id, if it exists
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the Vendor to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SupplierModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierModelAPIResponse'
      operationId: getApiContactGetVendorById
      x-operation-id-source: derived
  /api/Contact/GetVendorCredit/{id}:
    get:
      tags:
      - Contact
      summary: Get a single Vendor Credit by unique id, if it exists
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: The id of the VendorCredit to find.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VendorCreditModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VendorCreditModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorCreditModelAPIResponse'
      operationId: getApiContactGetVendorCreditById
      x-operation-id-source: derived
  /api/Contact/GetVendorCredits:
    get:
      tags:
      - Contact
      summary: Get a list of Vendor Credits
      description: 'Supported by MYOB, QBO, Xero, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VendorCreditModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VendorCreditModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorCreditModelListAPIResponse'
      operationId: getApiContactGetVendorCredits
      x-operation-id-source: derived
  /api/Contact/GetVendors:
    get:
      tags:
      - Contact
      summary: Get a list of Vendors
      description: 'Supported by MYOB, QBO, Xero, and Sage.

        Take value, if provided, must be between 1 and 100. Skip value, if provided, must be greater than or equal to 0.'
      parameters:
      - name: DisplayName
        in: query
        description: 'Display name of the person or organization.

          QBO: DisplayName

          Xero: Name

          MYOB: CompanyName OR concatenated FirstName and LastName

          Sage: Displayed_As'
        schema:
          type: string
      - name: Active
        in: query
        description: 'IsActive for the contact

          QBO: Active

          Xero: ContactStatus == Contact.ContactStatusEnum.ACTIVE

          MYOB: IsActive

          Sage: is_active'
        schema:
          type: boolean
      - name: ModifiedAfter
        in: query
        description: If provided, only return records modified after this date and time. Only supported for QBO at this time.
        schema:
          type: string
          format: date-time
      - name: Take
        in: query
        description: The maximum number of records to retrieve. If not provided, retrieve the number of records allowable by the backend financial system, which is not guaranteed to be the entire set of records.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
      - name: Skip
        in: query
        description: The number of records to skip past when retrieving the list. Recommended to be a multiple of the Take value, if provided.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SupplierModelListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierModelListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierModelListAPIResponse'
      operationId: getApiContactGetVendors
      x-operation-id-source: derived
  /api/Contact/Item/{id}:
    delete:
      tags:
      - Contact
      summary: Delete an Item
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: item id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactItemById
      x-operation-id-source: derived
  /api/Contact/Journal/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Journal
      description: Supported by QBO, MYOB, and Sage.
      parameters:
      - name: id
        in: path
        description: journal id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactJournalById
      x-operation-id-source: derived
  /api/Contact/SaveBill:
    post:
      tags:
      - Contact
      summary: Create or update a Bill for a Vendor
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Bill details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BillModel'
              description: 'Represents a Vendor Bill to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/bill

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/

                SAGE: https://developer.myob.cohttps://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Invoices'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BillModel'
              description: 'Represents a Vendor Bill to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/bill

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/

                SAGE: https://developer.myob.cohttps://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Invoices'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BillModel'
              description: 'Represents a Vendor Bill to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/bill

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/

                SAGE: https://developer.myob.cohttps://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Invoices'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BillModel'
              description: 'Represents a Vendor Bill to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/bill

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/

                SAGE: https://developer.myob.cohttps://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Invoices'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BillResponseModelAPIResponse'
      operationId: postApiContactSaveBill
      x-operation-id-source: derived
  /api/Contact/SaveCreditMemo:
    post:
      tags:
      - Contact
      summary: Create or update a Credit Memo for a Customer
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Credit Memo details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreditMemoModel'
              description: "Represents a Customer Credit Memo to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/creditmemo\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/sale/invoice/invoice_item/ (Credit Invoice)\n    OR https://developer.myob.com/api/myob-business-api/v2/sale/credit_refund/ (Credit Refund Payment)\nSage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Credit-Notes"
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreditMemoModel'
              description: "Represents a Customer Credit Memo to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/creditmemo\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/sale/invoice/invoice_item/ (Credit Invoice)\n    OR https://developer.myob.com/api/myob-business-api/v2/sale/credit_refund/ (Credit Refund Payment)\nSage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Credit-Notes"
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreditMemoModel'
              description: "Represents a Customer Credit Memo to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/creditmemo\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/sale/invoice/invoice_item/ (Credit Invoice)\n    OR https://developer.myob.com/api/myob-business-api/v2/sale/credit_refund/ (Credit Refund Payment)\nSage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Credit-Notes"
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreditMemoModel'
              description: "Represents a Customer Credit Memo to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/creditmemo\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/sale/invoice/invoice_item/ (Credit Invoice)\n    OR https://developer.myob.com/api/myob-business-api/v2/sale/credit_refund/ (Credit Refund Payment)\nSage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Credit-Notes"
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditMemoResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditMemoResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditMemoResponseModelAPIResponse'
      operationId: postApiContactSaveCreditMemo
      x-operation-id-source: derived
  /api/Contact/SaveCustomer:
    post:
      tags:
      - Contact
      summary: Create or update a Customer
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Customer details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerModel'
              description: 'Represents a Customer to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/customer

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/customer/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerModel'
              description: 'Represents a Customer to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/customer

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/customer/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerModel'
              description: 'Represents a Customer to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/customer

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/customer/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerModel'
              description: 'Represents a Customer to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/customer

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/customer/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerResponseModelAPIResponse'
      operationId: postApiContactSaveCustomer
      x-operation-id-source: derived
  /api/Contact/SaveEmployee:
    post:
      tags:
      - Contact
      summary: Create or update an Employee
      description: Supported by MYOB, QBO, and Xero.
      requestBody:
        description: A model with Employee details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EmployeeModel'
              description: Employee Model
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EmployeeModel'
              description: Employee Model
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EmployeeModel'
              description: Employee Model
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EmployeeModel'
              description: Employee Model
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
      operationId: postApiContactSaveEmployee
      x-operation-id-source: derived
  /api/Contact/SaveInvoice:
    post:
      tags:
      - Contact
      summary: Create or update an Invoice for a Customer
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Invoice details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvoiceModel'
              description: 'This class is being used to have invoice details

                Sage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Invoices'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvoiceModel'
              description: 'This class is being used to have invoice details

                Sage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Invoices'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvoiceModel'
              description: 'This class is being used to have invoice details

                Sage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Invoices'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvoiceModel'
              description: 'This class is being used to have invoice details

                Sage: https://developer.sage.com/accounting/reference/invoicing-sales/#tag/Sales-Invoices'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponseModelAPIResponse'
      operationId: postApiContactSaveInvoice
      x-operation-id-source: derived
  /api/Contact/SaveJournal:
    post:
      tags:
      - Contact
      summary: Create or update a Journal
      description: Supported by QBO, Xero, MYOB, and Sage. But Updation is not supported by Xero and Sage.
      requestBody:
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/JournalModel'
              description: 'Represents a GL Journal to be saved to or existing in the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/journalentry

                Xero: https://developer.xero.com/documentation/api/accounting/manualjournals

                MYOB: https://developer.myob.com/api/myob-business-api/v2/generalledger/generaljournal/

                Sage: https://developer.sage.com/accounting/reference/accounting/#tag/Journals'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/JournalModel'
              description: 'Represents a GL Journal to be saved to or existing in the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/journalentry

                Xero: https://developer.xero.com/documentation/api/accounting/manualjournals

                MYOB: https://developer.myob.com/api/myob-business-api/v2/generalledger/generaljournal/

                Sage: https://developer.sage.com/accounting/reference/accounting/#tag/Journals'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/JournalModel'
              description: 'Represents a GL Journal to be saved to or existing in the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/journalentry

                Xero: https://developer.xero.com/documentation/api/accounting/manualjournals

                MYOB: https://developer.myob.com/api/myob-business-api/v2/generalledger/generaljournal/

                Sage: https://developer.sage.com/accounting/reference/accounting/#tag/Journals'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/JournalModel'
              description: 'Represents a GL Journal to be saved to or existing in the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/journalentry

                Xero: https://developer.xero.com/documentation/api/accounting/manualjournals

                MYOB: https://developer.myob.com/api/myob-business-api/v2/generalledger/generaljournal/

                Sage: https://developer.sage.com/accounting/reference/accounting/#tag/Journals'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JournalResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/JournalResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JournalResponseModelAPIResponse'
      operationId: postApiContactSaveJournal
      x-operation-id-source: derived
  /api/Contact/SavePaymentTerm:
    post:
      tags:
      - Contact
      summary: Create or update a Term
      description: Supported by QBO.
      requestBody:
        description: A model with Term details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PaymentTermModel'
              description: 'Represents a Payment Term to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/term'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PaymentTermModel'
              description: 'Represents a Payment Term to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/term'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PaymentTermModel'
              description: 'Represents a Payment Term to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/term'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PaymentTermModel'
              description: 'Represents a Payment Term to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/term'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentTermResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTermResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentTermResponseModelAPIResponse'
      operationId: postApiContactSavePaymentTerm
      x-operation-id-source: derived
  /api/Contact/SaveShippingAddress:
    post:
      tags:
      - Contact
      summary: Update a Customer's Shipping Address
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Address details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerShippingAddressModel'
              description: THIS CLASS IS USED TO HAVE SHIPPING ADDRESS DETAILS
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerShippingAddressModel'
              description: THIS CLASS IS USED TO HAVE SHIPPING ADDRESS DETAILS
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerShippingAddressModel'
              description: THIS CLASS IS USED TO HAVE SHIPPING ADDRESS DETAILS
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomerShippingAddressModel'
              description: THIS CLASS IS USED TO HAVE SHIPPING ADDRESS DETAILS
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModelAPIResponse'
      operationId: postApiContactSaveShippingAddress
      x-operation-id-source: derived
  /api/Contact/SaveTimeActivity:
    post:
      tags:
      - Contact
      summary: Create or update a Time Activity for an Employee
      description: Supported by MYOB, QBO, and Xero.
      requestBody:
        description: A model with Time Activity details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TimeActivityModel'
              description: 'Represents an employee Time Activity to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/timeactivity

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TimeActivityModel'
              description: 'Represents an employee Time Activity to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/timeactivity

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TimeActivityModel'
              description: 'Represents an employee Time Activity to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/timeactivity

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TimeActivityModel'
              description: 'Represents an employee Time Activity to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/timeactivity

                Xero: https://developer.xero.com/documentation/api/accounting/invoices

                MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
      operationId: postApiContactSaveTimeActivity
      x-operation-id-source: derived
  /api/Contact/SaveTimeActivityBatch:
    post:
      tags:
      - Contact
      summary: Create or update a batch of Time Activities for one or more Employees
      description: Supported by MYOB, QBO, and Xero.
      requestBody:
        description: A model with Time Activity details.
        content:
          application/json-patch+json:
            schema:
              maxItems: 20
              type: array
              items:
                $ref: '#/components/schemas/TimeActivityBatchModel'
          application/json:
            schema:
              maxItems: 20
              type: array
              items:
                $ref: '#/components/schemas/TimeActivityBatchModel'
          text/json:
            schema:
              maxItems: 20
              type: array
              items:
                $ref: '#/components/schemas/TimeActivityBatchModel'
          application/*+json:
            schema:
              maxItems: 20
              type: array
              items:
                $ref: '#/components/schemas/TimeActivityBatchModel'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
      operationId: postApiContactSaveTimeActivityBatch
      x-operation-id-source: derived
  /api/Contact/SaveVendor:
    post:
      tags:
      - Contact
      summary: Create or update a Vendor
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Vendor details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SupplierModel'
              description: 'Represents a Supplier/Vendor to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendor

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/supplier/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SupplierModel'
              description: 'Represents a Supplier/Vendor to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendor

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/supplier/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SupplierModel'
              description: 'Represents a Supplier/Vendor to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendor

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/supplier/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SupplierModel'
              description: 'Represents a Supplier/Vendor to be saved to the financial system.

                QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendor

                Xero: https://developer.xero.com/documentation/api/accounting/contacts

                MYOB: https://developer.myob.com/api/myob-business-api/v2/contact/supplier/

                Sage: https://developer.sage.com/accounting/reference/contacts/#tag/Contacts'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
      operationId: postApiContactSaveVendor
      x-operation-id-source: derived
  /api/Contact/SaveVendorCredit:
    post:
      tags:
      - Contact
      summary: Create or update a Credit for a Vendor
      description: Supported by MYOB, QBO, Xero, and Sage.
      requestBody:
        description: A model with Vendor Credit details.
        content:
          application/json-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VendorCreditModel'
              description: "Represents a Vendor Credit to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendorcredit\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/bill_item/\n    OR https://developer.myob.com/api/myob-business-api/v2/purchase/debit_refund/\nSage: https://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Credit-Notes"
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VendorCreditModel'
              description: "Represents a Vendor Credit to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendorcredit\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/bill_item/\n    OR https://developer.myob.com/api/myob-business-api/v2/purchase/debit_refund/\nSage: https://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Credit-Notes"
          text/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VendorCreditModel'
              description: "Represents a Vendor Credit to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendorcredit\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/bill_item/\n    OR https://developer.myob.com/api/myob-business-api/v2/purchase/debit_refund/\nSage: https://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Credit-Notes"
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VendorCreditModel'
              description: "Represents a Vendor Credit to be saved to the financial system.\nQBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/vendorcredit\nXero: https://developer.xero.com/documentation/api/accounting/creditnotes\nMYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/bill_item/\n    OR https://developer.myob.com/api/myob-business-api/v2/purchase/debit_refund/\nSage: https://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Credit-Notes"
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentResponseModelAPIResponse'
      operationId: postApiContactSaveVendorCredit
      x-operation-id-source: derived
  /api/Contact/TimeActivity/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Time Activity
      description: Supported by QBO and Xero. MYOB does not support time activity deletion.
      parameters:
      - name: id
        in: path
        description: Time Activity id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactTimeActivityById
      x-operation-id-source: derived
  /api/Contact/Vendor/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Vendor
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: vendor id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactVendorById
      x-operation-id-source: derived
  /api/Contact/VendorCredit/{id}:
    delete:
      tags:
      - Contact
      summary: Delete a Vendor Credit
      description: Supported by MYOB, QBO, Xero, and Sage.
      parameters:
      - name: id
        in: path
        description: vendorCredit id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
      operationId: deleteApiContactVendorCreditById
      x-operation-id-source: derived
  /api/contact:
    post:
      tags:
      - Contact
      summary: Creates a Paya contact
      description: '### Creates a Paya Contact


        Creating a contact is the first step to enabling payment processing for a customer. A contact represents an individual or entity within the Paya system.


        #### Why create a contact?

        - **Store Payment Methods:** Once a contact is created, you can securely save their payment methods (credit cards, bank accounts) in a Paya "Account Vault".

        - **Process Transactions:** With a stored payment method, you can easily process future transactions like sales, refunds, or authorizations without requiring the customer to re-enter their details.

        - **Streamline Billing:** It is essential for recurring billing, subscriptions, and providing a quick checkout experience for returning customers.


        This endpoint captures the necessary customer information to establish their record in the Paya gateway.'
      requestBody:
        description: An object containing the details of the contact to be created, such as name, email, and address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact_2'
          text/json:
            schema:
              $ref: '#/components/schemas/Contact_2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Contact_2'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse_2'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse_2'
      operationId: postApiContact
      x-operation-id-source: derived
    get:
      tags:
      - Contact
      summary: Gets contact details
      description: '### Gets contact details

        This API shows all details of a desired contact.'
      parameters:
      - name: contactId
        in: query
        description: This field contains the desired contact ID.
        required: true
        schema:
          type: string
      - name: developerId
        in: query
        description: This field contains the desired developer ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContactAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactAPIResponse'
      operationId: getApiContact
      x-operation-id-source: derived
  /api/contact/{id}:
    patch:
      tags:
      - Contact
      summary: Updates a contact
      description: '### Updates a contact

        This API patches or updates only the desired records of a contact, which are provided in the request model.'
      parameters:
      - name: id
        in: path
        description: This field requires the contact ID.
        required: true
        schema:
          type: string
      requestBody:
        description: This is an object which can contain only the desired fields to patch or update. (Developer ID is required).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContact'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateContact'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateContact'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse_2'
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse_2'
      operationId: patchApiContactById
      x-operation-id-source: derived
  /api/contact/getaccountvaultsforcontact:
    get:
      tags:
      - Contact
      summary: Gets contact account vaults
      description: '### Gets contact account vaults

        This API allows you to get all account vault details associated with the account, or you can filter by providing a contact ID.'
      parameters:
      - name: contactId
        in: query
        description: This field contains the desired contact ID.
        schema:
          type: string
      - name: developerId
        in: query
        description: This field contains the developer ID, which is required.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccountVaultListResponseAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVaultListResponseAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountVaultListResponseAPIResponse'
      operationId: getApiContactGetaccountvaultsforcontact
      x-operation-id-source: derived
  /api/contact/GetAccountNumberContacts:
    get:
      tags:
      - Contact
      summary: Gets contacts by account number
      description: '### Gets contacts by account number

        This API allows you to get all contact details associated with the account, or you can filter by providing an account number and location ID.'
      parameters:
      - name: accountNumber
        in: query
        description: This field contains the account number.
        schema:
          type: string
      - name: developerId
        in: query
        description: This field contains the developer ID, which is required.
        required: true
        schema:
          type: string
      - name: locationId
        in: query
        description: This field contains the location ID.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccountNumberContactsAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNumberContactsAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountNumberContactsAPIResponse'
      operationId: getApiContactGetAccountNumberContacts
      x-operation-id-source: derived
components:
  schemas:
    ContactListResponse:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Contact'
          readOnly: true
        resultCount:
          type: integer
          format: int32
      additionalProperties: false
    Organization:
      title: Organization
      type: object
      properties:
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        name:
          type: string
        organizationID:
          type: string
        country:
          type: string
        isActive:
          type: boolean
        organizationTypes:
          type: array
          items:
            type: integer
            format: int32
        phoneNumber:
          type: string
        customerPaymentTermID:
          type: string
        customerTaxCodeID:
          type: string
        supplierPaymentTermID:
          type: string
        supplierTaxCodeID:
          type: string
        currencyCode:
          type: string
        websiteUrl:
          type: string
        comments:
          type: string
        salesAccountID:
          type: string
        leadTimeDays:
          type: integer
          format: int32
        minimumOrderAmount:
          type: number
          format: double
        customerStatus:
          type: integer
        supplierStatus:
          type: integer
    OrganizationType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    ContactCreateModel:
      type: object
      properties:
        contactID:
          type:
          - string
          - 'null'
          description: A short identifier for the contact.
        organizationID:
          type:
          - string
          - 'null'
          description: The ID or code identifying the organization with which the contact is associated.
        organizationType:
          $ref: '#/components/schemas/OrganizationType'
        name:
          type:
          - string
          - 'null'
          description: The name of the contact.
        phoneNumber:
          type:
          - string
          - 'null'
          description: A phone number for the contact.
        emailAddress:
          type:
          - string
          - 'null'
          description: An email address for the contact.
        comments:
          type:
          - string
          - 'null'
          description: Comments or notes about the contact.
      additionalProperties: false
      description: A model used to create new contacts.
    Contact:
      title: Contact
      type: object
      properties:
        uniqueID:
          type: string
        rowVersion:
          type: integer
          format: int64
        contactID:
          type: string
        name:
          type: string
        organizationID:
          type: string
        organizationTypes:
          type: array
          items:
            type: integer
            format: int32
        phoneNumber:
          type: string
        emailAddress:
          type: string
        isActive:
          type: boolean
        comments:
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
    AccountBasedExpenseLineDetailModel:
      type: object
      properties:
        accountRef:
          type:
          - string
          - 'null'
          description: 'Reference to the Expense account associated with this item.

            SAGE: Invoice_Lines.Product.Purchase_Ledger_Account_Id'
        taxAmount:
          type:
          - number
          - 'null'
          description: 'Sales tax paid as part of the expense.

            SAGE: Invoice_Lines.Tax_Amount'
          format: double
        taxInclusiveAmt:
          type:
          - number
          - 'null'
          description: "The total amount of the line item including tax.\n SAGE: Invoice_Lines.Net_Amount"
          format: double
        classRef:
          type:
          - string
          - 'null'
          description: Reference to the Class associated with the expense.
        taxCodeRef:
          type:
          - string
          - 'null'
          description: The TaxCode associated with the sales tax for the expense.
        billableStatus:
          type:
          - string
          - 'null'
          description: 'The billable status of the expense. Valid values: Billable, NotBillable, HasBeenBilled'
        customerRef:
          type:
          - string
          - 'null'
          description: Reference to the Customer associated with the expense.
      additionalProperties: false
      description: Account Based Expense Line Detail Model
    SalesItemLineDetailModel:
      type: object
      properties:
        qty:
          type: number
          description: '(ShipQuantity for Myob)

            The quantity of goods shipped.'
          format: double
        unitPrice:
          type: number
          description: Unit price assigned to the item.
          format: double
        taxCodeRef:
          type:
          - string
          - 'null'
          description: '(TaxCode for Myob)

            Tax code'
        itemRef:
          type:
          - string
          - 'null'
          description: '(Item for Myob)

            Details for an Item'
        accountCode:
          type:
          - string
          - 'null'
          description: '(Account for Myob)

            Account Code.

            Max Chars : 10 (Xero: Max Chars - 10)'
        itemAccountRef:
          type:
          - string
          - 'null'
          description: '(QBO related field)

            In MYOB maps with Account.UID'
      additionalProperties: false
      description: Sale Item Detail Model
    ItemModelListAPIResponse:
      type: object
      properties:
        Version:
          type:
          - string
          - 'null'
        StatusCode:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        ResponseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ItemModel'
      additionalProperties: false
    VendorCreditModelListAPIResponse:
      type: object
      properties:
        Version:
          type:
          - string
          - 'null'
        StatusCode:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        ResponseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VendorCreditModel'
      additionalProperties: false
    BillResponseModelAPIResponse:
      type: object
      properties:
        Version:
          type:
          - string
          - 'null'
        StatusCode:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        ResponseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        Result:
          allOf:
          - $ref: '#/components/schemas/BillResponseModel'
          description: A record containing the unique id, doc number, and syncToken for a saved GL account.
      additionalProperties: false
    CreditMemoLineModel:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: 'Type of the credit memo line.

            QBO: N/A (Should always be SalesItemLineDetail)

            Xero: N/A

            MYOB: N/A'
          deprecated: true
        amount:
          type:
          - number
          - 'null'
          description: (Total field for Myob)
          format: double
        description:
          type:
          - string
          - 'null'
          description: 'Description for the credit memo line. Max chars: 255.'
        accountRef:
          type:
          - string
          - 'null'
          description: MYOB field
        salesItemLineDetail:
          allOf:
          - $ref: '#/components/schemas/SalesItemLineDetailModel'
          description: Line Item Details
      additionalProperties: false
      description: Line item details for customer credits.
    TimeActivityEmployeeBatchModel:
      type: object
      properties:
        employeePayRateRef:
          type:
          - string
          - 'null'
          description: Specifies the employee pay rate for the time activity.
        hours:
          type:
          - number
          - 'null'
          description: Hours and minutes worked.
          format: double
        transactionDate:
          type:
          - string
          - 'null'
          description: The date for the time activity. This is the posting date that affects financial statements. If the date is not supplied, the current date on the server is used.
          format: date-time
        description:
          type:
          - string
          - 'null'
          description: Description of work completed during time activity.
      additionalProperties: false
      description: Employee Time Activity Batch Model
    ItemModelAPIResponse:
      type: object
      properties:
        Version:
          type:
          - string
          - 'null'
        StatusCode:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        ResponseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        Result:
          allOf:
          - $ref: '#/components/schemas/ItemModel'
          description: 'Represents a Item, generally for sale or purchase, to be saved to the financial system.

            QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/item

            Xero: https://developer.xero.com/documentation/api/accounting/items

            MYOB: https://developer.myob.com/api/myob-business-api/v2/inventory/item/

            Sage: https://developer.sage.com/accounting/reference/products-services/#tag/Products/operation/getProducts'
      additionalProperties: false
    ValidationError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Detail:
          type:
          - string
          - 'null'
      additionalProperties: false
    BillModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique id of the bill. Provide when updating the record.
        override:
          type: boolean
          description: Set to true to force an update to the record regardless of version conflict. SyncToken is not required if Override is true.
        syncToken:
          type:
          - string
          - 'null'
          description: SyncToken to ensure updating the latest version of the record. Used for updating with QBO and MYOB.
        upsert:
          type: boolean
          description: 'When no unique Id is provided, allow updating if a matching Bill record exists, otherwise create a new record

            QBO: Update a matching record by DocNumber.

            Xero: Update a matching record by DocNumber.

            MYOB: Update a matching record by DocNumber.

            Sage: Update a matching record by DocNumber.'
        vendorRef:
          type:
          - string
          - 'null'
          description: 'Reference to the vendor for this transaction.

            QBO: VendorRef

            Xero: Contact.ContactID

            MYOB: Supplier.UID

            SAGE: Contact_Id'
        type:
          type:
          - string
          - 'null'
          description: Type of bill.
          deprecated: true
        currencyCode:
          type:
          - string
          - 'null'
          description: 'Unique id or code for the currency in which all amounts on the associated transaction are expressed.

            QBO: CurrencyRef

            Xero: CurrencyCode

            MYOB: ForeignCurrency.UID (read-only

            SAGE: Currency_Id'
        baseCurrency:
          type:
          - string
          - 'null'
          description: 'Determines whether the bill is expressed in the home currency or foreign currency.

            QBO: When BaseCurrency is not equal to the provided CurrencyCode, automatically look up the currency exchange rate and apply it to the bill.

            Xero: N/A

            MYOB: N/A'
        txnDate:
          type:
          - string
          - 'null'
          description: 'The date this transaction occurred. Defaults to current date if not provided.

            QBO: TxnDate

            Xero: Date

            MYOB: Date

            SAGE: Date'
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          description: 'Date when the payment of the transaction is due.

            QBO: DueDate

            Xero: DueDate

            MYOB: Terms.DueDate

            SAGE: Due_Date'
          format: date-time
        docNumber:
          type:
          - string
          - 'null'
          description: 'Reference number for the transaction.

            QBO: DocNumber.

            Xero: InvoiceNumber.

            MYOB: Number

            SAGE: Reference'
        paymentTermRef:
          type:
          - string
          - 'null'
          description: 'Id or code of the payment term associated with the transaction.

            QBO: PaymentTermRef

            Xero: N/A (apply payment terms on customer or vendor instead)

            MYOB: Terms.PaymentIsDue and Terms.BalanceDueDate'
        freightTaxCodeRef:
          type:
          - string
          - 'null'
          description: 'QBO: N/A

            Xero: N/A

            MYOB: FreightTaxCode.UID

            Sage: N/A'
        line:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillLineModel'
          description: 'Individual line items for the bill.

            QBO: Line

            Xero: LineItems

            MYOB: Lines

            Sage: Invoice_Lines'
        privateNote:
          type:
          - string
          - 'null'
          description: 'Private note for the transaction. This note does not appear externally outside the organization.

            QBO: PrivateNote

            Xero: N/A

            MYOB: N/A

            SAGE: Notes'
        status:
          type:
          - string
          - 'null'
          description: "The status of the bill.\nQBO: Status - Valid values: Deleted\nXero: Status - Valid values: DRAFT, SUBMITTED, DELETED, AUTHORISED, PAID, and VOIDED \nMYOB: Status - Valid values: Unknown, Open, Closed, Debit\nSAGE: Status.Id - Valid values: UNPAID, PART_PAID, PAID, VOID, DRAFT, DISPUTED, DECLINED or PRO_FORMA"
        referenceNumber:
          maxLength: 255
          type:
          - string
          - 'null'
          description: 'Additional reference number for the bill, e.g., supplier invoice number. Max chars: 255.

            QBO: N/A

            Xero: N/A

            MYOB: SupplierInvoiceNumber

            Sage: Vendor_Reference'
        createDateTime:
          type:
          - string
          - 'null'
          description: 'CreateDateTime for the bill

            QBO: MetaData.CreateTime'
          format: date-time
        modifyDateTime:
          type:
          - string
          - 'null'
          description: 'ModifyDateTime for the bill

            QBO: MetaData.LastUpdatedTime'
          format: date-time
        showTaxInclusiveAmounts:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether to display amounts on the bill with tax included or not.

            QBO: GlobalTaxCalculation (true -> TaxInclusive, false -> TaxExcluded, null -> NotApplicable)'
      additionalProperties: false
      description: 'Represents a Vendor Bill to be saved to the financial system.

        QBO: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/bill

        Xero: https://developer.xero.com/documentation/api/accounting/invoices

        MYOB: https://developer.myob.com/api/myob-business-api/v2/purchase/bill/

        SAGE: https://developer.myob.cohttps://developer.sage.com/accounting/reference/invoicing-purchases/#tag/Purchase-Invoices'
    CreditMemoModelListAPIResponse:
      type: object
      properties:
        Version:
          type:
          - string
          - 'null'
        StatusCode:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        ResponseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreditMemoModel'
      additionalProperties: false
    SupplierModelListAPIResponse:
      type: object
      properties:
        Version:
          type:
          - string
          - 'null'
        StatusCode:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        ResponseException:
          allOf:
          - $ref: '#/components/schemas/ApiError'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SupplierModel'
      additionalProperties: false
    InvoiceModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique id of the invoice. Provide when updating the record.
        override:
          type: boolean
          description: Set to true to force an update to the record regardless of version conflict. SyncToken is not required if Override is true.
        syncToken:
          type:
          - string
          - 'null'
          description: SyncToken to ensure updating the latest version of the record. Used for updating with QBO and MYOB.
        upsert:
          type: boolean
          description: 'When no unique Id is provided, allow updating if a matching Invoice record exists, otherwise create a new record

            QBO: Update a matching record by DocNumber.

            Xero: Update a matching record by DocNumber.

            Sage: Update a matching record by DocNumber.'
        customerRef:
          type:
          - string
          - 'null'
          description: 'Customer Reference

            Sage: Contact_Id'
        line:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/InvoiceLineModel'
          description: An array of line invoice information
        currencyCode:
          type:
          - string
          - 'null'
          description: 'In QBO maps with CurrencyRef.Value

            Sage: Currency_Id'
        baseCurrency:
          type:
          - string
          - 'null'
          description: Misc. field to determine if Currency code is home currency or foreign currency
        invoiceType:
          type:
          - string
          - 'null'
          description: Type of invoice.
          deprecated: true
        txnDate:
          type:
          - string
          - 'null'
          description: '(Date field for Myob)

            The date entered by the user when this transaction occurred.

            yyyy/MM/dd is the valid date format.

            Sage: Date'
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          description: 'Date when the payment of the transaction is due. If date is not provided, the number of days specified in SalesTermRef added the transaction date will be used.

            Sage: Due_Date'
          format: date-time
        paymentTermRef:
          type:
          - string
          - 'null'
          description: "Reference to the sales term associated with the transaction. Query the Term name list resource to determine the appropriate Term object for this reference. \nSage: Payments_Allocation.Reference"
        billAddr:
          allOf:
          - $ref: '#/components/schemas/AddressModel'
          description: Bill-to address of the Invoice. If BillAddris not specified, and a default Customer:BillingAddr is specified in QuickBooks for this customer, the default bill-to address is used by QuickBooks.
        shipAddr:
          allOf:
          - $ref: '#/components/schemas/AddressModel'
          description: "(ShipToAddress field for Myob)\nIdentifies the address where the goods must be shipped. If ShipAddris not specified, and a default Customer:ShippingAddr is specified in QuickBooks \nfor this customer, the default ship-to address will be used by QuickBooks."
        docNumber:
          type:
          - string
          - 'null'
          description: 'Reference number for the transaction. QBO: DocNumber. Xero: InvoiceNumber. Sage: Reference.

            Max Chars : 21 (QBO: Max Chars - 21, MYOB: Max Chars - 30, Xero: Max Chars - 50, Sage: Max Chars - 25)'
        status:
          type:
          - string
          - 'null'
          description: '(Myob -> Open, Close, Credit)

            Invoice Status (Xero-Submitted,Authorised)

[...]
