openapi: 3.2.0
info:
  title: JobBOSS² Public Currency Codes API
  description: Provides a common API surface for accessing ECI ERP JobBOSS².
  version: v1
servers:
- url: https://api-jb2.integrations.ecimanufacturing.com:443
  description: API Host
security:
- Bearer: []
tags:
- name: Currency Codes
paths:
  /api/v1/currency-codes:
    get:
      tags:
      - Currency Codes
      summary: Gets a list of Currency Codes
      description: 'By default a currency code response will include only the fields: accountingID, buyRate, currencyCode, uniqueID, currencyFormat, currencySymbol, dateEntered, decimalPlaces, decimalSymbol, description, enteredBy, formatShow, GLCode, lastModDate, lastModUser, negativeCurrencyFormat, negativeFormatShow, QBCurrencyCode, sellRate, thousandsSeparator. You may specify the exact fields to return using the fields parameter.'
      parameters:
      - name: fields
        in: query
        description: A comma separated list of fields to include in the result.
        schema:
          type: string
      - name: sort
        in: query
        description: A comma separated list of field to sort by. See the <a href='#sort-expressions'>Sort Expressions</a> section for more information.
        schema:
          type: string
      - name: filters
        in: query
        description: Filters must be provided as query string parameters as defined in the <a href='#filter-expressions'>Filter Expressions</a> section.
        schema:
          type: object
          additionalProperties:
            type: string
        examples:
          No filters: {}
          Filter by GL Code:
            value:
              GLCode: '4100'
      - name: skip
        in: query
        description: The number of records at the start of the result set to skip over.
        schema:
          type: string
      - name: take
        in: query
        description: The number of records to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCodeListSuccessResponse'
              example:
                Data:
                - accountingID: string
                  buyRate: 0
                  currencyCode: string
                  currencyFormat: string
                  currencySymbol: string
                  dateEntered: '2026-09-06T17:13:12.0000000+00:00'
                  decimalPlaces: 0
                  decimalSymbol: string
                  description: string
                  enteredBy: string
                  formatShow: string
                  GLCode: string
                  lastModDate: '2026-09-06T17:13:12.0000000+00:00'
                  lastModUser: string
                  negativeCurrencyFormat: string
                  negativeFormatShow: string
                  QBCurrencyCode: string
                  sellRate: 0
                  thousandsSeparator: string
                  uniqueID: 0
      operationId: getApiV1CurrencyCodes
      x-operation-id-source: derived
components:
  schemas:
    CurrencyCode:
      type: object
      properties:
        accountingID:
          type:
          - string
          - 'null'
          readOnly: true
        buyRate:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        currencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        currencyFormat:
          type:
          - string
          - 'null'
          readOnly: true
        currencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
        dateEntered:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        decimalPlaces:
          type:
          - integer
          - 'null'
          format: int32
          readOnly: true
        decimalSymbol:
          type:
          - string
          - 'null'
          readOnly: true
        description:
          type:
          - string
          - 'null'
          readOnly: true
        enteredBy:
          type:
          - string
          - 'null'
          readOnly: true
        formatShow:
          type:
          - string
          - 'null'
          readOnly: true
        GLCode:
          type:
          - string
          - 'null'
          readOnly: true
        lastModDate:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        lastModUser:
          type:
          - string
          - 'null'
          readOnly: true
        negativeCurrencyFormat:
          type:
          - string
          - 'null'
          readOnly: true
        negativeFormatShow:
          type:
          - string
          - 'null'
          readOnly: true
        QBCurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        sellRate:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
        thousandsSeparator:
          type:
          - string
          - 'null'
          readOnly: true
        uniqueID:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CurrencyCodeListSuccessResponse:
      type: object
      properties:
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CurrencyCode'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: oauth2
      description: OAuth 2.0 Client Credentials Flow with API Users issued from Integration Engine Management Console
      flows:
        clientCredentials:
          tokenUrl: https://api-user.integrations.ecimanufacturing.com/oauth2/api-user/token
          scopes:
            openid: openid
