openapi: 3.2.0
info:
  title: Lasso Registrant Opted-Status API
  description: 'Overview


    Use this API to manage Registrant, Project, and Inventory data within Lasso CRM.'
  version: 1.0.39
servers:
- url: https://api.lassocrm.com/v1
  description: Production endpoint
tags:
- name: Registrant Opted-Status
paths:
  /emails/{email}/opted-status/:
    parameters:
    - in: path
      name: email
      required: true
      schema:
        type: string
    get:
      summary: Retrieve an opted status
      operationId: get_registrants_opted_status_by_email
      tags:
      - Registrant Opted-Status
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Opted-status found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptedStatusRepresentation'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update an opted-status
      operationId: put_registrants_opted_status_by_email
      description: Update an opted-status. This will overwrite the existing opted-status for that user with the one in the request payload. If the payload is not a valid StatusEnum value ("Non-Opted", "Opted-In", or "Opted-Out"), the request will be discarded as malformed.
      tags:
      - Registrant Opted-Status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptedStatusRepresentation'
      security:
      - JwtAuthorizer: []
      responses:
        200:
          description: Opted-status successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptedStatusRepresentation'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    BadRequest:
      description: 'The request could not be processed due to invalid input:

        - Is the request payload malformed?

        - Are all required fields present?

        - Are field values of the expected type (ie, number format, date format)?

        - Are field values within the expected constraints (ie, greater than max size of string)?

        - Are query params of the expected format?


        Check the body model for more documentation on field constraints and limits.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Unauthorized:
      description: The request has not been fulfilled because it lacks valid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    InternalServerError:
      description: Receiving a 5xx response indicates an error on Lasso's end. Please contact us to report the problem
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    Forbidden:
      description: The provided authentication credentials does not have sufficient privileges to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  schemas:
    StandardError:
      type: object
      title: Standard Error
      description: A standard error response format.
      properties:
        errorCode:
          type: integer
          example: 4xx
        error:
          type: string
          description: A summary of the error
          example: A summary of the error
        errorMessage:
          type: string
          description: Details of the error
          example: Details of the error
    OptedStatusRepresentation:
      type: object
      title: The representation of the opted-status for an e-mail
      properties:
        status:
          type: string
          enum:
          - Non-Opted
          - Opted-In
          - Opted-Out
          description: This registrant's opted-status value
  securitySchemes:
    JwtAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
